
## for race map -- data

## this still has a problem that not all lat lons will line up with the cities, maybe white space issue? leaves out some, i add in new york new york manually because of this

In [1]:
import pandas as pd

import numpy as np

#import cartopy.crs as ccrs
#import cartopy.feature as cfeature
#import matplotlib.pyplot as plt

#import seaborn as sns

In [2]:
#crime = pd.read_csv("Table_13_by_state_to_csv.csv")
df = pd.read_excel("Table_13_Hate_Crime_Incidents_per_Bias_Motivation_and_Quarter_by_State_and_Agency_2014.xlsx", sheetname=0, header=0)

#df = crime
#df.head(100)

## above is where csv from step 1 should be put with semi formatted crime data, leaving in this case since i didnt do that yet this time

In [3]:
print(df.head())
df.tail()
#get rid of non cities, since havent renewed excel subscription!
# if both 'state'  and Unnamed: 1 are null 
#df.dropna(axis=0, subset=[['city', 'longitude', 'latitude']], thresh=2)
#df.dropna(thresh=12) #drop rows with less than 12 observations

     state  agency        city  Race  Religion  Sexual\norientation  \
0  Alabama   Total         NaN   7.0       1.0                  0.0
1      NaN  Cities         NaN   7.0       1.0                  0.0
2      NaN     NaN   Fairfield   1.0       0.0                  0.0
3      NaN     NaN      Hoover   0.0       1.0                  0.0
4      NaN     NaN  Prattville   4.0       0.0                  0.0

   Ethnicity  Disability  Gender  Gender Identity  1st\nquarter  2nd\nquarter  \
0        1.0         0.0     0.0              0.0           NaN           NaN
1        1.0         0.0     0.0              0.0           NaN           NaN
2        0.0         0.0     0.0              0.0           NaN           1.0
3        1.0         0.0     0.0              0.0           1.0           0.0
4        0.0         0.0     0.0              0.0           NaN           3.0

   3rd\nquarter  4th\nquarter  Unnamed: 14  Unnamed: 15  Unnamed: 16  \
0           NaN           NaN          NaN          NaN          NaN
1           NaN           NaN          NaN          NaN          NaN
2           NaN           NaN      10913.0          NaN          NaN
3           0.0           1.0      84843.0          NaN          NaN
4           1.0           NaN      35530.0          NaN          NaN

  Unnamed: 17
0         NaN
1
2         NaN
3         NaN
4         NaN

,state,agency,city,Race,Religion,Sexual orientation,Ethnicity,Disability,Gender,Gender Identity,1st quarter,2nd quarter,3rd quarter,4th quarter,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
1890,NaN,NaN,Burnett,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN
1891,NaN,NaN,Juneau,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN
1892,NaN,NaN,Sauk,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN
1893,NaN,NaN,Sawyer,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,NaN,NaN,NaN,NaN
1894,NaN,NaN,Vilas,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN

In [4]:
state = df['state'].fillna(method='ffill')
# then keep rows where agency = cities :)

In [5]:
df['state'] = state;

In [6]:
agency = df['agency'].fillna(method='ffill')

In [7]:
df['agency'] = agency;

In [8]:
print(df.head(5))
df.tail(5)

     state  agency        city  Race  Religion  Sexual\norientation  \
0  Alabama   Total         NaN   7.0       1.0                  0.0
1  Alabama  Cities         NaN   7.0       1.0                  0.0
2  Alabama  Cities   Fairfield   1.0       0.0                  0.0
3  Alabama  Cities      Hoover   0.0       1.0                  0.0
4  Alabama  Cities  Prattville   4.0       0.0                  0.0

   Ethnicity  Disability  Gender  Gender Identity  1st\nquarter  2nd\nquarter  \
0        1.0         0.0     0.0              0.0           NaN           NaN
1        1.0         0.0     0.0              0.0           NaN           NaN
2        0.0         0.0     0.0              0.0           NaN           1.0
3        1.0         0.0     0.0              0.0           1.0           0.0
4        0.0         0.0     0.0              0.0           NaN           3.0

   3rd\nquarter  4th\nquarter  Unnamed: 14  Unnamed: 15  Unnamed: 16  \
0           NaN           NaN          NaN          NaN          NaN
1           NaN           NaN          NaN          NaN          NaN
2           NaN           NaN      10913.0          NaN          NaN
3           0.0           1.0      84843.0          NaN          NaN
4           1.0           NaN      35530.0          NaN          NaN

  Unnamed: 17
0         NaN
1
2         NaN
3         NaN
4         NaN

,state,agency,city,Race,Religion,Sexual orientation,Ethnicity,Disability,Gender,Gender Identity,1st quarter,2nd quarter,3rd quarter,4th quarter,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
1890,Wisconsin,Nonmetropolitan Counties,Burnett,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN
1891,Wisconsin,Nonmetropolitan Counties,Juneau,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN
1892,Wisconsin,Nonmetropolitan Counties,Sauk,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN
1893,Wisconsin,Nonmetropolitan Counties,Sawyer,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,NaN,NaN,NaN,NaN
1894,Wisconsin,Nonmetropolitan Counties,Vilas,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN

In [9]:
df = df[df.agency == 'Cities']

In [10]:
df

,state,agency,city,Race,Religion,Sexual orientation,Ethnicity,Disability,Gender,Gender Identity,1st quarter,2nd quarter,3rd quarter,4th quarter,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
1,Alabama,Cities,NaN,7.0,1.0,0.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
2,Alabama,Cities,Fairfield,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,1.0,NaN,NaN,10913.0,NaN,NaN,NaN
3,Alabama,Cities,Hoover,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,84843.0,NaN,NaN,NaN
4,Alabama,Cities,Prattville,4.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,3.0,1.0,NaN,35530.0,NaN,NaN,NaN
5,Alabama,Cities,Sylacauga,2.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,1.0,1.0,12722.0,NaN,NaN,NaN
7,Alaska,Cities,NaN,5.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Alaska,Cities,Anchorage,5.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,2.0,301306.0,NaN,NaN,NaN
10,Arizona,Cities,NaN,117.0,35.0,47.0,44.0,3.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Arizona,Cities,Apache Junction,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,37274.0,NaN,NaN,NaN
12,Arizona,Cities,Avondale,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,79472.0,NaN,NaN,NaN
13,Arizona,Cities,Chandler,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,252369.0,NaN,NaN,NaN
14,Arizona,Cities,Cottonwood,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,11490.0,NaN,NaN,NaN
15,Arizona,Cities,El Mirage,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,33307.0,NaN,NaN,NaN
16,Arizona,Cities,Flagstaff,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,69490.0,NaN,NaN,NaN
17,Arizona,Cities,Gilbert,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,235430.0,NaN,NaN,NaN
18,Arizona,Cities,Glendale,4.0,2.0,2.0,1.0,0.0,0.0,0.0,2.0,3.0,3.0,1.0,236780.0,NaN,NaN,NaN
19,Arizona,Cities,Goodyear,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,74826.0,NaN,NaN,NaN
20,Arizona,Cities,Kingman,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,28526.0,NaN,NaN,NaN
21,Arizona,Cities,Mesa,4.0,1.0,3.0,2.0,0.0,0.0,0.0,0.0,3.0,1.0,6.0,462092.0,NaN,NaN,NaN
22,Arizona,Cities,Oro Valley,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,41764.0,NaN,NaN,NaN
23,Arizona,Cities,Phoenix,91.0,19.0,35.0,35.0,3.0,0.0,0.0,37.0,41.0,47.0,58.0,1529852.0,NaN,NaN,NaN
24,Arizona,Cities,Scottsdale,2.0,1.0,1.0,1.0,0.0,0.0,0.0,2.0,0.0,1.0,2.0,229325.0,NaN,NaN,NaN
25,Arizona,Cities,Tempe,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,169812.0,NaN,NaN,NaN
26,Arizona,Cities,Tucson,4.0,2.0,3.0,0.0,0.0,0.0,0.0,1.0,4.0,3.0,1.0,527328.0,NaN,NaN,NaN
27,Arizona,Cities,Yuma,4.0,6.0,1.0,3.0,0.0,0.0,0.0,5.0,7.0,2.0,0.0,92075.0,NaN,NaN,NaN
36,Arkansas,Cities,NaN,3.0,1.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Arkansas,Cities,Fort Smith,3.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,0.0,87989.0,NaN,NaN,NaN
38,Arkansas,Cities,Rogers,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,61105.0,NaN,NaN,NaN
46,California,Cities,NaN,247.0,116.0,143.0,91.0,4.0,1.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,California,Cities,Adelanto,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,31213.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1812,Washington,Cities,Sammamish,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,51016.0,NaN,NaN,NaN
1813,Washington,Cities,Seattle,64.0,10.0,21.0,9.0,0.0,3.0,0.0,21.0,27.0,29.0,30.0,663410.0,NaN,NaN,NaN
1814,Washington,Cities,Sequim,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,6682.0,NaN,NaN,NaN
1815,Washington,Cities,Shelton,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,9724.0,NaN,NaN,NaN
1816,Washington,Cities,Spokane2,7.0,3.0,1.0,0.0,0.0,0.0,0.0,1.0,4.0,1.0,5.0,211025.0,NaN,NaN,NaN
1817,Washington,Cities,Spokane Valley,3.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,0.0,91382.0,NaN,NaN,NaN
1818,Washington,Cities,Tacoma,3.0,0.0,2.0,0.0,0.0,0.0,0.0,4.0,1.0,0.0,0.0,204722.0,NaN,NaN,NaN
1819,Washington,Cities,Vancouver,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,1.0,1.0,168688.0,NaN,NaN,NaN
1820,Washington,Cities,Walla Walla,4.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,2.0,3.0,3.0,31833.0,NaN,NaN,NaN
1821,Washington,Cities,Woodinville,1.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,11408.0,NaN,NaN,NaN
1822,Washington,Cities,Yakima,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,93667.0,NaN,NaN,NaN
1848,West Virginia,Cities,NaN,11.0,0.0,1.0,1.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1849,West Virginia,Cities,Charleston,3.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,2.0,2.0,50693.0,NaN,NaN,NaN
1850,West Virginia,Cities,Chester,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2542.0,NaN,NaN,NaN
1851,West Virginia,Cities,Fairmont,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,18835.0,NaN,NaN,NaN
1852,West Virginia,Cities,Hinton,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,2566.0,NaN,NaN,NaN
1853,West Virginia,Cities,Moundsville,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,8846.0,NaN,NaN,NaN
1854,West Virginia,Cities,Weirton,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,19476.0,NaN,NaN,NaN
1855,West Virginia,Cities,Winfield,3.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,2331.0,NaN,NaN,NaN
1868,Wisconsin,Cities,NaN,18.0,4.0,9.0,4.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1869,Wisconsin,Cities,Appleton,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,73841.0,NaN,NaN,NaN
1870,Wisconsin,Cities,Fond du Lac,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,42953.0,NaN,NaN,NaN
1871,Wisconsin,Cities,Janesville,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,63885.0,NaN,NaN,NaN
1872,Wisconsin,Cities,La Crosse,3.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,51564.0,NaN,NaN,NaN
1873,Wisconsin,Cities,Madison,3.0,1.0,4.0,2.0,0.0,0.0,0.0,1.0,2.0,3.0,4.0,245788.0,NaN,NaN,NaN
1874,Wisconsin,Cities,Milwaukee,5.0,2.0,2.0,2.0,0.0,0.0,0.0,2.0,4.0,1.0,4.0,600374.0,NaN,NaN,NaN
1875,Wisconsin,Cities,Oak Creek,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,35138.0,NaN,NaN,NaN
1876,Wisconsin,Cities,River Falls,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,15250.0,NaN,NaN,NaN
1877,Wisconsin,Cities,Stevens Point,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,26665.0,NaN,NaN,NaN
1878,Wisconsin,Cities,Waupun,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,11326.0,NaN,NaN,NaN

In [11]:
df.shape

(1266, 18)

In [12]:
#df.columns = ['state', 'city', 'race, ethnicity, ancestry','religion', 'SO', 'disabililty',"gender","gender_identity"]

In [13]:
#df.dropna()

In [14]:

#df = df.drop(df.index[0:5])

df = df.rename(columns = {
'Table 13':"state",
"Unnamed: 1":"agency_type" , 
"Unnamed: 2":"agency_name" , 
"Unnamed: 3":"race" , 
"Unnamed: 4":"religion"  ,  
"Unnamed: 5":"sexual_orientation",
"Unnamed: 6":"disability",
"Unnamed: 7":"gender",
"Unnamed: 8":"genderID",
"Unnamed: 9":"first_q",
"Unnamed: 10":"second_q",
"Unnamed: 11":"third_q",
"Unnamed: 12":"fourth_q",
"Unnamed: 13":"population",
    
})

In [15]:
list(df.columns)

['state',
 'agency',
 'city',
 'Race',
 'Religion',
 'Sexual\norientation',
 'Ethnicity',
 'Disability',
 'Gender',
 'Gender Identity',
 '1st\nquarter',
 '2nd\nquarter',
 '3rd\nquarter',
 '4th\nquarter',
 'Unnamed: 14',
 'Unnamed: 15',
 'Unnamed: 16',
 'Unnamed: 17']

In [16]:
del df["1st\nquarter"]
del df["2nd\nquarter"]
del df["3rd\nquarter"]
del df["4th\nquarter"]
del df['Unnamed: 15']
del df['Unnamed: 16']
del df['Unnamed: 17']

#'1st\nquarter', '2nd\nquarter', '3rd\nquarter', '4th\nquarter',

In [17]:

#df = df[:-7]

x = df

#fill in these two string columns

x[['state', 'agency_type']] = x[['state','agency_type']].fillna(method='ffill')

In [18]:
print(df.columns)
df.tail(100)

Index(['state', 'agency', 'city', 'Race', 'Religion', 'Sexual\norientation',
       'Ethnicity', 'Disability', 'Gender', 'Gender Identity', 'Unnamed: 14'],
      dtype='object')

,state,agency,city,Race,Religion,Sexual orientation,Ethnicity,Disability,Gender,Gender Identity,Unnamed: 14
1706,Vermont,Cities,NaN,5.0,3.0,1.0,0.0,4.0,0.0,0.0,NaN
1707,Vermont,Cities,Bellows Falls,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3058.0
1708,Vermont,Cities,Burlington,2.0,0.0,0.0,0.0,0.0,0.0,0.0,42252.0
1709,Vermont,Cities,Essex,0.0,2.0,0.0,0.0,0.0,0.0,0.0,20755.0
1710,Vermont,Cities,Manchester,1.0,0.0,0.0,0.0,0.0,0.0,0.0,4335.0
1711,Vermont,Cities,Middlebury,0.0,0.0,1.0,0.0,1.0,0.0,0.0,8504.0
1712,Vermont,Cities,Randolph,0.0,1.0,0.0,0.0,0.0,0.0,0.0,4752.0
1713,Vermont,Cities,South Burlington,0.0,0.0,0.0,0.0,3.0,0.0,0.0,18779.0
1714,Vermont,Cities,Winooski,1.0,0.0,0.0,0.0,0.0,0.0,0.0,7232.0
1720,Virginia,Cities,NaN,30.0,8.0,15.0,6.0,1.0,0.0,0.0,NaN
1721,Virginia,Cities,Alexandria,1.0,0.0,0.0,0.0,0.0,0.0,0.0,151065.0
1722,Virginia,Cities,Bristol,1.0,0.0,0.0,0.0,0.0,0.0,0.0,17225.0
1723,Virginia,Cities,Charlottesville,1.0,1.0,0.0,0.0,0.0,0.0,0.0,44574.0
1724,Virginia,Cities,Chesapeake,5.0,1.0,0.0,0.0,0.0,0.0,0.0,232489.0
1725,Virginia,Cities,Falls Church,1.0,0.0,0.0,0.0,0.0,0.0,0.0,13794.0
1726,Virginia,Cities,Fredericksburg,2.0,0.0,0.0,0.0,0.0,0.0,0.0,29158.0
1727,Virginia,Cities,Front Royal,1.0,0.0,0.0,0.0,0.0,0.0,0.0,15009.0
1728,Virginia,Cities,Hampton,1.0,0.0,0.0,1.0,0.0,0.0,0.0,136590.0
1729,Virginia,Cities,Harrisonburg,0.0,1.0,0.0,1.0,0.0,0.0,0.0,52026.0
1730,Virginia,Cities,Leesburg,0.0,0.0,1.0,0.0,0.0,0.0,0.0,48913.0
1731,Virginia,Cities,Lynchburg,1.0,0.0,0.0,0.0,0.0,0.0,0.0,78639.0
1732,Virginia,Cities,Manassas,2.0,0.0,0.0,0.0,0.0,0.0,0.0,42641.0
1733,Virginia,Cities,Newport News,0.0,0.0,4.0,0.0,0.0,0.0,0.0,182374.0
1734,Virginia,Cities,Norfolk,2.0,0.0,7.0,3.0,0.0,0.0,0.0,247078.0
1735,Virginia,Cities,Portsmouth,3.0,1.0,0.0,0.0,0.0,0.0,0.0,96435.0
1736,Virginia,Cities,Purcellville,1.0,0.0,0.0,0.0,0.0,0.0,0.0,8821.0
1737,Virginia,Cities,Rich Creek,0.0,1.0,0.0,0.0,0.0,0.0,0.0,760.0
1738,Virginia,Cities,Richmond,0.0,1.0,1.0,1.0,0.0,0.0,0.0,216747.0
1739,Virginia,Cities,Staunton,0.0,0.0,1.0,0.0,0.0,0.0,0.0,24499.0
1740,Virginia,Cities,Suffolk,1.0,0.0,0.0,0.0,0.0,0.0,0.0,85987.0
...,...,...,...,...,...,...,...,...,...,...,...
1812,Washington,Cities,Sammamish,0.0,1.0,0.0,0.0,0.0,0.0,0.0,51016.0
1813,Washington,Cities,Seattle,64.0,10.0,21.0,9.0,0.0,3.0,0.0,663410.0
1814,Washington,Cities,Sequim,1.0,1.0,0.0,0.0,0.0,0.0,0.0,6682.0
1815,Washington,Cities,Shelton,0.0,2.0,0.0,0.0,0.0,0.0,0.0,9724.0
1816,Washington,Cities,Spokane2,7.0,3.0,1.0,0.0,0.0,0.0,0.0,211025.0
1817,Washington,Cities,Spokane Valley,3.0,1.0,0.0,0.0,0.0,0.0,0.0,91382.0
1818,Washington,Cities,Tacoma,3.0,0.0,2.0,0.0,0.0,0.0,0.0,204722.0
1819,Washington,Cities,Vancouver,6.0,0.0,0.0,0.0,0.0,0.0,0.0,168688.0
1820,Washington,Cities,Walla Walla,4.0,1.0,1.0,1.0,1.0,0.0,0.0,31833.0
1821,Washington,Cities,Woodinville,1.0,0.0,0.0,1.0,0.0,0.0,0.0,11408.0
1822,Washington,Cities,Yakima,1.0,2.0,0.0,0.0,0.0,0.0,0.0,93667.0
1848,West Virginia,Cities,NaN,11.0,0.0,1.0,1.0,1.0,0.0,0.0,NaN
1849,West Virginia,Cities,Charleston,3.0,0.0,1.0,1.0,0.0,0.0,0.0,50693.0
1850,West Virginia,Cities,Chester,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2542.0
1851,West Virginia,Cities,Fairmont,1.0,0.0,0.0,0.0,1.0,0.0,0.0,18835.0
1852,West Virginia,Cities,Hinton,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2566.0
1853,West Virginia,Cities,Moundsville,1.0,0.0,0.0,0.0,0.0,0.0,0.0,8846.0
1854,West Virginia,Cities,Weirton,1.0,0.0,0.0,0.0,0.0,0.0,0.0,19476.0
1855,West Virginia,Cities,Winfield,3.0,0.0,0.0,0.0,0.0,0.0,0.0,2331.0
1868,Wisconsin,Cities,NaN,18.0,4.0,9.0,4.0,0.0,0.0,0.0,NaN
1869,Wisconsin,Cities,Appleton,1.0,0.0,2.0,0.0,0.0,0.0,0.0,73841.0
1870,Wisconsin,Cities,Fond du Lac,1.0,0.0,0.0,0.0,0.0,0.0,0.0,42953.0
1871,Wisconsin,Cities,Janesville,2.0,0.0,0.0,0.0,0.0,0.0,0.0,63885.0
1872,Wisconsin,Cities,La Crosse,3.0,0.0,0.0,0.0,0.0,0.0,0.0,51564.0
1873,Wisconsin,Cities,Madison,3.0,1.0,4.0,2.0,0.0,0.0,0.0,245788.0
1874,Wisconsin,Cities,Milwaukee,5.0,2.0,2.0,2.0,0.0,0.0,0.0,600374.0
1875,Wisconsin,Cities,Oak Creek,1.0,0.0,0.0,0.0,0.0,0.0,0.0,35138.0
1876,Wisconsin,Cities,River Falls,0.0,0.0,1.0,0.0,0.0,0.0,0.0,15250.0
1877,Wisconsin,Cities,Stevens Point,1.0,0.0,0.0,0.0,0.0,0.0,0.0,26665.0
1878,Wisconsin,Cities,Waupun,1.0,1.0,0.0,0.0,0.0,0.0,0.0,11326.0

In [19]:
#df = df.drop(df.index[2014:]) #rop rows of notes on population figs etc at the end

In [20]:
#df.tail()

In [21]:
df = df.rename(columns={'Unnamed: 14': 'population',})

In [22]:
df.head()

,state,agency,city,Race,Religion,Sexual orientation,Ethnicity,Disability,Gender,Gender Identity,population
1,Alabama,Cities,NaN,7.0,1.0,0.0,1.0,0.0,0.0,0.0,NaN
2,Alabama,Cities,Fairfield,1.0,0.0,0.0,0.0,0.0,0.0,0.0,10913.0
3,Alabama,Cities,Hoover,0.0,1.0,0.0,1.0,0.0,0.0,0.0,84843.0
4,Alabama,Cities,Prattville,4.0,0.0,0.0,0.0,0.0,0.0,0.0,35530.0
5,Alabama,Cities,Sylacauga,2.0,0.0,0.0,0.0,0.0,0.0,0.0,12722.0

In [23]:
df = df[df['city'].notnull()] # get rid of nans, which were totals for state,including cities and coutines etc that are not here

In [24]:
df.head()

,state,agency,city,Race,Religion,Sexual orientation,Ethnicity,Disability,Gender,Gender Identity,population
2,Alabama,Cities,Fairfield,1.0,0.0,0.0,0.0,0.0,0.0,0.0,10913.0
3,Alabama,Cities,Hoover,0.0,1.0,0.0,1.0,0.0,0.0,0.0,84843.0
4,Alabama,Cities,Prattville,4.0,0.0,0.0,0.0,0.0,0.0,0.0,35530.0
5,Alabama,Cities,Sylacauga,2.0,0.0,0.0,0.0,0.0,0.0,0.0,12722.0
8,Alaska,Cities,Anchorage,5.0,0.0,1.0,0.0,0.0,0.0,0.0,301306.0

In [25]:
del df["agency"]

In [26]:
#df = df.dropna(thresh=5)

x[['state', 'agency_type']] = x[['state','agency_type']].fillna(method='ffill')

df[['state','agency_type']].fillna(method='ffill')

get rid of rows with NAN

x = x.dropna()

g = x[x['agency_type'] == "Cities"]

#df[pd.notnull(df['c'])]
h = g[pd.notnull(g['agency_name'])]

t = h

t['population'] = t['population'].str.replace(',', '')

In [27]:
#t.iloc[:, :].apply(pd.to_numeric)  #all rows, column 1-6
#df = df.apply(pd.to_numeric, errors='ignore')

In [28]:

df.dtypes

state                   object
city                    object
Race                   float64
Religion               float64
Sexual\norientation    float64
Ethnicity              float64
Disability             float64
Gender                 float64
Gender Identity        float64
population             float64
dtype: object

In [29]:
np.sum([df.state.isnull()])

0

In [30]:
print(df.columns)

Index(['state', 'city', 'Race', 'Religion', 'Sexual\norientation', 'Ethnicity',
       'Disability', 'Gender', 'Gender Identity', 'population'],
      dtype='object')

### they can change column order year to year so you have to manually check the numbers below match the name you want!

In [31]:

#df.columns.values[2] = 'race'
df.columns.values[4] = 'so'
df.columns.values[8] = 'genderID'

In [32]:
# Lower-case all DataFrame column names
df.columns = map(str.lower, df.columns)

In [33]:
df.head(1)

,state,city,race,religion,so,ethnicity,disability,gender,genderid,population
2,Alabama,Fairfield,1.0,0.0,0.0,0.0,0.0,0.0,0.0,10913.0

In [34]:
#Treat the missing or invalid values in your dataframe
####### 

#df = df[df.city.notnull()]

In [35]:
df.dtypes

state          object
city           object
race          float64
religion      float64
so            float64
ethnicity     float64
disability    float64
gender        float64
genderid      float64
population    float64
dtype: object

In [36]:
#convert relition to a number since its a string 

#at this point keep all numbers as floats so calculations later go to decimal points
#change other numbers from floats to integers so no 0.0 action
#df['religion'] = pd.to_numeric(df['religion'],errors='coerce').astype(float)

#df['race'] = pd.to_numeric(df['race'],errors='coerce')
#df['so'] = pd.to_numeric(df['so'],errors='coerce')
#df['disability'] = pd.to_numeric(df['disability'],errors='coerce')
#df['gender'] = pd.to_numeric(df['gender'],errors='coerce')
#df['genderid'] = pd.to_numeric(df['genderid'],errors='coerce')
#df['population'] = pd.to_numeric(df['population'],errors='coerce')
#pd.to_numeric(df, errors='coerce')
#valuelist = ['race', 'Religion', 'so', 'Disability', 'Gender',
     #  'genderID', 'population']
#df = df[df.column.isin(valuelist)]
#pd.to_numeric(df[df.column.isin(valuelist)],errors='coerce')

In [37]:
df.dtypes

state          object
city           object
race          float64
religion      float64
so            float64
ethnicity     float64
disability    float64
gender        float64
genderid      float64
population    float64
dtype: object

In [38]:
df.head()

,state,city,race,religion,so,ethnicity,disability,gender,genderid,population
2,Alabama,Fairfield,1.0,0.0,0.0,0.0,0.0,0.0,0.0,10913.0
3,Alabama,Hoover,0.0,1.0,0.0,1.0,0.0,0.0,0.0,84843.0
4,Alabama,Prattville,4.0,0.0,0.0,0.0,0.0,0.0,0.0,35530.0
5,Alabama,Sylacauga,2.0,0.0,0.0,0.0,0.0,0.0,0.0,12722.0
8,Alaska,Anchorage,5.0,0.0,1.0,0.0,0.0,0.0,0.0,301306.0

In [39]:
print(np.sum(df.race.isnull()))

0

In [40]:
#dupes = df[df.duplicated(['city'], keep=False)]
#dupes1 = df[df.duplicated(['city'], keep=False)]
#print(dupes)

In [41]:
df.columns

Index(['state', 'city', 'race', 'religion', 'so', 'ethnicity', 'disability',
       'gender', 'genderid', 'population'],
      dtype='object')

In [42]:
abbrev = pd.read_csv("state_abbreviations_csv.csv")
del abbrev["Unnamed: 2"]
del abbrev["Unnamed: 3"]
abbrev.columns = ['state', 'abbreviation']

In [43]:
abbrev['state'].str.strip()
abbrev['abbreviation'].str.strip()

0     AL
1     AK
2     AZ
3     AR
4     CA
5     CO
6     CT
7     DE
8     DC
9     FL
10    GA
11    HI
12    ID
13    IL
14    IN
15    IA
16    KS
17    KY
18    LA
19    ME
20    MD
21    MA
22    MI
23    MN
24    MS
25    MO
26    MT
27    NE
28    NV
29    NH
30    NJ
31    NM
32    NY
33    NC
34    ND
35    OH
36    OK
37    OR
38    PA
39    PR
40    RI
41    SC
42    SD
43    TN
44    TX
45    UT
46    VT
47    VA
48    VI
49    WA
50    WV
51    WI
52    WY
Name: abbreviation, dtype: object

In [44]:
abbrev.head(1)

     state abbreviation
0  Alabama           AL

In [45]:
df = pd.merge(df, abbrev, on='state', how='inner')

In [46]:
df.head()

,state,city,race,religion,so,ethnicity,disability,gender,genderid,population,abbreviation
0,Alabama,Fairfield,1.0,0.0,0.0,0.0,0.0,0.0,0.0,10913.0,AL
1,Alabama,Hoover,0.0,1.0,0.0,1.0,0.0,0.0,0.0,84843.0,AL
2,Alabama,Prattville,4.0,0.0,0.0,0.0,0.0,0.0,0.0,35530.0,AL
3,Alabama,Sylacauga,2.0,0.0,0.0,0.0,0.0,0.0,0.0,12722.0,AL
4,Alaska,Anchorage,5.0,0.0,1.0,0.0,0.0,0.0,0.0,301306.0,AK

In [47]:
#df = t

df["race_per_100000"] = (df['race']/df['population']).astype('float64') * 100000
df["religion_per_100000"] = (df['religion']/df['population']).astype('float64') * 100000
df["SO_per_100000"] = (df['so']/df['population']).astype('float64') * 100000
df["disability_per_100000"] = (df['disability']/df['population']).astype('float64') * 100000
df["gender_per_100000"] = (df['gender']/df['population']).astype('float64') * 100000
df["genderID_per_100000"] = (df['genderid']/df['population']).astype('float64') * 100000

In [48]:
#df = df.round(decimals=2)

In [49]:
df.head() #whare are there no numbers with decimals

,state,city,race,religion,so,ethnicity,disability,gender,genderid,population,abbreviation,race_per_100000,religion_per_100000,SO_per_100000,disability_per_100000,gender_per_100000,genderID_per_100000
0,Alabama,Fairfield,1.0,0.0,0.0,0.0,0.0,0.0,0.0,10913.0,AL,9.163383,0.000000,0.000000,0.0,0.0,0.0
1,Alabama,Hoover,0.0,1.0,0.0,1.0,0.0,0.0,0.0,84843.0,AL,0.000000,1.178648,0.000000,0.0,0.0,0.0
2,Alabama,Prattville,4.0,0.0,0.0,0.0,0.0,0.0,0.0,35530.0,AL,11.258092,0.000000,0.000000,0.0,0.0,0.0
3,Alabama,Sylacauga,2.0,0.0,0.0,0.0,0.0,0.0,0.0,12722.0,AL,15.720799,0.000000,0.000000,0.0,0.0,0.0
4,Alaska,Anchorage,5.0,0.0,1.0,0.0,0.0,0.0,0.0,301306.0,AK,1.659443,0.000000,0.331889,0.0,0.0,0.0

# city population size

In [50]:
df = df.loc[df['population'] > 50000]

## it would be great to make a regex that would strip any numbers from end of city name column

In [51]:
df['city'] = df['city'].str.replace('\d', '') # godsend, strips out numbers put on towns

In [52]:
df[df['city'].str.contains('\d')]

Empty DataFrame
Columns: [state, city, race, religion, so, ethnicity, disability, gender, genderid, population, abbreviation, race_per_100000, religion_per_100000, SO_per_100000, disability_per_100000, gender_per_100000, genderID_per_100000]
Index: []

#fixes
df = df.replace("Boston3", "Boston")
df = df.replace("Greensboro3", "Greensboro")
df = df.replace("Toledo3", "Toledo")
df = df.replace("Phoenix2", "Phoenix")

In [53]:
# use with latformat too 
df = df.replace("Las Vegas Metropolitan Police Department", "Las Vegas")
df = df.replace("Nashville Metropolitan", "Nashville")
df = df.replace("Louisville Metro", "Louisville")

df = df.replace("Hartford3", "Hartford")
df = df.replace("Overland Park3", "Overland Park")
df = df.replace("Nedfton3", "Nedfton")
df = df.replace("Quincy3", "Quincy")
df = df.replace("dfarren3", "dfarren")
df = df.replace("Spokane3", "Spokane")
df = df.replace("Bloomington3", "Bloomington")
df = df.replace("Eugene3", "Eugene")
df = df.replace("Somerville2", "Somerville")
df = df.replace("Omaha2", "Omaha")

df = df.replace("Daly City2", "Daly City")
df = df.replace("Malden2", "Malden")
df = df.replace("Washington2", "Washington")
df = df.replace("Manchester2", "Manchester")
df = df.replace("Columbus2", "Columbus")
df = df.replace("Spokane2", "Spokane")
df = df.replace("Manchester2", "Manchester")
df = df.replace("Lexington2", "Lexington")

In [54]:
#df['city'].unique()

In [55]:
df['state'] = df['state'].str.strip()
df['state'] = df['city'].str.strip()

In [56]:
df.columns

Index(['state', 'city', 'race', 'religion', 'so', 'ethnicity', 'disability',
       'gender', 'genderid', 'population', 'abbreviation', 'race_per_100000',
       'religion_per_100000', 'SO_per_100000', 'disability_per_100000',
       'gender_per_100000', 'genderID_per_100000'],
      dtype='object')

formatting below to get rid of decimals for whole number things, like the crimes, but leave decimals for per_100000 numbers

In [57]:
#pd.options.display.float_format = '{:,.1f}'.format #no 0.0's

## below is sometimes necessary but not for 2014


cols=[i for i in df.columns if i not in ['state', 'city', 
        'race_per_100000', 'religion_per_100000',
       'SO_per_100000', 'disability_per_100000', 'gender_per_100000',
       'genderID_per_100000']  ]
for col in cols:
    df[col]=pd.to_numeric(df[col]).astype(int)

In [58]:
df.head()

,state,city,race,religion,so,ethnicity,disability,gender,genderid,population,abbreviation,race_per_100000,religion_per_100000,SO_per_100000,disability_per_100000,gender_per_100000,genderID_per_100000
1,Hoover,Hoover,0.0,1.0,0.0,1.0,0.0,0.0,0.0,84843.0,AL,0.000000,1.178648,0.000000,0.0,0.0,0.0
4,Anchorage,Anchorage,5.0,0.0,1.0,0.0,0.0,0.0,0.0,301306.0,AK,1.659443,0.000000,0.331889,0.0,0.0,0.0
6,Avondale,Avondale,1.0,1.0,0.0,1.0,0.0,0.0,0.0,79472.0,AZ,1.258305,1.258305,0.000000,0.0,0.0,0.0
7,Chandler,Chandler,1.0,0.0,0.0,0.0,0.0,0.0,0.0,252369.0,AZ,0.396245,0.000000,0.000000,0.0,0.0,0.0
10,Flagstaff,Flagstaff,0.0,0.0,1.0,0.0,0.0,0.0,0.0,69490.0,AZ,0.000000,0.000000,1.439056,0.0,0.0,0.0

In [59]:
#not going to run this one but might be the later formatting prb?
df['city'] = df['city'].str.replace('Township','')
df['city'] = df['city'].str.replace('Town','')
df['city'] = df['city'].str.strip(' ')
df['city'] = df['city'].str.replace('Charlotte-Mecklenburg','Charlotte')
df['city'] = df['city'].str.replace('Athens-Clarke County','Athens')
df['city'] = df['city'].str.replace('Parsippany Troy Hills','Parsippany-Troy Hills')
df['city'] = df['city'].str.replace('Mount Vernon','Mt Vernon')
df['city'] = df['city'].str.replace('Hamilton , Mercer County','Hamilton')
df['city'] = df['city'].str.replace('Port St. Lucie' , 'Port St Lucie')
df['city'] = df['city'].str.replace('Shelby', 'Shelby ')
df['city'] = df['city'].str.replace('Bloomfield' , 'Bloomfield ')
df['city'] = df['city'].str.replace('Franklin , Somerset County' , 'Franklin')

In [60]:
df['city'] = df['city'].str.replace('Piscataway' , 'Piscataway ')  
df['city'] = df['city'].str.replace('Woodbridge' , 'Woodbridge ')
df['city'] = df['city'].str.replace('West Chester' , 'West Chester ')
#df['city'] = df['city'].str.replace('San Francisco2' , 'San Francisco')
#df['city'] = df['city'].str.replace('San Bernardino2' , 'San Bernardino')

#df['city'] = df['city'].str.replace('New Orleans2' , 'New Orleans')
df['city'] = df['city'].str.replace('West Chester' , 'West Chester')
df['city'] = df['city'].str.replace('Boston2' , 'Boston')
df['city'] = df['city'].str.replace('Cambridge2' , 'Cambridge')
df['city'] = df['city'].str.replace('Haverhill2' , 'Haverhill')
df['city'] = df['city'].str.replace('Cambridge2' , 'Cambridge')
df['city'] = df['city'].str.replace('University of Kansas, Medical Center3' , 'University of Kansas, Medical Center')


df['city'] = df['city'].str.replace('Lynn2', 'Lynn')
df['city'] = df['city'].str.replace('Newton2' , 'Newton')
df['city'] = df['city'].str.replace('St. Peters2' , 'St. Peters')
df['city'] = df['city'].str.replace('Las Vegas Metropolitan Police Department2' , 'Las Vegas')
df['city'] = df['city'].str.replace('Columbus2' , 'Columbus')
df['city'] = df['city'].str.replace('Murfreesboro2' , 'Murfreesboro')
df['city'] = df['city'].str.replace('Ogden2', 'Ogden')
df['city'] = df['city'].str.replace('Redmond2', 'Redmond')

In [61]:
# CONCERNED ABOUT DOING THIS AND DROPPING CITIES IN DIFFERENT STATES WITH THE SAME NAME?BETTER WAY?
#df = df.drop_duplicates(subset='city', keep="last")

In [62]:
df.head(100)
df[df['state'] == "New York"]

,state,city,race,religion,so,ethnicity,disability,gender,genderid,population,abbreviation,race_per_100000,religion_per_100000,SO_per_100000,disability_per_100000,gender_per_100000,genderID_per_100000
840,New York,New York,37.0,168.0,78.0,22.0,0.0,0.0,2.0,8473938.0,NY,0.436633,1.982549,0.920469,0.0,0.0,0.023602

In [63]:

##df.population = df.population.astype(int) #no commas in population

## getting the lat lon coordiantes

#cut and paste this file into atom where.js // where.data not where.js
#go to terminal and switch to python2
#run geoload.py to connect with google map API
#the  file with the lat and lon is where.js

then go to
hate_crimes_CITIES --formatting google returned data to match pd of cities
and format that where.js

In [64]:
df.shape

(423, 17)

this sheet to use google search on long/lat ...google return will mess up formatting of words though ie st louis not st. louis

In [65]:
df["search"] = df["city"].map(str) + " " + df["state"]
search = df["search"]

search.to_csv("city_longitude_search2014", index=False)

myData = [

[33.4053867,-86.8113781, 'Hoover, AL, USA'],
[64.8557566,-147.8335418, '505 South Chandalar Drive, Fairbanks, AK 99775, USA'],
[61.2180556,-149.9002778, 'Anchorage, AK, USA'],
[33.3061605,-111.8412502, 'Chandler, AZ, USA'],
[33.3528264,-111.789027, 'Gilbert, AZ, USA'],
[33.4151843,-111.8314724, 'Mesa, AZ, USA'],
[33.4483771,-112.0740373, 'Phoenix, AZ, USA'],
[33.4941704,-111.9260519, 'Scottsdale, AZ, USA'],
[33.4255104,-111.9400054, 'Tempe, AZ, USA'],
[32.2217429,-110.926479, 'Tucson, AZ, USA'],
[32.6926512,-114.6276916, 'Yuma, AZ, USA'],
[33.4205873,-111.9340001, '400 E Tyler Mall, Tempe, AZ 85281, USA'],
[34.7464809,-92.2895948, 'Little Rock, AR, USA'],
[35.2260397,-94.315422, 'Sebastian County, AR, USA'],
[34.0346222,-94.2743628, 'Sevier County, AR, USA'],
[37.339712,-121.922586, '1871 The Alameda #240, San Jose, CA 95126, USA'],
[37.7652065,-122.2416355, 'Alameda, CA, USA'],
[34.095287,-118.1270146, 'Alhambra, CA, USA'],
[33.8365932,-117.9143012, 'Anaheim, CA, USA'],
[38.0049214,-121.805789, 'Antioch, CA, USA'],
[34.1336186,-117.9075627, 'Azusa, CA, USA'],
[35.3732921,-119.0187125, 'Bakersfield, CA, USA'],
[34.0852868,-117.9608978, 'Baldwin Park, CA, USA'],
[33.8816818,-118.1170117, 'Bellflower, CA, USA'],
[37.8715926,-122.272747, 'Berkeley, CA, USA'],
[33.8674044,-117.9981387, 'Buena Park, CA, USA'],
[34.2163937,-119.0376023, 'Camarillo, CA, USA'],
[33.8583483,-118.0647871, 'Cerritos, CA, USA'],
[39.7284944,-121.8374777, 'Chico, CA, USA'],
[34.0122346,-117.688944, 'Chino, CA, USA'],
[33.9898188,-117.7325848, 'Chino Hills, CA, USA'],
[32.6400541,-117.0841955, 'Chula Vista, CA, USA'],
[38.7071247,-121.2810611, 'Citrus Heights, CA, USA'],
[36.8252277,-119.7029194, 'Clovis, CA, USA'],
[33.8958492,-118.2200712, 'Compton, CA, USA'],
[37.9779776,-122.0310733, 'Concord, CA, USA'],
[37.3229978,-122.0321823, 'Cupertino, CA, USA'],
[33.9401088,-118.1331593, 'Downey, CA, USA'],
[33.952463,-117.5848025, 'Eastvale, CA, USA'],
[38.4087993,-121.3716178, 'Elk Grove, CA, USA'],
[33.0369867,-117.2919818, 'Encinitas, CA, USA'],
[33.1192068,-117.086421, 'Escondido, CA, USA'],
[38.2493581,-122.0399663, 'Fairfield, CA, USA'],
[38.6779591,-121.1760583, 'Folsom, CA, USA'],
[37.5482697,-121.9885719, 'Fremont, CA, USA'],
[36.7468422,-119.7725868, 'Fresno, CA, USA'],
[33.8703645,-117.9242123, 'Fullerton, CA, USA'],
[33.7742692,-117.9379952, 'Garden Grove, CA, USA'],
[34.1425078,-118.255075, 'Glendale, CA, USA'],
[36.3274502,-119.6456844, 'Hanford, CA 93230, USA'],
[33.9164032,-118.3525748, 'Hawthorne, CA, USA'],
[37.6688205,-122.0807964, 'Hayward, CA, USA'],
[34.1283442,-117.2086513, 'Highland, CA, USA'],
[33.6594835,-117.9988026, 'Huntington Beach, CA, USA'],
[33.9816812,-118.2250725, 'Huntington Park, CA, USA'],
[33.6845673,-117.8265049, 'Irvine, CA, USA'],
[33.9318591,-117.946137, 'La Habra, CA 90631, USA'],
[33.6680772,-117.3272615, 'Lake Elsinore, CA, USA'],
[33.8536269,-118.1339563, 'Lakewood, CA, USA'],
[32.7678287,-117.0230839, 'La Mesa, CA, USA'],
[34.6867846,-118.1541632, 'Lancaster, CA, USA'],
[33.7700504,-118.1937395, 'Long Beach, CA, USA'],
[34.0522342,-118.2436849, 'Los Angeles, CA, USA'],
[37.7974273,-121.2160526, 'Manteca, CA, USA'],
[37.3021632,-120.4829677, 'Merced, CA, USA'],
[37.6390972,-120.9968782, 'Modesto, CA, USA'],
[37.3860517,-122.0838511, 'Mountain View, CA, USA'],
[33.5539143,-117.2139232, 'Murrieta, CA, USA'],
[38.2975381,-122.286865, 'Napa, CA, USA'],
[32.6781085,-117.0991967, 'National City, CA, USA'],
[33.9022367,-118.081733, 'Norwalk, CA, USA'],
[38.1074198,-122.5697032, 'Novato, CA, USA'],
[37.8043637,-122.2711137, 'Oakland, CA, USA'],
[33.1958696,-117.3794834, 'Oceanside, CA, USA'],
[33.7879139,-117.8531007, 'Orange, CA, USA'],
[34.1975048,-119.1770516, 'Oxnard, CA, USA'],
[34.5794343,-118.1164613, 'Palmdale, CA, USA'],
[37.4418834,-122.1430195, 'Palo Alto, CA, USA'],
[34.1477849,-118.1445155, 'Pasadena, CA, USA'],
[33.7825194,-117.2286478, 'Perris, CA, USA'],
[38.232417,-122.6366524, 'Petaluma, CA, USA'],
[33.8710729,-117.8627548, 'Placentia, CA 92870, USA'],
[34.055103,-117.7499909, 'Pomona, CA, USA'],
[32.9628232,-117.0358646, 'Poway, CA, USA'],
[40.5865396,-122.3916754, 'Redding, CA, USA'],
[34.0555693,-117.1825381, 'Redlands, CA, USA'],
[37.4852152,-122.2363548, 'Redwood City, CA, USA'],
[34.1064001,-117.3703235, 'Rialto, CA, USA'],
[37.9357576,-122.3477486, 'Richmond, CA, USA'],
[33.9533487,-117.3961564, 'Riverside, CA, USA'],
[38.7521235,-121.2880059, 'Roseville, CA, USA'],
[38.5815719,-121.4943996, 'Sacramento, CA, USA'],
[36.6777372,-121.6555013, 'Salinas, CA, USA'],
[34.1083449,-117.2897652, 'San Bernardino, CA, USA'],
[32.715738,-117.1610838, 'San Diego, CA, USA'],
[37.7749295,-122.4194155, 'San Francisco, CA, USA'],
[37.3382082,-121.8863286, 'San Jose, CA, USA'],
[37.7249296,-122.1560768, 'San Leandro, CA, USA'],
[33.1433723,-117.1661449, 'San Marcos, CA, USA'],
[37.5629917,-122.3255254, 'San Mateo, CA, USA'],
[37.7799273,-121.9780153, 'San Ramon, CA, USA'],
[33.7454725,-117.867653, 'Santa Ana, CA, USA'],
[34.3916641,-118.542586, 'Santa Clarita, CA, USA'],
[36.9741171,-122.0307963, 'Santa Cruz, CA, USA'],
[34.0194543,-118.4911912, 'Santa Monica, CA, USA'],
[38.440429,-122.7140548, 'Santa Rosa, CA, USA'],
[32.8383828,-116.9739167, 'Santee, CA, USA'],
[34.2694474,-118.781482, 'Simi Valley, CA, USA'],
[33.954737,-118.2120161, 'South Gate, CA, USA'],
[37.654656,-122.4077498, 'South San Francisco, CA, USA'],
[37.9577016,-121.2907796, 'Stockton, CA, USA'],
[34.1705609,-118.8375937, 'Thousand Oaks, CA, USA'],
[33.8358492,-118.3406288, 'Torrance, CA, USA'],
[37.4946568,-120.8465941, 'Turlock, CA, USA'],
[37.5933918,-122.0438298, 'Union City, CA, USA'],
[38.3565773,-121.9877444, 'Vacaville, CA, USA'],
[38.1040864,-122.2566367, 'Vallejo, CA, USA'],
[34.274646,-119.2290316, 'Ventura, CA, USA'],
[34.5362184,-117.2927641, 'Victorville, CA, USA'],
[37.9100783,-122.0651819, 'Walnut Creek, CA, USA'],
[36.910231,-121.7568946, 'Watsonville, CA, USA'],
[34.0686208,-117.9389526, 'West Covina, CA, USA'],
[33.7591757,-117.9897058, 'Westminster, CA, USA'],
[39.7294319,-104.8319195, 'Aurora, CO, USA'],
[40.0149856,-105.2705456, 'Boulder, CO, USA'],
[39.5807452,-104.8771726, 'Centennial, CO, USA'],
[38.8338816,-104.8213634, 'Colorado Springs, CO, USA'],
[39.7392358,-104.990251, 'Denver, CO, USA'],
[39.0638705,-108.5506486, 'Grand Junction, CO, USA'],
[40.1672068,-105.1019275, 'Longmont, CO, USA'],
[40.3977612,-105.0749801, 'Loveland, CO, USA'],
[38.2544472,-104.6091409, 'Pueblo, CO, USA'],
[41.1865478,-73.1951767, 'Bridgeport, CT, USA'],
[41.6717648,-72.9492703, 'Bristol, CT 06010, USA'],
[41.394817,-73.4540111, 'Danbury, CT, USA'],
[41.0262417,-73.6281964, 'Greenwich, CT, USA'],
[41.7637111,-72.6850932, 'Hartford, CT, USA'],
[41.7759301,-72.5215009, 'Manchester, CT, USA'],
[41.308274,-72.9278835, 'New Haven, CT, USA'],
[41.117744,-73.4081575, 'Norwalk, CT, USA'],
[41.0534302,-73.5387341, 'Stamford, CT, USA'],
[41.5581525,-73.0514965, 'Waterbury, CT, USA'],
[41.7620842,-72.7420151, 'West Hartford, CT, USA'],
[38.9071923,-77.0368707, 'Washington, DC, USA'],
[38.8978458,-77.0194691, '600 5th St NW, Washington, DC 20001, USA'],
[44.9583733,-93.2406408, '2425 Minnehaha Ave, Minneapolis, MN 55404, USA'],
[26.5628537,-81.9495331, 'Cape Coral, FL, USA'],
[25.72149,-80.2683838, 'Coral Gables, FL, USA'],
[26.0764783,-80.2521157, 'Davie, FL, USA'],
[26.640628,-81.8723084, 'Fort Myers, FL, USA'],
[29.6516344,-82.3248262, 'Gainesville, FL, USA'],
[25.4687224,-80.4775569, 'Homestead, FL, USA'],
[27.9094665,-82.7873244, 'Largo, FL, USA'],
[25.790654,-80.1300455, 'Miami Beach, FL, USA'],
[25.8900949,-80.1867138, 'North Miami, FL, USA'],
[28.5383355,-81.3792365, 'Orlando, FL, USA'],
[28.0344621,-80.5886646, 'Palm Bay, FL, USA'],
[27.8428025,-82.6995443, 'Pinellas Park, FL, USA'],
[26.1669711,-80.256595, 'Sunrise, FL, USA'],
[26.2128609,-80.2497707, 'Tamarac, FL, USA'],
[27.950575,-82.4571776, 'Tampa, FL, USA'],
[26.7153424,-80.0533746, 'West Palm Beach, FL, USA'],
[29.6436325,-82.3549302, 'Gainesville, FL 32611, USA'],
[28.263933,-80.7214417, 'Brevard County, FL, USA'],
[26.8946009,-81.909826, 'Charlotte County, FL, USA'],
[29.9943564,-81.7787021, 'Clay County, FL, USA'],
[30.6389408,-87.3413599, 'Escambia County, FL, USA'],
[27.9903597,-82.3017728, 'Hillsborough County, FL, USA'],
[28.702847,-81.7787021, 'Lake County, FL, USA'],
[30.4196584,-83.3004216, 'Lee, FL 32059, USA'],
[25.5516034,-80.6326916, 'Miami-Dade County, FL, USA'],
[28.4844995,-81.2518833, 'Orange County, FL, USA'],
[28.1019838,-81.0754657, 'Osceola County, FL, USA'],
[26.7056206,-80.0364297, 'Palm Beach, FL, USA'],
[28.3232418,-82.4319405, 'Pasco County, FL, USA'],
[27.876394,-82.7778579, 'Pinellas County, FL, USA'],
[27.8397466,-82.7912134, 'Seminole, FL, USA'],
[30.0820653,-81.5471201, 'St Johns, FL 32259, USA'],
[29.0279842,-81.0754657, 'Volusia County, FL, USA'],
[28.9438671,-81.093234, 'Georgia Rd, New Smyrna Beach, FL 32168, USA'],
[43.6187102,-116.2146068, 'Boise, ID, USA'],
[47.6776832,-116.7804664, 'Coeur dAlene, ID, USA'],
[43.6121087,-116.3915131, 'Meridian, ID, USA'],
[43.5407172,-116.5634625, 'Nampa, ID, USA'],
[42.8713032,-112.4455344, 'Pocatello, ID, USA'],
[41.7605849,-88.3200715, 'Aurora, IL, USA'],
[41.8505874,-87.7936685, 'Berwyn, IL 60402, USA'],
[40.1164204,-88.2433829, 'Champaign, IL, USA']
];

data = [
33.4355977,-112.3496021,Avondale,AZ,Arizona
33.8316745,-118.281693,Carson,CA,California
34.0739016,-117.3136547,Colton,CA,California
37.6879241,-122.4702079,Daly City,CA,California
34.0286226,-117.8103367,Diamond Bar,CA,California
32.7947731,-116.9625269,El Cajon,CA,California
34.0686206,-118.0275667,El Monte,CA,California
34.1361187,-117.865339,Glendora,CA,California
33.7475203,-116.9719684,Hemet,CA,California
34.4263886,-117.3008784,Hesperia,CA,California
33.7205771,-116.2155619,Indio,CA,California
33.6469437,-117.6861023,Lake Forest,CA,California
37.6818745,-121.7680088,Livermore,CA,California
38.1341477,-121.2722194,Lodi,CA,California
33.6971468,-117.185294,Menifee,CA,California
33.5968913,-117.6581562,Mission Viejo,CA,California
34.0165053,-118.1137535,Montebello,CA,California
34.0625106,-118.1228476,Monterey Park,CA,California
33.9424658,-117.2296717,Moreno Valley,CA,California
33.6188829,-117.9298493,Newport Beach,CA,California
34.0633443,-117.6508876,Ontario,CA,California
33.7222445,-116.3744556,Palm Desert,CA,California
33.8894598,-118.1597911,Paramount,CA,California
33.8491816,-118.3884078,Redondo Beach,CA,California
34.4208305,-119.6981901,Santa Barbara,CA,California
33.4936391,-117.1483648,Temecula,CA,California
37.7396513,-121.4252227,Tracy,CA,California
34.09751,-117.6483876,Upland,CA,California
36.3302284,-119.2920585,Visalia,CA,California
33.2000368,-117.2425355,Vista,CA,California
39.8027644,-105.0874842,Arvada,CO,Colorado
39.3722121,-104.8560902,Castle Rock,CO,Colorado
40.4233142,-104.7091322,Greeley,CO,Colorado
41.5381535,-72.8070435,Meriden,CT,Connecticut
41.6612104,-72.7795419,New Britain,CT,Connecticut
41.2705484,-72.9469711,West Haven,CT,Connecticut
39.7390721,-75.5397878,Wilmington,DE,Delaware
27.9658533,-82.8001026,Clearwater,FL,Florida
26.271192,-80.2706044,Coral Springs,FL,Florida
28.0836269,-80.6081089,Melbourne,FL,Florida
25.9420377,-80.2456045,Miami Gardens,FL,Florida
27.044224,-82.2359254,North Port,FL,Florida
29.1871986,-82.1400923,Ocala,FL,Florida
26.007765,-80.2962555,Pembroke Pines,FL,Florida
27.2730492,-80.3582261,Port St Lucie,FL,Florida
30.4382559,-84.2807329,Tallahassee,FL,Florida
33.9519347,-83.357567,Athens,GA,Georgia
43.6629384,-116.6873596,Caldwell,ID,Idaho
40.4842027,-88.9936873,Bloomington,IL,Illinois
42.0333623,-87.8833991,Des Plaines,IL,Illinois
42.0354084,-88.2825668,Elgin,IL,Illinois
42.0450722,-87.6876969,Evanston,IL,Illinois
41.6303103,-87.8539425,Orland Park,IL,Illinois
42.0333607,-88.0834059,Schaumburg,IL,Illinois
42.0324025,-87.7416246,Skokie,IL,Illinois
41.5833688,-87.5000412,Hammond,IN,Indiana
41.9778795,-91.6656232,Cedar Rapids,IA,Iowa
39.0558235,-95.6890185,Topeka,KS,Kansas
32.5251516,-93.7501789,Shreveport,LA,Louisiana
39.0067768,-76.7791365,Bowie,MD,Maryland
39.4142688,-77.4105409,Frederick,MD,Maryland
42.0834335,-71.0183787,Brockton,MA,Massachusetts
42.3370413,-71.2092214,Newton,MA,Massachusetts
41.9584457,-70.6672621,Plymouth,MA,Massachusetts
42.3086444,-83.482116,Canton,MI,Michigan
42.8694731,-85.6447492,Kentwood,MI,Michigan
42.4974085,-82.8963604,St. Clair Shores,MI,Michigan
42.324204,-83.400211,Westland,MI,Michigan
45.1732394,-93.3030063,Coon Rapids,MN,Minnesota
46.7866719,-92.1004852,Duluth,MN,Minnesota
44.8546856,-93.470786,Eden Prairie,MN,Minnesota
45.0724642,-93.4557877,Maple Grove,MN,Minnesota
44.0121221,-92.4801989,Rochester,MN,Minnesota
37.0842271,-94.513281,Joplin,MO,Missouri
37.2089572,-93.2922989,Springfield,MO,Missouri
36.1699412,-115.1398296,Las Vegas,NV,Nevada
40.6687141,-74.1143091,Bayonne,NJ,New Jersey
40.8584328,-74.1637553,Clifton,NJ,New Jersey
40.4933734,-74.5228916,Franklin ,NJ,New Jersey
40.8042674,-74.012084,North Bergen,NJ,New Jersey
40.8652865,-74.4173877,Parsippany-Troy Hills,NJ,New Jersey
40.7795455,-74.0237512,Union City,NJ,New Jersey
40.9253725,-74.2765441,Wayne,NJ,New Jersey
40.9125992,-73.8370786,Mt Vernon,NY,New York
46.8771863,-96.7898034,Fargo,ND,North Dakota
41.4819932,-81.7981908,Lakewood,OH,Ohio
41.452819,-82.1823746,Lorain,OH,Ohio
35.6528323,-97.4780954,Edmond,OK,Oklahoma
36.3955891,-97.8783911,Enid,OK,Oklahoma
34.6035669,-98.3959291,Lawton,OK,Oklahoma
32.7764749,-79.9310512,Charleston,SC,South Carolina
34.0007104,-81.0348144,Columbia,SC,South Carolina
34.8526176,-82.3940104,Greenville,SC,South Carolina
32.8323225,-79.8284258,Mt Pleasant,SC,South Carolina
32.8546197,-79.9748103,North Charleston,SC,South Carolina
35.0456297,-85.3096801,Chattanooga,TN,Tennessee
29.7355047,-94.9774274,Baytown,TX,Texas
32.9756415,-96.8899636,Carrollton,TX,Texas
27.8005828,-97.396381,Corpus Christi,TX,Texas
33.1506744,-96.8236116,Frisco,TX,Texas
29.6185669,-95.5377215,Missouri City,TX,Texas
29.5635666,-95.2860474,Pearland,TX,Texas
28.8052674,-97.0035982,Victoria,TX,Texas
40.5649781,-111.8389726,Sandy,UT,Utah
39.1156615,-77.5636015,Leesburg,VA,Virginia
37.4137536,-79.1422464,Lynchburg,VA,Virginia
37.2709704,-79.9414266,Roanoke,VA,Virginia
47.4668384,-122.3405305,Burien,WA,Washington
47.7559659,-122.3456972,Shoreline,WA,Washington
38.3498195,-81.6326234,Charleston,WV,West Virginia
37.339712,-121.922586, San Jose,CA,California
38.8978458,-77.0194691,Washington,DC,District of Columbia
44.9583733,-93.2406408, Minneapolis,MN,Minnesota
33.4053867,-86.8113781,Las Vegas,NV,Nevada
64.8557566,-147.8335418,Fairbanks,AK,Alaska
61.2180556,-149.9002778,Anchorage,AK,Alaska
33.3061605,-111.8412502,Chandler,AZ,Arizona
33.3528264,-111.789027,Gilbert,AZ,Arizona
33.4151843,-111.8314724,Mesa,AZ,Arizona
33.4483771,-112.0740373,Phoenix,AZ,Arizona
33.4941704,-111.9260519,Scottsdale,AZ,Arizona
33.4255104,-111.9400054,Tempe,AZ,Arizona
32.2217429,-110.926479,Tucson,AZ,Arizona
32.6926512,-114.6276916,Yuma,AZ,Arizona
33.4205873,-111.9340001,Tempe,AZ,Arizona
34.7464809,-92.2895948,Little Rock,AR,Arkansas
35.2260397,-94.315422,Sebastian County,AR,Arkansas
34.0346222,-94.2743628,Sevier County,AR,Arkansas
37.339712,-121.922586,San Jose,CA,California
37.7652065,-122.2416355,Alameda,CA,California
34.095287,-118.1270146,Alhambra,CA,California
33.8365932,-117.9143012,Anaheim,CA,California
38.0049214,-121.805789,Antioch,CA,California
34.1336186,-117.9075627,Azusa,CA,California
35.3732921,-119.0187125,Bakersfield,CA,California
34.0852868,-117.9608978,Baldwin Park,CA,California
33.8816818,-118.1170117,Bellflower,CA,California
37.8715926,-122.272747,Berkeley,CA,California
33.8674044,-117.9981387,Buena Park,CA,California
34.2163937,-119.0376023,Camarillo,CA,California
33.8583483,-118.0647871,Cerritos,CA,California
39.7284944,-121.8374777,Chico,CA,California
34.0122346,-117.688944,Chino,CA,California
33.9898188,-117.7325848,Chino Hills,CA,California
32.6400541,-117.0841955,Chula Vista,CA,California
38.7071247,-121.2810611,Citrus Heights,CA,California
36.8252277,-119.7029194,Clovis,CA,California
33.8958492,-118.2200712,Compton,CA,California
37.9779776,-122.0310733,Concord,CA,California
37.3229978,-122.0321823,Cupertino,CA,California
33.9401088,-118.1331593,Downey,CA,California
33.952463,-117.5848025,Eastvale,CA,California
38.4087993,-121.3716178,Elk Grove,CA,California
33.0369867,-117.2919818,Encinitas,CA,California
33.1192068,-117.086421,Escondido,CA,California
38.2493581,-122.0399663,Fairfield,CA,California
38.6779591,-121.1760583,Folsom,CA,California
37.5482697,-121.9885719,Fremont,CA,California
36.7468422,-119.7725868,Fresno,CA,California
33.8703645,-117.9242123,Fullerton,CA,California
33.7742692,-117.9379952,Garden Grove,CA,California
34.1425078,-118.255075,Glendale,CA,California
36.3274502,-119.6456844,Hanford,CA,California
33.9164032,-118.3525748,Hawthorne,CA,California
37.6688205,-122.0807964,Hayward,CA,California
34.1283442,-117.2086513,Highland,CA,California
33.6594835,-117.9988026,Huntington Beach,CA,California
33.9816812,-118.2250725,Huntington Park,CA,California
33.6845673,-117.8265049,Irvine,CA,California
33.9318591,-117.946137,La Habra,CA,California
33.6680772,-117.3272615,Lake Elsinore,CA,California
33.8536269,-118.1339563,Lakewood,CA,California
32.7678287,-117.0230839,La Mesa,CA,California
34.6867846,-118.1541632,Lancaster,CA,California
33.7700504,-118.1937395,Long Beach,CA,California
34.0522342,-118.2436849,Los Angeles,CA,California
37.7974273,-121.2160526,Manteca,CA,California
37.3021632,-120.4829677,Merced,CA,California
37.6390972,-120.9968782,Modesto,CA,California
37.3860517,-122.0838511,Mt. ain View,CA,California
33.5539143,-117.2139232,Murrieta,CA,California
38.2975381,-122.286865,Napa,CA,California
32.6781085,-117.0991967,National City,CA,California
33.9022367,-118.081733,Norwalk,CA,California
38.1074198,-122.5697032,Novato,CA,California
37.8043637,-122.2711137,Oakland,CA,California
33.1958696,-117.3794834,Oceanside,CA,California
33.7879139,-117.8531007,Orange,CA,California
34.1975048,-119.1770516,Oxnard,CA,California
34.5794343,-118.1164613,Palmdale,CA,California
37.4418834,-122.1430195,Palo Alto,CA,California
34.1477849,-118.1445155,Pasadena,CA,California
33.7825194,-117.2286478,Perris,CA,California
38.232417,-122.6366524,Petaluma,CA,California
33.8710729,-117.8627548,Placentia,CA,California
34.055103,-117.7499909,Pomona,CA,California
32.9628232,-117.0358646,Poway,CA,California
40.5865396,-122.3916754,Redding,CA,California
34.0555693,-117.1825381,Redlands,CA,California
37.4852152,-122.2363548,Redwood City,CA,California
34.1064001,-117.3703235,Rialto,CA,California
37.9357576,-122.3477486,Richmond,CA,California
33.9533487,-117.3961564,Riverside,CA,California
38.7521235,-121.2880059,Roseville,CA,California
38.5815719,-121.4943996,Sacramento,CA,California
36.6777372,-121.6555013,Salinas,CA,California
34.1083449,-117.2897652,San Bernardino,CA,California
32.715738,-117.1610838,San Diego,CA,California
37.7749295,-122.4194155,San Francisco,CA,California
37.3382082,-121.8863286,San Jose,CA,California
37.7249296,-122.1560768,San Leandro,CA,California
33.1433723,-117.1661449,San Marcos,CA,California
37.5629917,-122.3255254,San Mateo,CA,California
37.7799273,-121.9780153,San Ramon,CA,California
33.7454725,-117.867653,Santa Ana,CA,California
34.3916641,-118.542586,Santa Clarita,CA,California
36.9741171,-122.0307963,Santa Cruz,CA,California
34.0194543,-118.4911912,Santa Monica,CA,California
38.440429,-122.7140548,Santa Rosa,CA,California
32.8383828,-116.9739167,Santee,CA,California
34.2694474,-118.781482,Simi Valley,CA,California
33.954737,-118.2120161,South Gate,CA,California
37.654656,-122.4077498,South San Francisco,CA,California
37.9577016,-121.2907796,Stockton,CA,California
34.1705609,-118.8375937,Thousand Oaks,CA,California
33.8358492,-118.3406288,Torrance,CA,California
37.4946568,-120.8465941,Turlock,CA,California
37.5933918,-122.0438298,Union City,CA,California
38.3565773,-121.9877444,Vacaville,CA,California
38.1040864,-122.2566367,Vallejo,CA,California
34.274646,-119.2290316,Ventura,CA,California
34.5362184,-117.2927641,Victorville,CA,California
37.9100783,-122.0651819,Walnut Creek,CA,California
36.910231,-121.7568946,Watsonville,CA,California
34.0686208,-117.9389526,West Covina,CA,California
33.7591757,-117.9897058,Westminster,CA,California
39.7294319,-104.8319195,Aurora,CO,Colorado
40.0149856,-105.2705456,Boulder,CO,Colorado
39.5807452,-104.8771726,Centennial,CO,Colorado
38.8338816,-104.8213634,Colorado Springs,CO,Colorado
39.7392358,-104.990251,Denver,CO,Colorado
39.0638705,-108.5506486,Grand Junction,CO,Colorado
40.1672068,-105.1019275,Longmont,CO,Colorado
40.3977612,-105.0749801,Loveland,CO,Colorado
38.2544472,-104.6091409,Pueblo,CO,Colorado
41.1865478,-73.1951767,Bridgeport,CT,Connecticut
41.6717648,-72.9492703,Bristol,CT,Connecticut
41.394817,-73.4540111,Danbury,CT,Connecticut
41.0262417,-73.6281964,Greenwich,CT,Connecticut
41.7637111,-72.6850932,Hartford,CT,Connecticut
41.7759301,-72.5215009,Manchester,CT,Connecticut
41.308274,-72.9278835,New Haven,CT,Connecticut
41.117744,-73.4081575,Norwalk,CT,Connecticut
41.0534302,-73.5387341,Stamford,CT,Connecticut
41.5581525,-73.0514965,Waterbury,CT,Connecticut
41.7620842,-72.7420151,West Hartford,CT,Connecticut
38.8978458,-77.0194691,Washington,DC,District of Columbia
26.5628537,-81.9495331,Cape Coral,FL,Florida
25.72149,-80.2683838,Coral Gables,FL,Florida
26.0764783,-80.2521157,Davie,FL,Florida
26.640628,-81.8723084,Fort Myers,FL,Florida
29.6516344,-82.3248262,Gainesville,FL,Florida
25.4687224,-80.4775569,Homestead,FL,Florida
27.9094665,-82.7873244,Largo,FL,Florida
25.790654,-80.1300455,Miami Beach,FL,Florida
25.8900949,-80.1867138,North Miami,FL,Florida
28.5383355,-81.3792365,Orlando,FL,Florida
28.0344621,-80.5886646,Palm Bay,FL,Florida
27.8428025,-82.6995443,Pinellas Park,FL,Florida
26.1669711,-80.256595,Sunrise,FL,Florida
26.2128609,-80.2497707,Tamarac,FL,Florida
27.950575,-82.4571776,Tampa,FL,Florida
26.7153424,-80.0533746,West Palm Beach,FL,Florida
29.6436325,-82.3549302,Gainesville,FL,Florida
28.263933,-80.7214417,Brevard County,FL,Florida
26.8946009,-81.909826,Charlotte County,FL,Florida
29.9943564,-81.7787021,Clay County,FL,Florida
30.6389408,-87.3413599,Escambia County,FL,Florida
27.9903597,-82.3017728,Hillsborough County,FL,Florida
28.702847,-81.7787021,Lake County,FL,Florida
30.4196584,-83.3004216,Lee,FL,Florida
25.5516034,-80.6326916,Miami-Dade County,FL,Florida
28.4844995,-81.2518833,Orange County,FL,Florida
28.1019838,-81.0754657,Osceola County,FL,Florida
26.7056206,-80.0364297,Palm Beach,FL,Florida
28.3232418,-82.4319405,Pasco County,FL,Florida
27.876394,-82.7778579,Pinellas County,FL,Florida
27.8397466,-82.7912134,Seminole,FL,Florida
30.0820653,-81.5471201,St. Johns,FL,Florida
29.0279842,-81.0754657,Volusia County,FL,Florida
28.9438671,-81.093234,New Smyrna Beach,FL,Florida
43.6187102,-116.2146068,Boise,ID,Idaho
47.6776832,-116.7804664,Coeur dAlene,ID,Idaho
43.6121087,-116.3915131,Meridian,ID,Idaho
43.5407172,-116.5634625,Nampa,ID,Idaho
42.8713032,-112.4455344,Pocatello,ID,Idaho
41.7605849,-88.3200715,Aurora,IL,Illinois
41.8505874,-87.7936685,Berwyn,IL,Illinois
40.1164204,-88.2433829,Champaign,IL,Illinois
33.5386523,-112.1859866,Glendale,AZ,Arizona
34.1808392,-118.3089661,Burbank,CA,California
38.5449065,-121.7405167,Davis,CA,California
34.1063989,-117.5931084,Rancho Cucamonga,CA,California
37.9735346,-122.5310874,San Rafael,CA,California
37.36883,-122.0363496,Sunnyvale,CA,California
40.5852602,-105.084423,Fort Collins,CO,Colorado
41.1845415,-73.1331651,Stratford,CT,Connecticut
27.499208,-80.3421984,St. Lucie,FL,Florida
33.7489954,-84.3879824,Atlanta,GA,Georgia
41.8781136,-87.6297982,Chicago,IL,Illinois
41.525031,-88.0817251,Joliet,IL,Illinois
40.5142026,-88.9906312,Normal,IL,Illinois
41.719978,-87.7479528,Oak Lawn,IL,Illinois
40.6936488,-89.5889864,Peoria,IL,Illinois
42.2711311,-89.0939952,Rockford,IL,Illinois
39.7817213,-89.6501481,Springfield,IL,Illinois
40.1053196,-85.6802541,Anderson,IN,Indiana
40.1933767,-85.3863599,Muncie,IN,Indiana
41.6005448,-93.6091064,Des Moines,IA,Iowa
41.6611277,-91.5301683,Iowa City,IA,Iowa
41.5772115,-93.711332,West Des Moines,IA,Iowa
38.9536174,-94.7335709,Lenexa,KS,Kansas
38.9822282,-94.6707917,Overland Park,KS,Kansas
37.6871761,-97.330053,Wichita,KS,Kansas
36.9685219,-86.4808043,Bowling Green,KY,Kentucky
38.0405837,-84.5037164,Lexington,KY,Kentucky
38.2526647,-85.7584557,Louisville,KY,Kentucky
37.7719074,-87.1111676,Owensboro,KY,Kentucky
30.4582829,-91.1403196,Baton Rouge,LA,Louisiana
29.9510658,-90.0715323,New Orleans,LA,Louisiana
43.661471,-70.2553259,Portland,ME,Maine
39.2903848,-76.6121893,Baltimore,MD,Maryland
42.3600825,-71.0588801,Boston,MA,Massachusetts
42.3736158,-71.1097335,Cambridge,MA,Massachusetts
42.1487043,-72.6078672,Chicopee,MA,Massachusetts
42.279286,-71.4161565,Framingham,MA,Massachusetts
42.6334247,-71.3161718,Lowell,MA,Massachusetts
42.466763,-70.9494938,Lynn,MA,Massachusetts
42.4250964,-71.066163,Malden,MA,Massachusetts
42.4184296,-71.1061639,Medford,MA,Massachusetts
42.2528772,-71.0022705,Quincy,MA,Massachusetts
42.3875968,-71.0994968,Somerville,MA,Massachusetts
42.1014831,-72.589811,Springfield,MA,Massachusetts
41.900101,-71.0897674,Taunton,MA,Massachusetts
42.3764852,-71.2356113,Waltham,MA,Massachusetts
42.2625932,-71.8022934,Worcester,MA,Massachusetts
42.2808256,-83.7430378,Ann Arbor,MI,Michigan
42.5868882,-82.9195514,Clinton,MI,Michigan
42.3222599,-83.1763145,Dearborn,MI,Michigan
42.3369816,-83.2732627,Dearborn Heights,MI,Michigan
42.331427,-83.0457538,Detroit,MI,Michigan
43.0125274,-83.6874562,Flint,MI,Michigan
42.9633599,-85.6680863,Grand Rapids,MI,Michigan
42.732535,-84.5555347,Lansing,MI,Michigan
42.36837,-83.3527097,Livonia,MI,Michigan
42.6389216,-83.2910468,Pontiac,MI,Michigan
42.6583661,-83.1499322,Rochester Hills,MI,Michigan
42.4894801,-83.1446485,Royal Oak,MI,Michigan
42.670782,-83.0329934,Shelby ,MI,Michigan
42.240872,-83.2696509,Taylor,MI,Michigan
42.6064095,-83.1497751,Troy,MI,Michigan
42.5144566,-83.0146526,Warren,MI,Michigan
42.6907443,-83.4066132,Waterford Twp,MI,Michigan
42.5678534,-83.373339,West Bloomfield ,MI,Michigan
42.9133602,-85.7053085,Wyoming,MI,Michigan
42.701848,-84.4821719,East Lansing,MI,Michigan
45.1607987,-93.2349489,Blaine,MN,Minnesota
44.840798,-93.2982799,Bloomington,MN,Minnesota
45.0941315,-93.3563405,Brooklyn Park,MN,Minnesota
44.8041322,-93.1668858,Eagan,MN,Minnesota
44.9211836,-93.4687489,Minnetonka,MN,Minnesota
45.0105194,-93.4555093,Plymouth,MN,Minnesota
45.5579451,-94.1632404,St. Cloud,MN,Minnesota
44.9537029,-93.0899578,St. Paul,MN,Minnesota
44.7633943,-93.6254404,Carver,MN,Minnesota
46.2529828,-93.6605345,Mille Lacs Lake,MN,Minnesota
45.2611,-93.45,Ramsey,MN,Minnesota
46.6715593,-93.0074403,Wright,MN,Minnesota
46.5957987,-94.1401699,Crow Wing County,MN,Minnesota
44.8847554,-93.2222846,Minneapolis,MN,Minnesota
39.0169509,-94.2816148,Blue Springs,MO,Missouri
38.9517053,-92.3340724,Columbia,MO,Missouri
39.0997265,-94.5785667,Kansas City,MO,Missouri
38.7881062,-90.4974359,St. Charles,MO,Missouri
38.6270025,-90.1994042,St. Louis,MO,Missouri
38.7874699,-90.6298922,St. Peters,MO,Missouri
45.7832856,-108.5006904,Billings,MT,Montana
40.9263957,-98.3420118,Grand Island,NE,Nebraska
40.8257625,-96.6851982,Lincoln,NE,Nebraska
41.2523634,-95.9979883,Omaha,NE,Nebraska
36.0395247,-114.9817213,Henderson,NV,Nevada
36.2187932,-115.3097745,Las Vegas,NV,Nevada
39.5296329,-119.8138027,Reno,NV,Nevada
43.202025,-71.534268,Concord,NH,New Hampshire
42.9956397,-71.4547891,Manchester,NH,New Hampshire
40.0578384,-74.1371832,Brick,NJ,New Jersey
40.767323,-74.2048677,East Orange,NJ,New Jersey
40.5187154,-74.4120953,Edison,NJ,New Jersey
40.2115109,-74.6796651,Hamilton ,NJ,New Jersey
40.1645785,-74.2082671,Howell,NJ,New Jersey
40.0918895,-74.3587473,Jackson,NJ,New Jersey
40.082129,-74.2097014,Lakewood ,NJ,New Jersey
40.3968012,-74.0915982,Middletown,NJ,New Jersey
40.4862157,-74.4518188,New Brunswick,NJ,New Jersey
40.8567662,-74.1284764,Passaic,NJ,New Jersey
40.554887,-74.4642861,Piscataway ,NJ,New Jersey
39.9537358,-74.1979458,Toms River,NJ,New Jersey
40.2170534,-74.7429384,Trenton,NJ,New Jersey
39.4863773,-75.0259637,Vineland,NJ,New Jersey
40.5575986,-74.2846022,Woodbridge ,NJ,New Jersey
35.0853336,-106.6055534,Albuquerque,NM,New Mexico
42.9790067,-78.792272,Amherst,NY,New York
42.8864468,-78.8783689,Buffalo,NY,New York
42.9026136,-78.744572,Cheektowaga,NY,New York
41.1259715,-73.959494,Clarkstown,NY,New York
42.7236699,-73.77132,Colonie,NY,New York
40.9114882,-73.7823549,New Rochelle,NY,New York
36.1023715,-115.1745559,Las Vegas,NV,Nevada
41.1412064,-74.1684787,Ramapo,NY,New York
43.16103,-77.6109219,Rochester,NY,New York
42.8142432,-73.9395687,Schenectady,NY,New York
40.8598656,-72.5678041,Southampton,NY,New York
43.100903,-75.232664,Utica,NY,New York
40.9312099,-73.8987469,Yonkers,NY,New York
35.5950581,-82.5514869,Asheville,NC,North Carolina
35.2270869,-80.8431267,Charlotte,NC,North Carolina
35.4087517,-80.579511,Concord,NC,North Carolina
35.9940329,-78.898619,Durham,NC,North Carolina
35.0526641,-78.8783585,Fayetteville,NC,North Carolina
35.262082,-81.1873005,Gastonia,NC,North Carolina
35.612661,-77.3663538,Greenville,NC,North Carolina
35.9556923,-80.0053176,High Point,NC,North Carolina
35.410694,-80.8428504,Huntersville,NC,North Carolina
34.7540524,-77.4302414,Jacksonville,NC,North Carolina
35.7795897,-78.6381787,Raleigh,NC,North Carolina
35.9382103,-77.7905339,Rocky Mt. ,NC,North Carolina
46.8083268,-100.7837392,Bismarck,ND,North Dakota
47.9252568,-97.0328547,Grand Forks,ND,North Dakota
41.0814447,-81.5190053,Akron,OH,Ohio
40.7989473,-81.378447,Canton,OH,Ohio
39.1031182,-84.5120196,Cincinnati,OH,Ohio
41.49932,-81.6943605,Cleveland,OH,Ohio
39.2591765,-84.6269824,Colerain ,OH,Ohio
39.9611755,-82.9987942,Columbus,OH,Ohio
39.7589478,-84.1916069,Dayton,OH,Ohio
41.3683798,-82.1076486,Elyria,OH,Ohio
39.166367,-84.6374484,Green ,OH,Ohio
41.4047742,-81.7229086,Parma,OH,Ohio
41.6639383,-83.555212,Toledo,OH,Ohio
39.3321262,-84.4172666,West Chester ,OH,Ohio
41.0997803,-80.6495194,Youngstown,OH,Ohio
40.0141905,-83.0309143,Columbus,OH,Ohio
35.2225668,-97.4394777,Norman,OK,Oklahoma
35.4675602,-97.5164276,Oklahoma City,OK,Oklahoma
36.1539816,-95.992775,Tulsa,OK,Oklahoma
44.5645659,-123.2620435,Corvallis,OR,Oregon
44.0520691,-123.0867536,Eugene,OR,Oregon
45.5059203,-122.4486119,Gresham,OR,Oregon
42.3265152,-122.8755949,Medford,OR,Oregon
45.5230622,-122.6764815,Portland,OR,Oregon
44.9428975,-123.0350963,Salem,OR,Oregon
44.0462362,-123.0220289,Springfield,OR,Oregon
45.4312294,-122.7714861,Tigard,OR,Oregon
40.1240795,-75.1195107,Abington ,PA,Pennsylvania
40.0378755,-76.3055144,Lancaster,PA,Pennsylvania
39.9525839,-75.1652215,Philadelphia,PA,Pennsylvania
40.4406248,-79.9958864,Pittsburgh,PA,Pennsylvania
40.3356483,-75.9268747,Reading,PA,Pennsylvania
41.408969,-75.6624122,Scranton,PA,Pennsylvania
33.5206608,-86.80249,Birmingham,AL,Alabama
35.3859242,-94.3985475,Fort Smith,AR,Arkansas
33.9971974,-117.4854802,Jurupa Valley,CA,California
41.079273,-85.1393513,Fort Wayne,IN,Indiana
39.768403,-86.158068,Indianapolis,IN,Indiana
41.6763545,-86.2519898,South Bend,IN,Indiana
42.5005583,-90.6645718,Dubuque,IA,Iowa
39.0561718,-94.6113929,Kansas City,KS,Kansas
42.7762015,-71.0772796,Haverhill,MA,Massachusetts
42.7070354,-71.1631137,Lawrence,MA,Massachusetts
42.3211522,-85.1797142,Battle Creek,MI,Michigan
42.2917069,-85.5872286,Kalamazoo,MI,Michigan
42.4733688,-83.2218731,Southfield,MI,Michigan
39.0911161,-94.4155068,Independence,MO,Missouri
38.9108408,-94.3821724,Lee's Summit,MO,Missouri
39.7674578,-94.846681,St. Joseph,MO,Missouri
36.1988592,-115.1175013,North Las Vegas,NV,Nevada
40.7439905,-74.0323626,Hoboken,NJ,New Jersey
40.735657,-74.1723667,Newark,NJ,New Jersey
40.6975898,-74.2631635,Union,NJ,New Jersey
36.0726354,-79.7919754,Greensboro,NC,North Carolina
40.7933949,-77.8600012,State College,PA,Pennsylvania
41.7798226,-71.4372796,Cranston,RI,Rhode Island
41.878711,-71.3825558,Pawtucket,RI,Rhode Island
41.8239891,-71.4128343,Providence,RI,Rhode Island
44.0805434,-103.2310149,Rapid City,SD,South Dakota
43.5445959,-96.7311034,Sioux Falls,SD,South Dakota
44.4415188,-102.6855069,Meade County,SD,South Dakota
43.6631787,-96.8350999,Minnehaha County,SD,South Dakota
42.8621348,-96.7065914,Union County,SD,South Dakota
44.6998712,-97.179026,Hamlin County,SD,South Dakota
44.0364698,-98.6160674,Jerauld County,SD,South Dakota
36.5297706,-87.3594528,Clarksville,TN,Tennessee
35.9250637,-86.8688899,Franklin,TN,Tennessee
35.6145169,-88.8139469,Jackson,TN,Tennessee
36.3134397,-82.3534727,Johnson City,TN,Tennessee
36.548434,-82.5618186,Kingsport,TN,Tennessee
35.9606384,-83.9207392,Knoxville,TN,Tennessee
35.1495343,-90.0489801,Memphis,TN,Tennessee
35.8456213,-86.39027,Murfreesboro,TN,Tennessee
32.735687,-97.1080656,Arlington,TX,Texas
30.267153,-97.7430608,Austin,TX,Texas
30.080174,-94.1265562,Beaumont,TX,Texas
30.505198,-97.8202888,Cedar Park,TX,Texas
30.627977,-96.3344068,College Station,TX,Texas
32.7766642,-96.7969879,Dallas,TX,Texas
31.7618778,-106.4850217,El Paso,TX,Texas
32.7554883,-97.3307658,Fort Worth,TX,Texas
29.3013479,-94.7976958,Galveston,TX,Texas
29.7604267,-95.3698028,Houston,TX,Texas
33.046233,-96.994174,Lewisville,TX,Texas
33.1972465,-96.6397822,McKinney,TX,Texas
31.8456816,-102.3676431,Odessa,TX,Texas
33.0198431,-96.6988856,Plano,TX,Texas
30.5082551,-97.678896,Round Rock,TX,Texas
31.4637723,-100.4370375,San Angelo,TX,Texas
29.4241219,-98.4936282,San Antonio,TX,Texas
29.8832749,-97.9413941,San Marcos,TX,Texas
29.6196787,-95.6349463,Sugar Land,TX,Texas
31.0982344,-97.342782,Temple,TX,Texas
32.3512601,-95.3010624,Tyler,TX,Texas
33.9137085,-98.4933873,Wichita Falls,TX,Texas
41.0602216,-111.9710529,Layton,UT,Utah
41.223,-111.9738304,Ogden,UT,Utah
40.7607793,-111.8910474,Salt Lake City,UT,Utah
40.5621704,-111.929658,South Jordan,UT,Utah
37.0965278,-113.5684164,St. George,UT,Utah
40.6096698,-111.9391031,West Jordan,UT,Utah
40.6916132,-112.0010501,West Valley,UT,Utah
38.8048355,-77.0469214,Alexandria,VA,Virginia
36.7682088,-76.2874927,Chesapeake,VA,Virginia
37.0298687,-76.3452218,Hampton,VA,Virginia
38.4495688,-78.8689155,Harrisonburg,VA,Virginia
36.8507689,-76.2858726,Norfolk,VA,Virginia
36.8354258,-76.2982742,Portsmouth,VA,Virginia
37.5407246,-77.4360481,Richmond,VA,Virginia
36.8529263,-75.977985,Virginia Beach,VA,Virginia
47.3073228,-122.2284532,Auburn,WA,Washington
47.6101497,-122.2015159,Bellevue,WA,Washington
48.7519112,-122.4786854,Bellingham,WA,Washington
47.9789848,-122.2020795,Everett,WA,Washington
47.3223221,-122.3126222,Federal Way,WA,Washington
47.3809335,-122.2348432,Kent,WA,Washington
47.6768927,-122.2059833,Kirkland,WA,Washington
47.1717649,-122.518458,Lakewood,WA,Washington
48.0517637,-122.1770818,Marysville,WA,Washington
47.0378741,-122.9006951,Olympia,WA,Washington
46.2395793,-119.1005657,Pasco,WA,Washington
47.4828776,-122.2170661,Renton,WA,Washington
46.2856907,-119.2844621,Richland,WA,Washington
47.6162683,-122.0355736,Sammamish,WA,Washington
47.6062095,-122.3320708,Seattle,WA,Washington
47.2528768,-122.4442906,Tacoma,WA,Washington
46.6020711,-120.5058987,Yakima,WA,Washington
44.2619309,-88.4153847,Appleton,WI,Wisconsin
42.6827885,-89.0187222,Janesville,WI,Wisconsin
43.0389025,-87.9064736,Milwaukee,WI,Wisconsin
39.165325,-86.5263857,Bloomington,IN,Indiana
40.7281575,-74.0776417,Jersey City,NJ,New Jersey
42.6525793,-73.7562317,Albany,NY,New York
34.2257255,-77.9447102,Wilmington,NC,North Carolina
39.3995008,-84.5613355,Hamilton,OH,Ohio
45.487062,-122.8037102,Beaverton,OR,Oregon
36.3047735,-86.6199957,Hendersonville,TN,Tennessee
36.1626638,-86.7816016,Nashville,TN,Tennessee
33.2148412,-97.1330683,Denton,TX,Texas
32.7459645,-96.9977846,Grand Prairie,TX,Texas
29.5074538,-95.0949303,League City,TX,Texas
32.5007037,-94.7404891,Longview,TX,Texas
37.0870821,-76.4730122,Newport News,VA,Virginia
47.6739881,-122.121512,Redmond,WA,Washington
47.6587802,-117.4260465,Spokane,WA,Washington
47.6732281,-117.2393748,Spokane Valley,WA,Washington
45.6318397,-122.6716063,Vancouver,WA,Washington
44.519159,-88.019826,Green Bay,WI,Wisconsin
43.8013556,-91.2395807,La Crosse,WI,Wisconsin
43.0730517,-89.4012302,Madison,WI,Wisconsin

]

In [66]:
#df = pd.DataFrame(data,columns=['lat','lon','City','state','fullname'])

In [67]:
df.head()

,state,city,race,religion,so,ethnicity,disability,gender,genderid,population,abbreviation,race_per_100000,religion_per_100000,SO_per_100000,disability_per_100000,gender_per_100000,genderID_per_100000,search
1,Hoover,Hoover,0.0,1.0,0.0,1.0,0.0,0.0,0.0,84843.0,AL,0.000000,1.178648,0.000000,0.0,0.0,0.0,Hoover Hoover
4,Anchorage,Anchorage,5.0,0.0,1.0,0.0,0.0,0.0,0.0,301306.0,AK,1.659443,0.000000,0.331889,0.0,0.0,0.0,Anchorage Anchorage
6,Avondale,Avondale,1.0,1.0,0.0,1.0,0.0,0.0,0.0,79472.0,AZ,1.258305,1.258305,0.000000,0.0,0.0,0.0,Avondale Avondale
7,Chandler,Chandler,1.0,0.0,0.0,0.0,0.0,0.0,0.0,252369.0,AZ,0.396245,0.000000,0.000000,0.0,0.0,0.0,Chandler Chandler
10,Flagstaff,Flagstaff,0.0,0.0,1.0,0.0,0.0,0.0,0.0,69490.0,AZ,0.000000,0.000000,1.439056,0.0,0.0,0.0,Flagstaff Flagstaff

In [68]:
del df['search']

In [69]:
#start here, dont remember what this is like, above was google request but only partial i think, hmm
#formatLatLon = pd.read_csv("formatted_lat_lon") #this is for 2015
#
formatLatLon = pd.read_csv("LatLon2014", dtype=str)#this "is for 2016
#these are additional ones i want to add

In [70]:
#addThis2016 = pd.read_csv("addedLatLon2016", dtype=str)

In [71]:
formatLatLon.dtypes

lat         object
lon         object
City        object
state       object
fullname    object
dtype: object

In [72]:
#strip white space and any digits from the strin columns

In [73]:
#check that df abbrev and fullname are formatted too - this was done for the df above 
formatLatLon['state'] = formatLatLon['state'].str.strip()
formatLatLon['City'] = formatLatLon['City'].str.strip()
formatLatLon['fullname'] = formatLatLon['fullname'].str.strip()
formatLatLon = formatLatLon.replace("Las Vegas Metropolitan Police Department", "Las Vegas")
formatLatLon = formatLatLon.replace("Nashville Metropolitan", "Nashville")
formatLatLon = formatLatLon.replace("Louisville Metro", "Louisville")

formatLatLon['City'] = formatLatLon['City'].str.replace('\d', '')

In [74]:
df['city'] = df['city'].str.replace('Township','')
df['city'] = df['city'].str.replace('Town','')
df['city'] = df['city'].str.strip(' ')
df['city'] = df['city'].str.replace('Charlotte-Mecklenburg','Charlotte')
df['city'] = df['city'].str.replace('Athens-Clarke County','Athens')
df['city'] = df['city'].str.replace('Parsippany Troy Hills','Parsippany-Troy Hills')
df['city'] = df['city'].str.replace('Mount Vernon','Mt Vernon')
df['city'] = df['city'].str.replace('Hamilton , Mercer County','Hamilton')
df['city'] = df['city'].str.replace('Port St. Lucie' , 'Port St Lucie')
df['city'] = df['city'].str.replace('Shelby', 'Shelby ')
df['city'] = df['city'].str.replace('Bloomfield' , 'Bloomfield ')
df['city'] = df['city'].str.replace('Franklin , Somerset County' , 'Franklin')
df['city'] = df['city'].str.replace('Piscataway' , 'Piscataway ')  
df['city'] = df['city'].str.replace('Woodbridge' , 'Woodbridge ')
df['city'] = df['city'].str.replace('West Chester' , 'West Chester ')

In [75]:
p = df[df.city.str.contains('Mt')]
p

,state,city,race,religion,so,ethnicity,disability,gender,genderid,population,abbreviation,race_per_100000,religion_per_100000,SO_per_100000,disability_per_100000,gender_per_100000,genderID_per_100000
838,Mount Vernon,Mt Vernon,1.0,0.0,0.0,0.0,0.0,0.0,0.0,68442.0,NY,1.461091,0.0,0.0,0.0,0.0,0.0

In [76]:
# look for this below
p = df[df.city.str.contains('Mountain')]
p

Empty DataFrame
Columns: [state, city, race, religion, so, ethnicity, disability, gender, genderid, population, abbreviation, race_per_100000, religion_per_100000, SO_per_100000, disability_per_100000, gender_per_100000, genderID_per_100000]
Index: []

In [77]:
formatLatLon.columns

Index(['lat', 'lon', 'City', 'state', 'fullname'], dtype='object')

In [78]:
z = formatLatLon[formatLatLon.City.str.contains('Mount')]
z

           lat           lon           City state    fullname
27  37.3860517  -122.0838511  Mountain View    CA  California





formatLatLon["city, state"] = formatLatLon["city, state"].str.replace('Lakewood , New Jersey' , 'Lakewood, New Jersey')

formatLatLon["city, state"] = formatLatLon["city, state"].str.replace('Mt Pleasant' , 'Mount Pleasant')

formatLatLon["city, state"] = formatLatLon["city, state"].str.replace('Franklin ' , 'Franklin')

formatLatLon["city, state"] = formatLatLon["city, state"].str.replace('Rocky Mt. ' , 'Rocky Mount')

formatLatLon["city, state"] = formatLatLon["city, state"].str.replace('Hamilton ' , 'Hamilton')

In [79]:
#pd.to_numeric(formatLatLon['lon'],  downcast='float')
pd.set_option('display.float_format', lambda x: '%.10f' % x)

In [80]:
pd.to_numeric(formatLatLon['lat'],errors='coerce').astype('float64')
pd.to_numeric(formatLatLon['lon'],errors='coerce').astype('float64')

0      -83.4066132000
1      -84.4821719000
2      -83.7430378000
3      -85.1797142000
4      -83.4821160000
5      -83.9716095000
6      -83.1763145000
7      -83.2732627000
8      -83.0457538000
9      -83.3677168000
10     -83.6874562000
11     -85.6680863000
12     -85.5872286000
13     -84.5555347000
14     -83.3527097000
15     -83.1446485000
16     -83.9508068000
17     -86.3639633000
18     -83.2218731000
19     -82.8963604000
20     -83.1497751000
21     -83.0146526000
22     -83.3733390000
23     -83.4002110000
24     -85.7053085000
25    -122.2703863000
26    -121.9225860000
27    -122.0838511000
28    -122.2416355000
29    -121.8057890000
            ...
347    -74.2846022000
348   -106.6055534000
349    -73.7562317000
350    -78.8783689000
351    -78.7445720000
352    -73.9594940000
353    -73.8370786000
354    -73.7823549000
355    -77.6109219000
356    -73.8987469000
357    -82.5514869000
358    -79.4377991000
359    -79.0558445000
360    -80.8431267000
361    -78.8783585000
362    -79.7919754000
363    -77.3663538000
364    -80.0053176000
365    -77.4302414000
366    -78.6381787000
367    -77.9447102000
368   -100.7837392000
369    -96.7898034000
370    -97.0328547000
371    -97.4780954000
372    -97.4394777000
373    -97.5164276000
374   -122.8755949000
375   -123.0350963000
376   -123.0220289000
Name: lon, dtype: float64

pd.to_numeric(addThis2016['lat'],errors='coerce').astype('float64')
pd.to_numeric(addThis2016['lon'],errors='coerce').astype('float64')

In [81]:
#pd.to_numeric(formatLatLon['lat'],  downcast='float')

In [82]:
#addThis2016

In [83]:
latFormat = formatLatLon

In [84]:
latFormat["city, state"] = latFormat["City"].map(str) + ", " + latFormat["fullname"]

In [85]:
latFormat.head(1)

,lat,lon,City,state,fullname,"city, state"
0,42.6907443,-83.4066132,Waterford Twp,MI,Michigan,"Waterford Twp, Michigan"

In [86]:
latFormat['City'] = latFormat['City'].str.replace('\d', '') #ensures no digits stuck to town names

#valuelist = ['value1', 'value2', 'value3']
valuelist = ['Hoover',
 'Arizona State University, Main Campus',
 'Sebastian',
 'Sevier',
 'Mountain View',
 'Metro Transit Police',
 'University of Florida',
 'Brevard',
 'Clay',
 'Escambia',
 'Hillsborough',
 'Lake',
 'Miami-Dade',
 'Orange',
 'Osceola',
 'Pinellas',
 'Volusia',
 "Coeur d'Alene",
 'University of Kansas, Medical Center',
 'New Orleans ',
 'Waterford',
 'Michigan State University',
 'University of Minnesota, Twin Cities',
 'Mille Lacs',
 'Crow Wing',
 'Minneapolis-St. Paul International Airport',
 'Reno',
 'Colerain',
 'Green',
 'West Chester  ',
 'Ohio State University, Columbus',
 'Abington , Montgomery County',
 'Meade',
 'Minnehaha',
 'Union',
 'Hamlin',
 'Jerauld']

print(latFormat.loc[latFormat['city'].isin(['Jerauld'])])
#df[df.A.isin([0,2])]
#df[df.Name.isin(['Alice', 'Bob'])]
#print(df.loc[df['B'].isin(['one','three'])])

formatLatLon.loc[formatLatLon['City'] == "Sevier"]

del latFormat["City"]
del latFormat["state"]
del latFormat["fullname"]

In [87]:
#fixNull = latFormat[latFormat.isnull().any(axis=1)]
#fix = fixNull["city"]
#list(fix)
#fixNull
#drop all null rows
#latFormat = latFormat.dropna(how='any',axis=0)

In [88]:
fixNull = latFormat[latFormat.isnull().any(axis=1)]
fixNull

Empty DataFrame
Columns: [lat, lon, City, state, fullname, city, state]
Index: []

In [89]:
latFormat[latFormat["City"].str.contains("York")]

Empty DataFrame
Columns: [lat, lon, City, state, fullname, city, state]
Index: []

## FORMAT THESe  so that  null city names match w2 city names -- some whitespaces
should have been fixed in google maps..oh well..failure to strip white space after first word and before comma in google maps

In [90]:
#also do a regex on city name to remove any numbers 
#df['city'] = df['city'].str.replace('San Bernardino2' , 'San Bernardino')
#df['city'] = df['city'].str.replace( /[0-9]/, '')
import re

#s = re.sub('[0-9]', '', s)
#yuk = df.city.str.contains('[0-9]').sum()
#yuk
#z = latFormat[latFormat['City'].str.contains('[0-9]')]
#since the numbers appear at the end, ill splice off the last digit on those strings
#z.City

## leaving below unchanged in 2014 -- maybe thats the prblem with matching dont know


latFormat["city, state"] = latFormat["city, state"].str.replace('Lakewood , New Jersey' , 'Lakewood, New Jersey')

latFormat["city, state"] = latFormat["city, state"].str.replace('Mt Pleasant' , 'Mount Pleasant')

latFormat["city, state"] = latFormat["city, state"].str.replace('Franklin ' , 'Franklin')

latFormat["city, state"] = latFormat["city, state"].str.replace('Rocky Mt. ' , 'Rocky Mount')

latFormat["city, state"] = latFormat["city, state"].str.replace('Hamilton ' , 'Hamilton')

In [91]:
fixNull = latFormat[latFormat.isnull().any(axis=1)]
#fix = fixNull["city"]
#list(fix)
fixNull

Empty DataFrame
Columns: [lat, lon, City, state, fullname, city, state]
Index: []

In [92]:
latFormat[latFormat["city, state"].str.contains("York")]#didn't strip whitespac in google or county in hate crime df
#df[df["city"].str.contains("York")]#missing in gogole map set

,lat,lon,City,state,fullname,"city, state"
349,42.6525793,-73.7562317,Albany,NY,New York,"Albany, New York"
350,42.8864468,-78.8783689,Buffalo,NY,New York,"Buffalo, New York"
351,42.9026136,-78.744572,Cheektowaga,NY,New York,"Cheektowaga, New York"
352,41.1259715,-73.959494,Clarkstown,NY,New York,"Clarkstown, New York"
353,40.9125992,-73.8370786,Mt Vernon,NY,New York,"Mt Vernon, New York"
354,40.9114882,-73.7823549,New Rochelle,NY,New York,"New Rochelle, New York"
355,43.16103,-77.6109219,Rochester,NY,New York,"Rochester, New York"
356,40.9312099,-73.8987469,Yonkers,NY,New York,"Yonkers, New York"

In [93]:
latFormat = latFormat.rename(columns = {
    'City':'city',
})

In [94]:
#del latFormat["state"]


addThis2016 = addThis2016.rename(columns = {
    'City':'city',
})

del addThis2016["state"]

addThis2016.head()

In [95]:
latFormat.head()

,lat,lon,city,state,fullname,"city, state"
0,42.6907443,-83.4066132,Waterford Twp,MI,Michigan,"Waterford Twp, Michigan"
1,42.701848,-84.4821719,East Lansing,MI,Michigan,"East Lansing, Michigan"
2,42.2808256,-83.7430378,Ann Arbor,MI,Michigan,"Ann Arbor, Michigan"
3,42.3211522,-85.1797142,Battle Creek,MI,Michigan,"Battle Creek, Michigan"
4,42.3086444,-83.482116,Canton,MI,Michigan,"Canton, Michigan"

addThis2016 = addThis2016.rename(columns = {
    'fullname':'state',
})

latFormat = latFormat.rename(columns = {
    'fullname':'state',
})

In [96]:
#del latFormat["state"]

In [97]:
#del latFormat['country']
#del latFormat['state']

latFormat = latFormat.rename(columns = {
    'City':'city',
})

In [98]:
latFormat.head()

,lat,lon,city,state,fullname,"city, state"
0,42.6907443,-83.4066132,Waterford Twp,MI,Michigan,"Waterford Twp, Michigan"
1,42.701848,-84.4821719,East Lansing,MI,Michigan,"East Lansing, Michigan"
2,42.2808256,-83.7430378,Ann Arbor,MI,Michigan,"Ann Arbor, Michigan"
3,42.3211522,-85.1797142,Battle Creek,MI,Michigan,"Battle Creek, Michigan"
4,42.3086444,-83.482116,Canton,MI,Michigan,"Canton, Michigan"

In [99]:

#del latFormat['country']
#del boom['city, state']

addThis2016.head(1)

In [100]:
latFormat.shape

(377, 6)

In [101]:
latFormat.head()

,lat,lon,city,state,fullname,"city, state"
0,42.6907443,-83.4066132,Waterford Twp,MI,Michigan,"Waterford Twp, Michigan"
1,42.701848,-84.4821719,East Lansing,MI,Michigan,"East Lansing, Michigan"
2,42.2808256,-83.7430378,Ann Arbor,MI,Michigan,"Ann Arbor, Michigan"
3,42.3211522,-85.1797142,Battle Creek,MI,Michigan,"Battle Creek, Michigan"
4,42.3086444,-83.482116,Canton,MI,Michigan,"Canton, Michigan"

addThis2016.shape

#df_new = pd.concat([df_a, df_b])
df_new = pd.concat([addThis2016, latFormat])

df_new.shape #combined the two similar dfs

df_new.tail(100)

In [102]:
#latFormat1 = pd.merge(latFormat, addThis2016, on='lat')

In [103]:
#latFormat = pd.concat([addThis2016, latFormat])

In [104]:
#latFormat1.shape

In [105]:
print(latFormat.head(1))
df.head(1)

          lat          lon           city state  fullname  \
0  42.6907443  -83.4066132  Waterford Twp    MI  Michigan

               city, state
0  Waterford Twp, Michigan

,state,city,race,religion,so,ethnicity,disability,gender,genderid,population,abbreviation,race_per_100000,religion_per_100000,SO_per_100000,disability_per_100000,gender_per_100000,genderID_per_100000
1,Hoover,Hoover,0.0000000000,1.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,84843.0000000000,AL,0.0000000000,1.1786476197,0.0000000000,0.0000000000,0.0000000000,0.0000000000

In [106]:
df["city, state"] = df["state"] + ", " + df["city"]

df_new[df_new.isnull()]
df_new.isnull().sum()

In [107]:
#seems i should jsut merge them on perhaps two columns, they both have city and state
#change latformat City to city -- done 
#

df.head(1)

In [108]:
dupes = df[df.duplicated(['city', 'state'], keep=False)]
dupes

,state,city,race,religion,so,ethnicity,disability,gender,genderid,population,abbreviation,race_per_100000,religion_per_100000,SO_per_100000,disability_per_100000,gender_per_100000,genderID_per_100000,"city, state"
12,Glendale,Glendale,4.0000000000,2.0000000000,2.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,236780.0000000000,AZ,1.6893318692,0.8446659346,0.8446659346,0.0000000000,0.0000000000,0.0000000000,"Glendale, Glendale"
28,Apple Valley,Apple Valley,2.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,71329.0000000000,CA,2.8039086487,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,"Apple Valley, Apple Valley"
64,Fairfield,Fairfield,0.0000000000,0.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,110300.0000000000,CA,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,"Fairfield, Fairfield"
74,Glendale,Glendale,0.0000000000,2.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,197079.0000000000,CA,0.0000000000,1.0148214675,0.0000000000,0.0000000000,0.0000000000,0.0000000000,"Glendale, Glendale"
119,Norwalk,Norwalk,11.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,106838.0000000000,CA,10.2959621109,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,"Norwalk, Norwalk"
177,Union City,Union City,3.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,73268.0000000000,CA,4.0945569689,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,"Union City, Union City"
193,Aurora,Aurora,1.0000000000,1.0000000000,2.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,350948.0000000000,CO,0.2849424986,0.2849424986,0.5698849972,0.0000000000,0.0000000000,0.0000000000,"Aurora, Aurora"
211,Lakewood,Lakewood,0.0000000000,0.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,148236.0000000000,CO,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,"Lakewood, Lakewood"
232,Fairfield,Fairfield,0.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,61146.0000000000,CT,0.0000000000,0.0000000000,1.6354299545,0.0000000000,0.0000000000,0.0000000000,"Fairfield, Fairfield"
249,Norwalk,Norwalk,1.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,88232.0000000000,CT,1.1333756460,1.1333756460,0.0000000000,0.0000000000,0.0000000000,0.0000000000,"Norwalk, Norwalk"
274,Wilmington,Wilmington,1.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,71713.0000000000,DE,1.3944473108,0.0000000000,1.3944473108,0.0000000000,0.0000000000,0.0000000000,"Wilmington, Wilmington"
311,Aurora,Aurora,2.0000000000,0.0000000000,1.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,200419.0000000000,IL,0.9979093798,0.0000000000,0.4989546899,0.0000000000,0.0000000000,0.0000000000,"Aurora, Aurora"
315,Bloomington,Bloomington,1.0000000000,0.0000000000,2.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,79451.0000000000,IL,1.2586373992,0.0000000000,2.5172747983,0.0000000000,0.0000000000,0.0000000000,"Bloomington, Bloomington"
344,Springfield,Springfield,2.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,117134.0000000000,IL,1.7074461728,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,"Springfield, Springfield"
351,Bloomington,Bloomington,7.0000000000,1.0000000000,1.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,83075.0000000000,IN,8.4261209750,1.2037315679,1.2037315679,0.0000000000,0.0000000000,0.0000000000,"Bloomington, Bloomington"
375,Kansas City,Kansas City,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,149103.0000000000,KS,0.6706773170,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,"Kansas City, Kansas City"
498,Medford,Medford,3.0000000000,1.0000000000,0.0000000000,1.0000000000,0.0000000000,1.0000000000,3.0000000000,57551.0000000000,MA,5.2127678059,1.7375892686,0.0000000000,0.0000000000,1.7375892686,5.2127678059,"Medford, Medford"
513,Plymouth,Plymouth,3.0000000000,2.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,58292.0000000000,MA,5.1465038084,3.4310025389,0.0000000000,0.0000000000,0.0000000000,0.0000000000,"Plymouth, Plymouth"
521,Springfield,Springfield,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,153766.0000000000,MA,0.6503388265,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,"Springfield, Springfield"
630,Apple Valley,Apple Valley,0.0000000000,0.0000000000,0.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,50472.0000000000,MN,0.0000000000,0.0000000000,0.0000000000,1.9812965605,0.0000000000,0.0000000000,"Apple Valley, Apple Valley"
647,Plymouth,Plymouth,4.0000000000,0.0000000000,1.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,74833.0000000000,MN,5.3452353908,0.0000000000,1.3363088477,0.0000000000,0.0000000000,0.0000000000,"Plymouth, Plymouth"
654,Columbia,Columbia,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,116847.0000000000,MO,0.8558200039,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,"Columbia, Columbia"
661,Kansas City,Kansas City,17.0000000000,5.0000000000,7.0000000000,1.0000000000,0.0000000000,0.0000000000,1.0000000000,468417.0000000000,MO,3.6292448822,1.0674249654,1.4943949515,0.0000000000,0.0000000000,0.2134849931,"Kansas City, Kansas City"
665,Springfield,Springfield,3.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,1.0000000000,165280.0000000000,MO,1.8151016457,0.6050338819,0.0000000000,0.0000000000,0.0000000000,0.6050338819,"Springfield, Springfield"
806,Union City,Union City,1.0000000000,3.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,68787.0000000000,NJ,1.4537630657,4.3612891971,0.0000000000,0.0000000000,0.0000000000,0.0000000000,"Union City, Union City"
871,Wilmington,Wilmington,2.0000000000,2.0000000000,2.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,113418.0000000000,NC,1.7633885274,1.7633885274,1.7633885274,0.0000000000,0.0000000000,0.0000000000,"Wilmington, Wilmington"
911,Lakewood,Lakewood,3.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,50923.0000000000,OH,5.8912475699,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,"Lakewood, Lakewood"
942,Springfield,Springfield,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,58891.0000000000,OH,1.6980523340,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,"Springfield, Springfield"
978,Medford,Medford,0.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,78356.0000000000,OR,0.0000000000,0.0000000000,1.2762264536,0.0000000000,0.0000000000,0.0000000000,"Medford, Medford"
983,Springfield,Springfield,2.0000000000,0.0000000000,1.0000000000,3.0000000000,0.0000000000,0.0000000000,0.0000000000,60377.0000000000,OR,3.3125196681,0.0000000000,1.6562598340,0.0000000000,0.0000000000,0.0000000000,"Springfield, Springfield"
1008,Charleston,Charleston,2.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,129867.0000000000,SC,1.5400371149,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,"Charleston, Charleston"
1010,Columbia,Columbia,1.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,134124.0000000000,SC,0.7455787182,0.0000000000,0.7455787182,0.0000000000,0.0000000000,0.0000000000,"Columbia, Columbia"
1174,Lakewood,Lakewood,4.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,59313.0000000000,WA,6.7438841401,0.0000000000,1.6859710350,0.0000000000,0.0000000000,0.0000000000,"Lakewood, Lakewood"
1202,Charleston,Charleston,3.0000000000,0.0000000000,1.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,50693.0000000000,WV,5.9179768410,0.0000000000,1.9726589470,0.0000000000,0.0000000000,0.0000000000,"Charleston, Charleston"

In [109]:
#df_new = df_new.drop_duplicates(subset=['city','state'], keep="last") this drops some places i want 
#df_new.shape

df_new.lat.dtype

In [110]:
#df_new.lat = df_new.lat.astype(str)
#df_new.lon = df_new.lon.astype(str)

In [111]:
#del df_new["state"]

In [112]:
#df_new = df_new.rename(columns = {
#    'fullname':'state',
#})
df.head(1)

,state,city,race,religion,so,ethnicity,disability,gender,genderid,population,abbreviation,race_per_100000,religion_per_100000,SO_per_100000,disability_per_100000,gender_per_100000,genderID_per_100000,"city, state"
1,Hoover,Hoover,0.0000000000,1.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,84843.0000000000,AL,0.0000000000,1.1786476197,0.0000000000,0.0000000000,0.0000000000,0.0000000000,"Hoover, Hoover"

In [113]:
#print(df.head(1))
latFormat.head(1)

,lat,lon,city,state,fullname,"city, state"
0,42.6907443,-83.4066132,Waterford Twp,MI,Michigan,"Waterford Twp, Michigan"

In [114]:
list(latFormat.columns)

['lat', 'lon', 'city', 'state', 'fullname', 'city, state']

In [115]:
latFormat.head()

,lat,lon,city,state,fullname,"city, state"
0,42.6907443,-83.4066132,Waterford Twp,MI,Michigan,"Waterford Twp, Michigan"
1,42.701848,-84.4821719,East Lansing,MI,Michigan,"East Lansing, Michigan"
2,42.2808256,-83.7430378,Ann Arbor,MI,Michigan,"Ann Arbor, Michigan"
3,42.3211522,-85.1797142,Battle Creek,MI,Michigan,"Battle Creek, Michigan"
4,42.3086444,-83.482116,Canton,MI,Michigan,"Canton, Michigan"

In [116]:
list(df.columns)

['state',
 'city',
 'race',
 'religion',
 'so',
 'ethnicity',
 'disability',
 'gender',
 'genderid',
 'population',
 'abbreviation',
 'race_per_100000',
 'religion_per_100000',
 'SO_per_100000',
 'disability_per_100000',
 'gender_per_100000',
 'genderID_per_100000',
 'city, state']

In [117]:
df["city, state"] = df["city, state"].str.strip()

In [118]:
latFormat["city, state"] = latFormat["city, state"].str.strip()

print(df_new.shape)
df.shape

In [119]:
df.head(1)

,state,city,race,religion,so,ethnicity,disability,gender,genderid,population,abbreviation,race_per_100000,religion_per_100000,SO_per_100000,disability_per_100000,gender_per_100000,genderID_per_100000,"city, state"
1,Hoover,Hoover,0.0000000000,1.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,84843.0000000000,AL,0.0000000000,1.1786476197,0.0000000000,0.0000000000,0.0000000000,0.0000000000,"Hoover, Hoover"

## BUT HERE I DONT WANT TO ELIMINATE PLACES THAT DONT HAVE A LAT LON IN LATFORMAT -- IE WHAT HAPPENED TO NEW YORK CITY?
and for some reason i can never get all the lat lons to match !! erggggger

In [120]:
#df.set_value('776', 'city', "Somerville")
#df.set_value('1021', 'city', "Omaha")

In [121]:
df[df['city'].str.contains('\d')]

Empty DataFrame
Columns: [state, city, race, religion, so, ethnicity, disability, gender, genderid, population, abbreviation, race_per_100000, religion_per_100000, SO_per_100000, disability_per_100000, gender_per_100000, genderID_per_100000, city, state]
Index: []

In [122]:
#boom.set_value('New York', 'lat', "40.7128" )
#boom.set_value('New York', 'lon', "-74.0059")

In [123]:
#df.at['C', 'x'] = 10
#df[df['city']=="Omaha2"] == "Omaha"
#df.at['Omaha2']

In [124]:
df.head(1)

,state,city,race,religion,so,ethnicity,disability,gender,genderid,population,abbreviation,race_per_100000,religion_per_100000,SO_per_100000,disability_per_100000,gender_per_100000,genderID_per_100000,"city, state"
1,Hoover,Hoover,0.0000000000,1.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,84843.0000000000,AL,0.0000000000,1.1786476197,0.0000000000,0.0000000000,0.0000000000,0.0000000000,"Hoover, Hoover"

In [125]:
latFormat.head(1)

,lat,lon,city,state,fullname,"city, state"
0,42.6907443,-83.4066132,Waterford Twp,MI,Michigan,"Waterford Twp, Michigan"

In [126]:
latFormat['city'] = latFormat['city'].str.replace('Township',"")
latFormat['city'] = latFormat['city'].str.replace('Twp',"")

## the geo formattied stuff does has Twp vs Townshop, etc//

In [127]:
latFormat = latFormat.rename(columns = {
    'state':'abbreviation',
})

In [128]:
#df.city
#y = df[df['city'].str.contains("Township")]
#y
df['city'] = df['city'].str.replace("Township", "")

In [129]:
latFormat.city

0            Waterford
1          East Lansing
2             Ann Arbor
3          Battle Creek
4                Canton
5               Clinton
6              Dearborn
7      Dearborn Heights
8               Detroit
9      Farmington Hills
10                Flint
11         Grand Rapids
12            Kalamazoo
13              Lansing
14              Livonia
15            Royal Oak
16              Saginaw
17               Shelby
18           Southfield
19     St. Clair Shores
20                 Troy
21               Warren
22      West Bloomfield
23             Westland
24              Wyoming
25             Hercules
26             San Jose
27        Mountain View
28              Alameda
29              Antioch
             ...
347          Woodbridge
348         Albuquerque
349              Albany
350             Buffalo
351         Cheektowaga
352          Clarkstown
353           Mt Vernon
354        New Rochelle
355           Rochester
356             Yonkers
357           Asheville
358          Burlington
359         Chapel Hill
360           Charlotte
361        Fayetteville
362          Greensboro
363          Greenville
364          High Point
365        Jacksonville
366             Raleigh
367          Wilmington
368            Bismarck
369               Fargo
370         Grand Forks
371              Edmond
372              Norman
373       Oklahoma City
374             Medford
375               Salem
376         Springfield
Name: city, dtype: object

In [130]:
 #pd.merge(a, b, on=['A', 'B'])
boom = pd.merge(df, latFormat, on=['city', 'abbreviation'], how="left") #keeps all the values in the df of hate crimes even if no correspondinglat lon

In [131]:
here = boom[boom['lat'].isnull()]

here.city
#here.shape

249                         Shelby
254                West Bloomfield
300                     Piscataway
305                     Woodbridge
313                        New York
342                   West Chester
349    Abington , Montgomery County
351                    Philadelphia
352                      Pittsburgh
353                         Reading
354                        Scranton
355                   State College
356                       Pawtucket
357                      Providence
358                      Charleston
359                        Columbia
360                      Rapid City
361                     Sioux Falls
362                     Chattanooga
363                     Clarksville
364                         Jackson
365                       Knoxville
366                         Memphis
367                       Nashville
368                          Austin
369                         Baytown
370                        Beaumont
371                      Cedar Park
372                 College Station
373                          Conroe
                   ...
402                    Harrisonburg
403                       Lynchburg
404                    Newport News
405                         Norfolk
406                      Portsmouth
407                        Richmond
408                         Suffolk
409                  Virginia Beach
410                          Auburn
411                      Bellingham
412                          Burien
413                         Everett
414                     Federal Way
415                            Kent
416                        Kirkland
417                        Lakewood
418                          Renton
419                       Sammamish
420                         Seattle
421                         Spokane
422                  Spokane Valley
423                          Tacoma
424                       Vancouver
425                          Yakima
426                      Charleston
427                        Appleton
428                      Janesville
429                       La Crosse
430                         Madison
431                       Milwaukee
Name: city, dtype: object

In [132]:
boom.columns

Index(['state', 'city', 'race', 'religion', 'so', 'ethnicity', 'disability',
       'gender', 'genderid', 'population', 'abbreviation', 'race_per_100000',
       'religion_per_100000', 'SO_per_100000', 'disability_per_100000',
       'gender_per_100000', 'genderID_per_100000', 'city, state_x', 'lat',
       'lon', 'fullname', 'city, state_y'],
      dtype='object')

In [133]:
boom[boom['city, state_x'] == "New York, New York"]

,state,city,race,religion,so,ethnicity,disability,gender,genderid,population,...,religion_per_100000,SO_per_100000,disability_per_100000,gender_per_100000,genderID_per_100000,"city, state_x",lat,lon,fullname,"city, state_y"
313,New York,New York,37.0000000000,168.0000000000,78.0000000000,22.0000000000,0.0000000000,0.0000000000,2.0000000000,8473938.0000000000,...,1.9825493177,0.9204693261,0.0000000000,0.0000000000,0.0236017776,"New York, New York",NaN,NaN,NaN,NaN

In [134]:
del boom['city, state_x']
del boom['city, state_y']

In [135]:
boom.lat.dtype

dtype('O')

In [136]:
boom.set_index("city", inplace=True)
#df1.loc[df1['stream'] == 2, 'feat'] = 10

In [137]:
boom.set_value('New York', 'lat', "40.7128" )
boom.set_value('New York', 'lon', "-74.0059")

,state,race,religion,so,ethnicity,disability,gender,genderid,population,abbreviation,race_per_100000,religion_per_100000,SO_per_100000,disability_per_100000,gender_per_100000,genderID_per_100000,lat,lon,fullname
city,,,,,,,,,,,,,,,,,,,
Hoover,Hoover,0.0000000000,1.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,84843.0000000000,AL,0.0000000000,1.1786476197,0.0000000000,0.0000000000,0.0000000000,0.0000000000,33.4053867,-86.8113781,Alabama
Anchorage,Anchorage,5.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,301306.0000000000,AK,1.6594425601,0.0000000000,0.3318885120,0.0000000000,0.0000000000,0.0000000000,61.2180556,-149.9002778,Alaska
Avondale,Avondale,1.0000000000,1.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,79472.0000000000,AZ,1.2583048118,1.2583048118,0.0000000000,0.0000000000,0.0000000000,0.0000000000,33.4355977,-112.3496021,Arizona
Chandler,Chandler,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,252369.0000000000,AZ,0.3962451807,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,33.3061605,-111.8412502,Arizona
Flagstaff,Flagstaff,0.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,69490.0000000000,AZ,0.0000000000,0.0000000000,1.4390559793,0.0000000000,0.0000000000,0.0000000000,35.1982836,-111.651302,Arizona
Gilbert,Gilbert,2.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,235430.0000000000,AZ,0.8495094083,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,33.3528264,-111.789027,Arizona
Glendale,Glendale,4.0000000000,2.0000000000,2.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,236780.0000000000,AZ,1.6893318692,0.8446659346,0.8446659346,0.0000000000,0.0000000000,0.0000000000,33.5386523,-112.1859866,Arizona
Goodyear,Goodyear,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,74826.0000000000,AZ,1.3364338599,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,33.4353394,-112.3576567,Arizona
Mesa,Mesa,4.0000000000,1.0000000000,3.0000000000,2.0000000000,0.0000000000,0.0000000000,0.0000000000,462092.0000000000,AZ,0.8656284896,0.2164071224,0.6492213672,0.0000000000,0.0000000000,0.0000000000,33.4151843,-111.8314724,Arizona
Phoenix,Phoenix,91.0000000000,19.0000000000,35.0000000000,35.0000000000,3.0000000000,0.0000000000,0.0000000000,1529852.0000000000,AZ,5.9482878082,1.2419502017,2.2878030032,0.1960974003,0.0000000000,0.0000000000,33.4535383,-112.0731216,Arizona
Phoenix,Phoenix,91.0000000000,19.0000000000,35.0000000000,35.0000000000,3.0000000000,0.0000000000,0.0000000000,1529852.0000000000,AZ,5.9482878082,1.2419502017,2.2878030032,0.1960974003,0.0000000000,0.0000000000,33.4483771,-112.0740373,Arizona
Scottsdale,Scottsdale,2.0000000000,1.0000000000,1.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,229325.0000000000,AZ,0.8721247138,0.4360623569,0.4360623569,0.0000000000,0.0000000000,0.0000000000,33.4941704,-111.9260519,Arizona
Tempe,Tempe,1.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,169812.0000000000,AZ,0.5888865333,0.5888865333,0.0000000000,0.0000000000,0.0000000000,0.0000000000,33.4255104,-111.9400054,Arizona
Tucson,Tucson,4.0000000000,2.0000000000,3.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,527328.0000000000,AZ,0.7585411736,0.3792705868,0.5689058802,0.0000000000,0.0000000000,0.0000000000,32.2217429,-110.926479,Arizona
Yuma,Yuma,4.0000000000,6.0000000000,1.0000000000,3.0000000000,0.0000000000,0.0000000000,0.0000000000,92075.0000000000,AZ,4.3442845506,6.5164268260,1.0860711377,0.0000000000,0.0000000000,0.0000000000,32.6926512,-114.6276916,Arizona
Fort Smith,Fort Smith,3.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,87989.0000000000,AR,3.4095170987,0.0000000000,1.1365056996,0.0000000000,0.0000000000,0.0000000000,35.3859242,-94.3985475,Arkansas
Rogers,Rogers,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,61105.0000000000,AR,0.0000000000,1.6365272891,0.0000000000,0.0000000000,0.0000000000,0.0000000000,36.3320196,-94.1185366,Arkansas
Alameda,Alameda,3.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,77048.0000000000,CA,3.8936766691,0.0000000000,1.2978922230,0.0000000000,0.0000000000,0.0000000000,37.7652065,-122.2416355,California
Alhambra,Alhambra,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,84931.0000000000,CA,1.1774263814,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,34.095287,-118.1270146,California
Antioch,Antioch,1.0000000000,0.0000000000,1.0000000000,1.0000000000,0.0000000000,0.0000000000,2.0000000000,108223.0000000000,CA,0.9240179999,0.0000000000,0.9240179999,0.0000000000,0.0000000000,1.8480359997,38.0049214,-121.805789,California
Apple Valley,Apple Valley,2.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,71329.0000000000,CA,2.8039086487,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,34.5008311,-117.1858759,California
Bakersfield,Bakersfield,4.0000000000,0.0000000000,1.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,367406.0000000000,CA,1.0887138479,0.0000000000,0.2721784620,0.0000000000,0.0000000000,0.0000000000,35.3732921,-119.0187125,California
Berkeley,Berkeley,0.0000000000,2.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,117753.0000000000,CA,0.0000000000,1.6984705273,0.0000000000,0.0000000000,0.0000000000,0.0000000000,37.8715926,-122.272747,California
Brentwood,Brentwood,2.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,55826.0000000000,CA,3.5825600974,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,37.931868,-121.6957863,California
Buena Park,Buena Park,0.0000000000,0.0000000000,1.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,83414.0000000000,CA,0.0000000000,0.0000000000,1.1988395233,0.0000000000,0.0000000000,0.0000000000,33.8674044,-117.9981387,California
Burbank,Burbank,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,105041.0000000000,CA,0.0000000000,0.9520092154,0.0000000000,0.0000000000,0.0000000000,0.0000000000,34.1808392,-118.3089661,California
Camarillo,Camarillo,2.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,66272.0000000000,CA,3.0178657653,0.0000000000,1.5089328827,0.0000000000,0.0000000000,0.0000000000,34.2163937,-119.0376023,California
Carson,Carson,0.0000000000,1.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,92838.0000000000,CA,0.0000000000,1.0771451345,0.0000000000,0.0000000000,0.0000000000,0.0000000000,33.8316745,-118.281693,California
Chico,Chico,2.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,88562.0000000000,CA,2.2583049163,1.1291524582,0.0000000000,0.0000000000,0.0000000000,0.0000000000,39.7284944,-121.8374777,California
Chino,Chino,1.0000000000,0.0000000000,0.0000000000,2.0000000000,0.0000000000,0.0000000000,0.0000000000,81600.0000000000,CA,1.2254901961,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,34.0122346,-117.688944,California
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Harrisonburg,Harrisonburg,0.0000000000,1.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,52026.0000000000,VA,0.0000000000,1.9221158651,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Lynchburg,Lynchburg,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,78639.0000000000,VA,1.2716336678,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Newport News,Newport News,0.0000000000,0.0000000000,4.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,182374.0000000000,VA,0.0000000000,0.0000000000,2.1932950969,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Norfolk,Norfolk,2.0000000000,0.0000000000,7.0000000000,3.0000000000,0.0000000000,0.0000000000,0.0000000000,247078.0000000000,VA,0.8094609799,0.0000000000,2.8331134298,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Portsmouth,Portsmouth,3.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,96435.0000000000,VA,3.1109037175,1.0369679058,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Richmond,Richmond,0.0000000000,1.0000000000,1.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,216747.0000000000,VA,0.0000000000,0.4613674007,0.4613674007,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Suffolk,Suffolk,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,85987.0000000000,VA,1.1629664949,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Virginia Beach,Virginia Beach,5.0000000000,2.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,451102.0000000000,VA,1.1083967706,0.4433587082,0.2216793541,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Auburn,Auburn,1.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,76020.0000000000,WA,1.3154433044,0.0000000000,1.3154433044,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Bellingham,Bellingham,2.0000000000,0.0000000000,0.0000000000,2.0000000000,0.0000000000,0.0000000000,0.0000000000,83048.0000000000,WA,2.4082458337,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Burien,Burien,3.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,50284.0000000000,WA,5.9661124811,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Everett,Everett,3.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,105911.0000000000,WA,2.8325669666,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Federal Way,Federal Way,0.0000000000,4.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,93551.0000000000,WA,0.0000000000,4.2757426431,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Kent,Kent,10.0000000000,1.0000000000,5.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,125837.0000000000,WA,7.9467883055,0.7946788306,3.9733941528,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Kirkland,Kirkland,0.0000000000,1.0000000000,1.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,85352.0000000000,WA,0.0000000000,1.1716187084,1.1716187084,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Lakewood,Lakewood,4.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,59313.0000000000,WA,6.7438841401,0.0000000000,1.6859710350,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Renton,Renton,12.0000000000,4.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,98240.0000000000,WA,12.2149837134,4.0716612378,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Sammamish,Sammamish,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,51016.0000000000,WA,0.0000000000,1.9601693586,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Seattle,Seattle,64.0000000000,10.0000000000,21.0000000000,9.0000000000,0.0000000000,3.0000000000,0.0000000000,663410.0000000000,WA,9.6471262115,1.5073634706,3.1654632882,0.0000000000,0.4522090412,0.0000000000,NaN,NaN,NaN
Spokane,Spokane,7.0000000000,3.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,211025.0000000000,WA,3.3171425187,1.4216325080,0.4738775027,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Spokane Valley,Spokane Valley,3.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,91382.0000000000,WA,3.2829222385,1.0943074128,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Tacoma,Tacoma,3.0000000000,0.0000000000,2.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,204722.0000000000,WA,1.4654018620,0.0000000000,0.9769345747,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Vancouver,Vancouver,6.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,168688.0000000000,WA,3.5568623731,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Yakima,Yakima,1.0000000000,2.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,93667.0000000000,WA,1.0676118590,2.1352237181,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Charleston,Charleston,3.0000000000,0.0000000000,1.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,50693.0000000000,WV,5.9179768410,0.0000000000,1.9726589470,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Appleton,Appleton,1.0000000000,0.0000000000,2.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,73841.0000000000,WI,1.3542611828,0.0000000000,2.7085223656,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Janesville,Janesville,2.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,63885.0000000000,WI,3.1306253424,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
La Crosse,La Crosse,3.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,51564.0000000000,WI,5.8180125669,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Madison,Madison,3.0000000000,1.0000000000,4.0000000000,2.0000000000,0.0000000000,0.0000000000,0.0000000000,245788.0000000000,WI,1.2205640633,0.4068546878,1.6274187511,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Milwaukee,Milwaukee,5.0000000000,2.0000000000,2.0000000000,2.0000000000,0.0000000000,0.0000000000,0.0000000000,600374.0000000000,WI,0.8328142125,0.3331256850,0.3331256850,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN

boom.set_value('Mountain View', 'lat', "37.3860517" )
boom.set_value('Mountain View', 'lon', "-122.0838511") #	-122.0838511

In [138]:
# at this point because of formatting i left out about 20 cities from lat lon -- added in new york and mountain view , cant figure out why they wont include temsleves, maybe formatting ?

In [139]:
#boom.iloc[["New York"]]
#print (boom[boom.index.str.startswith('New')])

addThis2016

In [140]:
#boom.loc[boom['city'] == 'New York', 'lat'] = 10

myData4 = [
[42.6907443,-83.4066132, 'Waterford, MI, USA'],
[38.0111009,-122.2703863, 'Hercules, CA, USA'],
[33.4535383,-112.0731216, 'Phoenix, AZ, USA'],
[37.339712,-121.922586, 'San Jose, CA, USA'],
[37.3860517,-122.0838511, 'Mountain View, CA, USA'],
[44.9583733,-93.2406408, 'Minneapolis, MN, USA'],
[29.6436325,-82.3549302, 'Gainesville, FL, USA'],
[28.9438671,-81.093234, 'New Smyrna Beach, FL, USA'],
[47.6776832,-116.7804664, 'Coeur dAlene, ID, USA'],
[29.9510658,-90.0715323, 'New Orleans, LA, USA'],
[42.701848,-84.4821719, 'East Lansing, MI, USA'],
[44.97399,-93.2277285, 'Minneapolis, MN, USA'],
[46.2529828,-93.6605345, 'Mille Lacs Lake, Minnesota, USA'],
[43.202025,-71.534268, 'Concord, NH, USA'],
[36.1023715,-115.1745559, 'Las Vegas, NV, USA'],
[40.1259045,-80.8086973, 'Colerain, OH, USA'],
[40.9458898,-81.4831714, 'Green, OH, USA'],
[39.3321262,-84.4172666, 'West Chester Township, OH, USA'],
[40.0141905,-83.0309143, 'Columbus, OH, USA'],
[40.1240795,-75.1195107, 'Abington Township, PA, USA'],

];

In [141]:
boom.isnull().sum()
boom[boom['lat'].isnull()]

,state,race,religion,so,ethnicity,disability,gender,genderid,population,abbreviation,race_per_100000,religion_per_100000,SO_per_100000,disability_per_100000,gender_per_100000,genderID_per_100000,lat,lon,fullname
city,,,,,,,,,,,,,,,,,,,
Shelby,Shelby Township,1.0000000000,2.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,76556.0000000000,MI,1.3062333455,2.6124666910,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
West Bloomfield,West Bloomfield Township,2.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,66222.0000000000,MI,3.0201443629,1.5100721815,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Piscataway,Piscataway Township,0.0000000000,2.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,59089.0000000000,NJ,0.0000000000,3.3847247373,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Woodbridge,Woodbridge Township,3.0000000000,4.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,100969.0000000000,NJ,2.9712089849,3.9616119799,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
West Chester,West Chester Township,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,59629.0000000000,OH,0.0000000000,1.6770363414,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
"Abington , Montgomery County","Abington Township, Montgomery County",0.0000000000,1.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,55628.0000000000,PA,0.0000000000,1.7976558568,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Philadelphia,Philadelphia,8.0000000000,1.0000000000,0.0000000000,2.0000000000,0.0000000000,0.0000000000,0.0000000000,1559062.0000000000,PA,0.5131290481,0.0641411310,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Pittsburgh,Pittsburgh,6.0000000000,2.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,307613.0000000000,PA,1.9505027421,0.6501675807,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Reading,Reading,2.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,87848.0000000000,PA,2.2766596849,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Scranton,Scranton,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,75749.0000000000,PA,1.3201494409,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
State College,State College,0.0000000000,0.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,56551.0000000000,PA,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Pawtucket,Pawtucket,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,71443.0000000000,RI,1.3997172571,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Providence,Providence,0.0000000000,0.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,178640.0000000000,RI,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Charleston,Charleston,2.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,129867.0000000000,SC,1.5400371149,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Columbia,Columbia,1.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,134124.0000000000,SC,0.7455787182,0.0000000000,0.7455787182,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Rapid City,Rapid City,0.0000000000,0.0000000000,2.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,71481.0000000000,SD,0.0000000000,0.0000000000,2.7979463074,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Sioux Falls,Sioux Falls,0.0000000000,1.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,167339.0000000000,SD,0.0000000000,0.5975893247,0.5975893247,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Chattanooga,Chattanooga,9.0000000000,1.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,174449.0000000000,TN,5.1591009407,0.5732334379,0.5732334379,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Clarksville,Clarksville,7.0000000000,1.0000000000,4.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,144639.0000000000,TN,4.8396352298,0.6913764614,2.7655058456,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Jackson,Jackson,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,67869.0000000000,TN,1.4734267486,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Knoxville,Knoxville,7.0000000000,1.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,184362.0000000000,TN,3.7968778816,0.5424111259,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Memphis,Memphis,4.0000000000,0.0000000000,3.0000000000,3.0000000000,3.0000000000,0.0000000000,0.0000000000,654922.0000000000,TN,0.6107597546,0.0000000000,0.4580698159,0.4580698159,0.0000000000,0.0000000000,NaN,NaN,NaN
Nashville,Nashville,7.0000000000,0.0000000000,3.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,647689.0000000000,TN,1.0807656144,0.0000000000,0.4631852633,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Austin,Austin,0.0000000000,1.0000000000,2.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,903924.0000000000,TX,0.0000000000,0.1106287697,0.2212575394,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Baytown,Baytown,0.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,76253.0000000000,TX,0.0000000000,0.0000000000,1.3114238128,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Beaumont,Beaumont,3.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,117898.0000000000,TX,2.5445724270,0.0000000000,0.8481908090,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Cedar Park,Cedar Park,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,63681.0000000000,TX,0.0000000000,1.5703270991,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
College Station,College Station,0.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,101483.0000000000,TX,0.0000000000,0.0000000000,0.9853867150,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Conroe,Conroe,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,64446.0000000000,TX,1.5516866834,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Corpus Christi,Corpus Christi,5.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,319211.0000000000,TX,1.5663620615,0.3132724123,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Harrisonburg,Harrisonburg,0.0000000000,1.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,52026.0000000000,VA,0.0000000000,1.9221158651,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Lynchburg,Lynchburg,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,78639.0000000000,VA,1.2716336678,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Newport News,Newport News,0.0000000000,0.0000000000,4.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,182374.0000000000,VA,0.0000000000,0.0000000000,2.1932950969,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Norfolk,Norfolk,2.0000000000,0.0000000000,7.0000000000,3.0000000000,0.0000000000,0.0000000000,0.0000000000,247078.0000000000,VA,0.8094609799,0.0000000000,2.8331134298,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Portsmouth,Portsmouth,3.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,96435.0000000000,VA,3.1109037175,1.0369679058,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Richmond,Richmond,0.0000000000,1.0000000000,1.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,216747.0000000000,VA,0.0000000000,0.4613674007,0.4613674007,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Suffolk,Suffolk,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,85987.0000000000,VA,1.1629664949,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Virginia Beach,Virginia Beach,5.0000000000,2.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,451102.0000000000,VA,1.1083967706,0.4433587082,0.2216793541,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Auburn,Auburn,1.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,76020.0000000000,WA,1.3154433044,0.0000000000,1.3154433044,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Bellingham,Bellingham,2.0000000000,0.0000000000,0.0000000000,2.0000000000,0.0000000000,0.0000000000,0.0000000000,83048.0000000000,WA,2.4082458337,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Burien,Burien,3.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,50284.0000000000,WA,5.9661124811,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Everett,Everett,3.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,105911.0000000000,WA,2.8325669666,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Federal Way,Federal Way,0.0000000000,4.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,93551.0000000000,WA,0.0000000000,4.2757426431,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Kent,Kent,10.0000000000,1.0000000000,5.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,125837.0000000000,WA,7.9467883055,0.7946788306,3.9733941528,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Kirkland,Kirkland,0.0000000000,1.0000000000,1.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,85352.0000000000,WA,0.0000000000,1.1716187084,1.1716187084,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Lakewood,Lakewood,4.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,59313.0000000000,WA,6.7438841401,0.0000000000,1.6859710350,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Renton,Renton,12.0000000000,4.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,98240.0000000000,WA,12.2149837134,4.0716612378,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Sammamish,Sammamish,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,51016.0000000000,WA,0.0000000000,1.9601693586,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Seattle,Seattle,64.0000000000,10.0000000000,21.0000000000,9.0000000000,0.0000000000,3.0000000000,0.0000000000,663410.0000000000,WA,9.6471262115,1.5073634706,3.1654632882,0.0000000000,0.4522090412,0.0000000000,NaN,NaN,NaN
Spokane,Spokane,7.0000000000,3.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,211025.0000000000,WA,3.3171425187,1.4216325080,0.4738775027,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Spokane Valley,Spokane Valley,3.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,91382.0000000000,WA,3.2829222385,1.0943074128,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Tacoma,Tacoma,3.0000000000,0.0000000000,2.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,204722.0000000000,WA,1.4654018620,0.0000000000,0.9769345747,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Vancouver,Vancouver,6.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,168688.0000000000,WA,3.5568623731,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Yakima,Yakima,1.0000000000,2.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,93667.0000000000,WA,1.0676118590,2.1352237181,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Charleston,Charleston,3.0000000000,0.0000000000,1.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,50693.0000000000,WV,5.9179768410,0.0000000000,1.9726589470,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Appleton,Appleton,1.0000000000,0.0000000000,2.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,73841.0000000000,WI,1.3542611828,0.0000000000,2.7085223656,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Janesville,Janesville,2.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,63885.0000000000,WI,3.1306253424,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
La Crosse,La Crosse,3.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,51564.0000000000,WI,5.8180125669,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Madison,Madison,3.0000000000,1.0000000000,4.0000000000,2.0000000000,0.0000000000,0.0000000000,0.0000000000,245788.0000000000,WI,1.2205640633,0.4068546878,1.6274187511,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN
Milwaukee,Milwaukee,5.0000000000,2.0000000000,2.0000000000,2.0000000000,0.0000000000,0.0000000000,0.0000000000,600374.0000000000,WI,0.8328142125,0.3331256850,0.3331256850,0.0000000000,0.0000000000,0.0000000000,NaN,NaN,NaN

In [142]:
#print(np.sum(boom.lat.isnull()))

In [143]:
latFormat.head()

,lat,lon,city,abbreviation,fullname,"city, state"
0,42.6907443,-83.4066132,Waterford,MI,Michigan,"Waterford Twp, Michigan"
1,42.701848,-84.4821719,East Lansing,MI,Michigan,"East Lansing, Michigan"
2,42.2808256,-83.7430378,Ann Arbor,MI,Michigan,"Ann Arbor, Michigan"
3,42.3211522,-85.1797142,Battle Creek,MI,Michigan,"Battle Creek, Michigan"
4,42.3086444,-83.482116,Canton,MI,Michigan,"Canton, Michigan"

In [144]:
#merged_df = df.merge(latFormat, how='left', on='city, state')

In [145]:
#merged_df.head()

In [146]:
#    boom = boom.drop_duplicates(subset='lat', keep="last")

In [147]:
boom = boom.drop_duplicates(subset=['lat'], keep='first')

add new york lat and lon to merged df  40.7128, -74.0059

make a column on both df's that concats city and state'

In [148]:
#doublic check for no dupes
dupes = boom[boom.duplicated(['lat'], keep=False)]
dupes

Empty DataFrame
Columns: [state, race, religion, so, ethnicity, disability, gender, genderid, population, abbreviation, race_per_100000, religion_per_100000, SO_per_100000, disability_per_100000, gender_per_100000, genderID_per_100000, lat, lon, fullname]
Index: []

## with new sheet may have to change indexes in fxns below!

In [149]:

#merged_df = merged_df.drop(merged_df.index[[259,274]])

In [150]:
#merged_df[250:276]

In [151]:
#dupes2 = merged_df[merged_df.duplicated(['city, state'], keep=False)]
#dupes2

get rid of duplicates, make new list of cities that lack lat and lon to see if i can get those too and merge it ,

In [152]:
#merged_df.tail()

In [153]:
#merged_df.isnull().sum()

In [154]:
#merged_df[merged_df['lat'].isnull()].index.tolist()
#newSearch = merged_df[merged_df['lat'].isnull()]

In [155]:

#print(newSearch["city, state"].to_string(index=False))

In [156]:
#add new york lat lon
boom[boom["state"].str.contains("York")]

,state,race,religion,so,ethnicity,disability,gender,genderid,population,abbreviation,race_per_100000,religion_per_100000,SO_per_100000,disability_per_100000,gender_per_100000,genderID_per_100000,lat,lon,fullname
city,,,,,,,,,,,,,,,,,,,
New York,New York,37.0000000000,168.0000000000,78.0000000000,22.0000000000,0.0000000000,0.0000000000,2.0000000000,8473938.0000000000,NY,0.4366328854,1.9825493177,0.9204693261,0.0000000000,0.0000000000,0.0236017776,40.7128,-74.0059,NaN

# for whatever annoying reason can never get lat lon of nyc so manually add it

# lat and lon have to be floats not int 
merged_df.set_value(312, 'lat', 40.7128)
merged_df.set_value(312, 'lon', -74.0059)

merged_df[merged_df["city"].str.contains("York")]

merged_df[merged_df["city"].str.contains("York")]

merged_df.isnull().sum()

fixNull1 = merged_df[merged_df.isnull().any(axis=1)]
fix1 = fixNull1["city"]
list(fix1)

fixNull = merged_df[merged_df.isnull().any(axis=1)]
fix = fixNull["city"]
list(fix)

## making list for set of csvs to keep them smaller and make it easier for js programming data viz

# where did the city of new york go in2016

In [157]:
boom.shape

(344, 19)

In [158]:
boom.head()

,state,race,religion,so,ethnicity,disability,gender,genderid,population,abbreviation,race_per_100000,religion_per_100000,SO_per_100000,disability_per_100000,gender_per_100000,genderID_per_100000,lat,lon,fullname
city,,,,,,,,,,,,,,,,,,,
Hoover,Hoover,0.0000000000,1.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,84843.0000000000,AL,0.0000000000,1.1786476197,0.0000000000,0.0000000000,0.0000000000,0.0000000000,33.4053867,-86.8113781,Alabama
Anchorage,Anchorage,5.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,301306.0000000000,AK,1.6594425601,0.0000000000,0.3318885120,0.0000000000,0.0000000000,0.0000000000,61.2180556,-149.9002778,Alaska
Avondale,Avondale,1.0000000000,1.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,79472.0000000000,AZ,1.2583048118,1.2583048118,0.0000000000,0.0000000000,0.0000000000,0.0000000000,33.4355977,-112.3496021,Arizona
Chandler,Chandler,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,252369.0000000000,AZ,0.3962451807,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,33.3061605,-111.8412502,Arizona
Flagstaff,Flagstaff,0.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,69490.0000000000,AZ,0.0000000000,0.0000000000,1.4390559793,0.0000000000,0.0000000000,0.0000000000,35.1982836,-111.651302,Arizona

In [160]:
boom = boom.reset_index(drop=False)

In [161]:
boom.shape

(344, 21)

In [162]:
boom.columns

Index(['index', 'city', 'state', 'race', 'religion', 'so', 'ethnicity',
       'disability', 'gender', 'genderid', 'population', 'abbreviation',
       'race_per_100000', 'religion_per_100000', 'SO_per_100000',
       'disability_per_100000', 'gender_per_100000', 'genderID_per_100000',
       'lat', 'lon', 'fullname'],
      dtype='object')

In [163]:
del boom["abbreviation"]
del boom["fullname"]

KeyError: 'fullname'

In [166]:
del boom["index"]

In [168]:
boom.head()

,city,state,race,religion,so,ethnicity,disability,gender,genderid,population,race_per_100000,religion_per_100000,SO_per_100000,disability_per_100000,gender_per_100000,genderID_per_100000,lat,lon
0,Hoover,Hoover,0.0000000000,1.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,84843.0000000000,0.0000000000,1.1786476197,0.0000000000,0.0000000000,0.0000000000,0.0000000000,33.4053867,-86.8113781
1,Anchorage,Anchorage,5.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,301306.0000000000,1.6594425601,0.0000000000,0.3318885120,0.0000000000,0.0000000000,0.0000000000,61.2180556,-149.9002778
2,Avondale,Avondale,1.0000000000,1.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,79472.0000000000,1.2583048118,1.2583048118,0.0000000000,0.0000000000,0.0000000000,0.0000000000,33.4355977,-112.3496021
3,Chandler,Chandler,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,252369.0000000000,0.3962451807,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,33.3061605,-111.8412502
4,Flagstaff,Flagstaff,0.0000000000,0.0000000000,1.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,69490.0000000000,0.0000000000,0.0000000000,1.4390559793,0.0000000000,0.0000000000,0.0000000000,35.1982836,-111.651302

FORGOT TO REMOVE NULL VALUES SICNE SOM E LAT LON ARE NULL

In [176]:
boom.shape

(344, 18)

In [177]:
boom[boom.lat.isnull()]

,city,state,race,religion,so,ethnicity,disability,gender,genderid,population,race_per_100000,religion_per_100000,SO_per_100000,disability_per_100000,gender_per_100000,genderID_per_100000,lat,lon
248,Shelby,Shelby Township,1.0000000000,2.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,76556.0000000000,1.3062333455,2.6124666910,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,NaN

In [278]:
boom.shape

(344, 20)

In [178]:
boom = boom.dropna(thresh=17)

In [179]:
col_list_num = ['race', 'religion', 'so', 'disability', 'gender',
       'genderid']

In [180]:
merged_df = boom

In [181]:
merged_df['total_num'] = merged_df[col_list_num].sum(axis=1)

In [182]:
col_list_per = ['race_per_100000', 'religion_per_100000', 'SO_per_100000',
       'disability_per_100000', 'gender_per_100000', 'genderID_per_100000']

In [183]:
merged_df['total_per'] = merged_df[col_list_per].sum(axis=1)

In [184]:
#this is the latest city one have to break them up so they render without fixing load..
raceCity = merged_df[["city","lat","lon","race","race_per_100000",'population']]
religionCity = merged_df[["city","lat","lon","religion","religion_per_100000",'population']]
soCity = merged_df[["city","lat","lon","so","SO_per_100000",'population']]
disCity = merged_df[["city","lat","lon","disability","disability_per_100000",'population']]
genderCity = merged_df[["city","lat","lon","gender","gender_per_100000",'population']]
genderIDCity = merged_df[["city","lat","lon","genderid","genderID_per_100000",'population']]

totalNumber = merged_df[["city","lat","lon","total_num",'population']]

per100000 = merged_df[["city","lat","lon", "total_num","total_per",'population']]

In [185]:
raceCity.rename(columns={'city': 'city'}, inplace=True)
raceCity.rename(columns={'race': 'num'}, inplace=True)
raceCity.rename(columns={'race_per_100000': 'per_100000'}, inplace=True)

religionCity.rename(columns={'city': 'city'}, inplace=True)
religionCity.rename(columns={'religion': 'num'}, inplace=True)
religionCity.rename(columns={'religion_per_100000': 'per_100000'}, inplace=True)


soCity.rename(columns={'city': 'city'}, inplace=True)
soCity.rename(columns={'so': 'num'}, inplace=True)
soCity.rename(columns={'SO_per_100000': 'per_100000'}, inplace=True)

#disCity = new1[["city","lat","lon","disability","disability_per_100000"]]
disCity.rename(columns={'city': 'city'}, inplace=True)
disCity.rename(columns={'disability': 'num'}, inplace=True)
disCity.rename(columns={'disability_per_100000': 'per_100000'}, inplace=True)


#genderCity = [["city","lat","lon","gender","gender_per_100000"]]
genderCity.rename(columns={'city': 'city'}, inplace=True)
genderCity.rename(columns={'gender': 'num'}, inplace=True)
genderCity.rename(columns={'gender_per_100000': 'per_100000'}, inplace=True)

#genderIDCity = [["city","lat","lon","genderID","genderID_per_100000"]]
genderIDCity.rename(columns={'city': 'city'}, inplace=True)
genderIDCity.rename(columns={'genderid': 'num'}, inplace=True)
genderIDCity.rename(columns={'genderID_per_100000': 'per_100000'}, inplace=True)


#genderIDCity = [["city","lat","lon","genderID","genderID_per_100000"]]
per100000.rename(columns={'city': 'city'}, inplace=True)
#per100000.rename(columns={'': 'num'}, inplace=True)
per100000.rename(columns={'total_per': 'per_100000'}, inplace=True)

per100000.rename(columns={'total_num': 'num'}, inplace=True)

/Users/hw/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:2834: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

In [186]:
#totalNumber = merged_df[["city","lat","lon","total_num",'population']]

#per100000 = merged_df[["city","lat","lon", "total_num","total_per",'population']]

## writing to csv's below

In [188]:
perAllCity = per100000.sort_values('per_100000', ascending=False)
perAllCity = per100000.loc[per100000['per_100000'] > 0]
perAllCity.head()

perAllCity.to_csv("perAllCity_2014", index=False)

In [189]:
raceCity = raceCity.sort_values('per_100000', ascending=False)
raceCity = raceCity.loc[raceCity['per_100000'] > 0]
raceCity.head()

raceCity.to_csv("raceCity_2014", index=False)

In [190]:
religionCity = religionCity.sort_values('per_100000', ascending=False)
religionCity = religionCity.loc[religionCity['per_100000'] > 0]
religionCity.head()

religionCity.to_csv("religionCity_2014", index=False)

In [191]:

soCity = soCity.sort_values('per_100000', ascending=False)
soCity = soCity.loc[soCity['per_100000'] > 0]
soCity.head()

soCity.to_csv("soCity_2014", index=False)

In [192]:
disCity = disCity.sort_values('per_100000', ascending=False)
disCity = disCity.loc[disCity['per_100000'] > 0]
disCity.head()

disCity.to_csv("disCity_2014", index=False)

In [193]:
genderCity = genderCity.sort_values('per_100000', ascending=False)
genderCity = genderCity.loc[genderCity['per_100000'] > 0]
genderCity.head()

genderCity.to_csv("genderCity_2014", index=False)

In [194]:
genderIDCity = genderIDCity.sort_values('per_100000', ascending=False)
genderIDCity = genderIDCity.loc[genderIDCity['per_100000'] > 0]
genderIDCity.head()

genderIDCity.to_csv("genderIDCity_2014", index=False)

In [195]:
#totalNumber = new1[["agency_name","lat","lon","total_num"]]

totalNumber = totalNumber.sort_values('total_num', ascending=False)
totalNumber = totalNumber.loc[totalNumber['total_num'] > 0]
totalNumber.head()

totalNumber.to_csv("totalNumber_2014", index=False)

In [196]:
#per100000 = new1[["agency_name","lat","lon","per_100000"]]


per100000 = per100000.sort_values('per_100000', ascending=False)
per100000 = per100000.loc[per100000['per_100000'] > 0] #double check this
per100000.head()

per100000.to_csv("per100000_2014", index=False)