
## step 1 for  map -- use xls crime data to extract cities for lat lon check

In [270]:
import pandas as pd

import numpy as np

#import cartopy.crs as ccrs
#import cartopy.feature as cfeature
#import matplotlib.pyplot as plt

#import seaborn as sns

In [271]:
#crime = pd.read_csv("Table_13_by_state_to_csv.csv")
df = pd.read_excel("2016_crime_for_map_correct.xlsx", sheetname=0, header=0)
#df = crime
#df.head(100)

In [272]:
#get rid of non cities, since havent renewed excel subscription!
# if both 'state'  and Unnamed: 1 are null 
#df.dropna(axis=0, subset=[['city', 'longitude', 'latitude']], thresh=2)
df.dropna(thresh=12) #drop rows with less than 12 observations

,state,Unnamed: 1,city,Race/ Ethnicity/ Ancestry,Religion,Sexual orientation,Disability,Gender,Gender Identity,1st quarter,2nd quarter,3rd quarter,4th quarter,Unnamed: 13
2,NaN,cities,Birmingham,7.0,1,1.0,0.0,0.0,0.0,3.0,2.0,2,2.0,"212,549.0"
3,NaN,cities,Florence,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,"40,160.0"
4,NaN,cities,Foley,1.0,0,0.0,0.0,0.0,0.0,0.0,1.0,0,0.0,"17,639.0"
5,NaN,cities,Hoover,3.0,0,0.0,0.0,0.0,0.0,1.0,0.0,1,1.0,"85,601.0"
8,NaN,cities,Anchorage,4.0,0,0.0,0.0,0.0,0.0,1.0,0.0,2,1.0,"299,097.0"
9,NaN,cities,Juneau,6.0,0,0.0,0.0,0.0,0.0,1.0,1.0,3,1.0,"32,964.0"
10,NaN,cities,Wasilla,1.0,0,0.0,0.0,0.0,0.0,1.0,0.0,0,0.0,"9,585.0"
13,NaN,cities,Apache Junction,2.0,0,0.0,0.0,0.0,0.0,1.0,0.0,1,0.0,"38,506.0"
14,NaN,cities,Chandler,2.0,2,0.0,0.0,0.0,0.0,1.0,0.0,1,2.0,"265,922.0"
15,NaN,cities,Gilbert,1.0,0,0.0,0.0,0.0,0.0,1.0,0.0,0,0.0,"255,899.0"
16,NaN,cities,Glendale,1.0,0,0.0,0.0,0.0,0.0,0.0,1.0,0,0.0,"242,938.0"
17,NaN,cities,Mesa,3.0,0,2.0,0.0,0.0,0.0,3.0,0.0,0,2.0,"478,277.0"
18,NaN,cities,Phoenix2,90.0,40,44.0,1.0,0.0,0.0,34.0,39.0,45,56.0,"1,586,611.0"
20,NaN,cities,Sahuarita,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,"25,792.0"
21,NaN,cities,Scottsdale,1.0,3,0.0,0.0,0.0,0.0,0.0,nan,2,2.0,"240,885.0"
22,NaN,cities,St. Johns,0.0,0,1.0,0.0,0.0,0.0,1.0,0.0,0,0.0,"3,482.0"
23,NaN,cities,Tempe,0.0,0,1.0,0.0,0.0,0.0,1.0,0.0,0,0.0,"178,654.0"
24,NaN,cities,Tucson,1.0,2,2.0,0.0,0.0,0.0,2.0,1.0,1,1.0,"533,663.0"
25,NaN,cities,Williams,0.0,0,1.0,0.0,0.0,0.0,0.0,1.0,0,0.0,"3,140.0"
26,NaN,cities,Yuma,2.0,1,1.0,0.0,0.0,0.0,1.0,1.0,2,0.0,"94,696.0"
28,NaN,NaN,"Arizona State University, Main Campus",1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,"90,906.0"
35,NaN,cities,Fort Smith,3.0,1,0.0,0.0,0.0,0.0,2.0,0.0,0,2.0,"88,573.0"
36,NaN,cities,Jacksonville,2.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,2.0,"28,684.0"
37,NaN,cities,Little Rock,0.0,0,0.0,0.0,0.0,1.0,0.0,1.0,0,0.0,"198,800.0"
44,NaN,cities,Adelanto,1.0,0,1.0,0.0,0.0,0.0,0.0,1.0,1,0.0,"33,479.0"
45,NaN,cities,Alameda,3.0,0,0.0,0.0,0.0,0.0,0.0,1.0,0,2.0,"79,597.0"
46,NaN,cities,Alhambra,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,"86,035.0"
47,NaN,cities,Anaheim,1.0,0,0.0,0.0,0.0,0.0,1.0,0.0,0,0.0,"353,504.0"
48,NaN,cities,Antioch,2.0,0,0.0,0.0,0.0,0.0,0.0,0.0,2,0.0,"112,090.0"
49,NaN,cities,Arcata,2.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1,1.0,"17,913.0"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1944,NaN,NaN,University of Washington,1.0,1,1.0,0.0,1.0,0.0,0.0,2.0,1,1.0,"45,408.0"
1945,NaN,NaN,"Washington State University, Pullman",1.0,0,0.0,0.0,0.0,0.0,1.0,0.0,0,0.0,"29,686.0"
1946,NaN,NaN,Western Washington University,1.0,0,1.0,0.0,0.0,0.0,0.0,0.0,0,2.0,"15,332.0"
1970,NaN,cities,Beckley,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,"16,940.0"
1971,NaN,cities,Buckhannon,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,"5,662.0"
1972,NaN,cities,Charleston,10.0,1,4.0,0.0,0.0,0.0,4.0,5.0,4,2.0,"49,429.0"
1973,NaN,cities,Fairmont,0.0,0,0.0,1.0,0.0,0.0,1.0,0.0,0,0.0,"18,733.0"
1974,NaN,cities,Fayetteville,2.0,0,0.0,0.0,0.0,0.0,1.0,1.0,0,0.0,"2,885.0"
1975,NaN,cities,Huntington,0.0,0,1.0,1.0,0.0,0.0,1.0,1.0,0,0.0,"48,540.0"
1976,NaN,cities,Moundsville,1.0,0,0.0,0.0,0.0,0.0,1.0,0.0,0,0.0,"8,644.0"
1977,NaN,cities,Oak Hill,2.0,0,0.0,0.0,0.0,0.0,0.0,1.0,1,0.0,"8,104.0"
1978,NaN,cities,Parkersburg,0.0,0,1.0,0.0,0.0,0.0,1.0,0.0,0,0.0,"30,913.0"
1979,NaN,cities,Philippi,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,"3,320.0"
1980,NaN,cities,Ranson,1.0,0,0.0,0.0,0.0,0.0,0.0,1.0,0,nan,"5,053.0"
1981,NaN,cities,Wheeling,1.0,0,0.0,0.0,0.0,0.0,0.0,1.0,0,0.0,"27,486.0"
1993,NaN,cities,Appleton,1.0,0,0.0,0.0,0.0,0.0,1.0,0.0,0,0.0,"74,439.0"
1994,NaN,cities,Cross Plains,0.0,0,1.0,0.0,0.0,0.0,1.0,0.0,0,0.0,"4,072.0"
1995,NaN,cities,Fox Valley Metro,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,"21,515.0"
1996,NaN,cities,Green Bay,1.0,0,0.0,0.0,0.0,0.0,1.0,0.0,0,0.0,"105,452.0"
1997,NaN,cities,Hudson,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,0,1.0,"13,740.0"
1998,NaN,cities,Janesville,1.0,0,0.0,0.0,0.0,0.0,0.0,1.0,0,0.0,"64,234.0"
1999,NaN,cities,La Crosse,1.0,0,0.0,0.0,0.0,0.0,0.0,1.0,0,0.0,"52,498.0"
2000,NaN,cities,Madison,8.0,7,0.0,0.0,0.0,0.0,0.0,8.0,2,5.0,"252,136.0"
2001,NaN,cities,Manitowoc,1.0,0,0.0,0.0,0.0,0.0,0.0,1.0,0,0.0,"32,877.0"
2002,NaN,cities,Milwaukee,0.0,0,1.0,0.0,0.0,1.0,0.0,1.0,1,0.0,"600,193.0"
2003,NaN,cities,New Richmond,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,"8,913.0"
2004,NaN,cities,Onalaska,1.0,0,0.0,0.0,0.0,0.0,0.0,1.0,0,0.0,"18,600.0"
2005,NaN,cities,Osceola,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,"2,502.0"
2006,NaN,cities,Stoughton,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,"13,148.0"
2015,NaN,cities,Gillette,3.0,0,0.0,0.0,0.0,0.0,0.0,2.0,0,1.0,"33,218.0"

In [273]:
df = df.fillna(method='ffill')

In [274]:
df.head(100)

,state,Unnamed: 1,city,Race/ Ethnicity/ Ancestry,Religion,Sexual orientation,Disability,Gender,Gender Identity,1st quarter,2nd quarter,3rd quarter,4th quarter,Unnamed: 13
0,Alabama,NaN,NaN,12.0,1,1.0,0.0,0.0,0.0,nan,nan,NaN,nan,nan
1,Alabama,NaN,NaN,12.0,1,1.0,0.0,0.0,0.0,nan,nan,NaN,nan,nan
2,Alabama,cities,Birmingham,7.0,1,1.0,0.0,0.0,0.0,3.0,2.0,2,2.0,"212,549.0"
3,Alabama,cities,Florence,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,"40,160.0"
4,Alabama,cities,Foley,1.0,0,0.0,0.0,0.0,0.0,0.0,1.0,0,0.0,"17,639.0"
5,Alabama,cities,Hoover,3.0,0,0.0,0.0,0.0,0.0,1.0,0.0,1,1.0,"85,601.0"
6,Alaska,cities,Hoover,11.0,0,0.0,0.0,0.0,0.0,1.0,0.0,1,1.0,"85,601.0"
7,Alaska,cities,Hoover,11.0,0,0.0,0.0,0.0,0.0,1.0,0.0,1,1.0,"85,601.0"
8,Alaska,cities,Anchorage,4.0,0,0.0,0.0,0.0,0.0,1.0,0.0,2,1.0,"299,097.0"
9,Alaska,cities,Juneau,6.0,0,0.0,0.0,0.0,0.0,1.0,1.0,3,1.0,"32,964.0"
10,Alaska,cities,Wasilla,1.0,0,0.0,0.0,0.0,0.0,1.0,0.0,0,0.0,"9,585.0"
11,Arizona,cities,,110.0,50,53.0,1.0,0.0,0.0,1.0,0.0,0,0.0,"9,585.0"
12,Arizona,cities,,105.0,48,53.0,1.0,0.0,0.0,1.0,0.0,0,0.0,"9,585.0"
13,Arizona,cities,Apache Junction,2.0,0,0.0,0.0,0.0,0.0,1.0,0.0,1,0.0,"38,506.0"
14,Arizona,cities,Chandler,2.0,2,0.0,0.0,0.0,0.0,1.0,0.0,1,2.0,"265,922.0"
15,Arizona,cities,Gilbert,1.0,0,0.0,0.0,0.0,0.0,1.0,0.0,0,0.0,"255,899.0"
16,Arizona,cities,Glendale,1.0,0,0.0,0.0,0.0,0.0,0.0,1.0,0,0.0,"242,938.0"
17,Arizona,cities,Mesa,3.0,0,2.0,0.0,0.0,0.0,3.0,0.0,0,2.0,"478,277.0"
18,Arizona,cities,Phoenix2,90.0,40,44.0,1.0,0.0,0.0,34.0,39.0,45,56.0,"1,586,611.0"
19,Arizona,cities,Prescott Valley,1.0,0,1.0,0.0,0.0,0.0,1.0,1.0,45,56.0,"42,900.0"
20,Arizona,cities,Sahuarita,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,"25,792.0"
21,Arizona,cities,Scottsdale,1.0,3,0.0,0.0,0.0,0.0,0.0,0.0,2,2.0,"240,885.0"
22,Arizona,cities,St. Johns,0.0,0,1.0,0.0,0.0,0.0,1.0,0.0,0,0.0,"3,482.0"
23,Arizona,cities,Tempe,0.0,0,1.0,0.0,0.0,0.0,1.0,0.0,0,0.0,"178,654.0"
24,Arizona,cities,Tucson,1.0,2,2.0,0.0,0.0,0.0,2.0,1.0,1,1.0,"533,663.0"
25,Arizona,cities,Williams,0.0,0,1.0,0.0,0.0,0.0,0.0,1.0,0,0.0,"3,140.0"
26,Arizona,cities,Yuma,2.0,1,1.0,0.0,0.0,0.0,1.0,1.0,2,0.0,"94,696.0"
27,Arizona,cities,Yuma,1.0,2,0.0,0.0,0.0,0.0,1.0,1.0,2,0.0,"94,696.0"
28,Arizona,cities,"Arizona State University, Main Campus",1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,"90,906.0"
29,Arizona,cities,University of Arizona,0.0,2,0.0,0.0,0.0,0.0,0.0,2.0,0,1.0,"42,595.0"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,California,cities,Claremont,7.0,1,1.0,0.0,0.0,0.0,1.0,0.0,1,7.0,"36,553.0"
71,California,cities,Clayton,0.0,0,2.0,0.0,0.0,0.0,0.0,2.0,0,0.0,"12,057.0"
72,California,cities,Clearlake,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,"15,165.0"
73,California,cities,Clovis,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,"105,865.0"
74,California,cities,Coalinga,0.0,0,1.0,0.0,0.0,0.0,1.0,0.0,0,0.0,"16,282.0"
75,California,cities,Compton,0.0,0,0.0,0.0,0.0,1.0,0.0,0.0,1,0.0,"98,861.0"
76,California,cities,Concord,1.0,0,2.0,0.0,0.0,0.0,1.0,0.0,0,2.0,"129,903.0"
77,California,cities,Culver City,0.0,0,1.0,0.0,0.0,0.0,0.0,1.0,0,0.0,"39,880.0"
78,California,cities,Cupertino,2.0,1,0.0,0.0,0.0,0.0,0.0,0.0,3,0.0,"60,948.0"
79,California,cities,Danville,0.0,1,0.0,0.0,0.0,0.0,1.0,0.0,0,0.0,"44,897.0"
80,California,cities,Davis,5.0,1,1.0,0.0,0.0,1.0,2.0,0.0,1,5.0,"68,087.0"
81,California,cities,Desert Hot Springs,0.0,0,1.0,0.0,0.0,0.0,0.0,1.0,0,0.0,"28,573.0"
82,California,cities,Downey,1.0,0,0.0,0.0,0.0,0.0,0.0,1.0,0,0.0,"114,704.0"
83,California,cities,East Palo Alto,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,0,1.0,"29,957.0"
84,California,cities,Eastvale,0.0,1,0.0,0.0,0.0,0.0,0.0,1.0,0,0.0,"60,115.0"
85,California,cities,Elk Grove,1.0,0,0.0,0.0,0.0,0.0,1.0,0.0,0,0.0,"169,742.0"
86,California,cities,El Segundo,2.0,0,0.0,0.0,0.0,0.0,1.0,0.0,1,0.0,"17,113.0"
87,California,cities,Encinitas,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,"63,597.0"
88,California,cities,Escondido,1.0,0,0.0,0.0,0.0,0.0,0.0,1.0,0,0.0,"152,897.0"
89,California,cities,Fairfield,1.0,1,1.0,0.0,0.0,0.0,2.0,0.0,1,0.0,"114,521.0"
90,California,cities,Farmersville,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,"10,812.0"
91,California,cities,Folsom,0.0,1,0.0,0.0,0.0,0.0,0.0,1.0,0,0.0,"77,245.0"
92,California,cities,Fort Bragg,1.0,1,1.0,0.0,0.0,0.0,0.0,2.0,1,0.0,"7,292.0"
93,California,cities,Fremont,1.0,0,0.0,0.0,0.0,0.0,1.0,0.0,0,0.0,"235,881.0"
94,California,cities,Fresno,7.0,3,3.0,0.0,0.0,0.0,3.0,3.0,4,3.0,"524,796.0"
95,California,cities,Fullerton,1.0,0,1.0,0.0,0.0,0.0,1.0,0.0,0,1.0,"141,968.0"
96,California,cities,Garden Grove,1.0,1,0.0,0.0,0.0,0.0,1.0,0.0,0,1.0,"176,230.0"
97,California,cities,Glendale,1.0,1,0.0,0.0,0.0,0.0,0.0,1.0,0,1.0,"202,903.0"
98,California,cities,Hanford,0.0,1,0.0,0.0,0.0,0.0,0.0,1.0,0,0.0,"55,973.0"
99,California,cities,Hawaiian Gardens,0.0,0,0.0,0.0,0.0,1.0,0.0,1.0,0,0.0,"14,654.0"

In [275]:
df.shape

(2019, 14)

In [276]:
df.columns

Index(['state', 'Unnamed: 1', 'city', 'Race/\nEthnicity/\nAncestry',
       'Religion', 'Sexual\norientation', 'Disability', 'Gender',
       'Gender\nIdentity', '1st\nquarter', '2nd\nquarter', '3rd\nquarter',
       '4th\nquarter', 'Unnamed: 13'],
      dtype='object')

In [277]:
#df.columns = ['state', 'city', 'race, ethnicity, ancestry','religion', 'SO', 'disabililty',"gender","gender_identity"]

In [278]:
#df.dropna()

In [279]:

#df = df.drop(df.index[0:5])

df = df.rename(columns = {
'Table 13':"state",
"Unnamed: 1":"agency_type" , 
"Unnamed: 2":"agency_name" , 
"Unnamed: 3":"race" , 
"Unnamed: 4":"religion"  ,  
"Unnamed: 5":"sexual_orientation",
"Unnamed: 6":"disability",
"Unnamed: 7":"gender",
"Unnamed: 8":"genderID",
"Unnamed: 9":"first_q",
"Unnamed: 10":"second_q",
"Unnamed: 11":"third_q",
"Unnamed: 12":"fourth_q",
"Unnamed: 13":"population",
    
})

In [280]:
del df["1st\nquarter"]
del df["2nd\nquarter"]
del df["3rd\nquarter"]
del df["4th\nquarter"]
del df["Unnamed: 1"]

#'1st\nquarter', '2nd\nquarter', '3rd\nquarter', '4th\nquarter',

In [281]:

#df = df[:-7]

x = df

#fill in these two string columns

x[['state', 'agency_type']] = x[['state','agency_type']].fillna(method='ffill')

In [282]:
print(df.columns)
df.head()

Index(['state', 'city', 'Race/\nEthnicity/\nAncestry', 'Religion',
       'Sexual\norientation', 'Disability', 'Gender', 'Gender\nIdentity',
       'Unnamed: 13'],
      dtype='object')

,state,city,Race/ Ethnicity/ Ancestry,Religion,Sexual orientation,Disability,Gender,Gender Identity,Unnamed: 13
0,Alabama,NaN,12.0,1,1.0,0.0,0.0,0.0,nan
1,Alabama,NaN,12.0,1,1.0,0.0,0.0,0.0,nan
2,Alabama,Birmingham,7.0,1,1.0,0.0,0.0,0.0,"212,549.0"
3,Alabama,Florence,1.0,0,0.0,0.0,0.0,0.0,"40,160.0"
4,Alabama,Foley,1.0,0,0.0,0.0,0.0,0.0,"17,639.0"

In [283]:
df = df.drop(df.index[2014:]) #rop rows of notes on population figs etc at the end

In [284]:
df.tail()

,state,city,Race/ Ethnicity/ Ancestry,Religion,Sexual orientation,Disability,Gender,Gender Identity,Unnamed: 13
2009,Wisconsin,Outagamie,1.0,0,0.0,0.0,0.0,0.0,"13,148.0"
2010,Wisconsin,St. Croix,0.0,1,0.0,0.0,0.0,0.0,"13,148.0"
2011,Wisconsin,St. Croix,1.0,0,0.0,0.0,0.0,0.0,"13,148.0"
2012,Wisconsin,Rusk,1.0,0,0.0,0.0,0.0,0.0,"13,148.0"
2013,Wyoming,Rusk,3.0,0,0.0,0.0,0.0,0.0,"13,148.0"

In [285]:
df = df.rename(columns={'Unnamed: 13': 'population',})

In [286]:
df = df[df['city'].notnull()] # get rid of nans, which were totals for state,including cities and coutines etc that are not here

In [287]:
df.head()

,state,city,Race/ Ethnicity/ Ancestry,Religion,Sexual orientation,Disability,Gender,Gender Identity,population
2,Alabama,Birmingham,7.0,1,1.0,0.0,0.0,0.0,"212,549.0"
3,Alabama,Florence,1.0,0,0.0,0.0,0.0,0.0,"40,160.0"
4,Alabama,Foley,1.0,0,0.0,0.0,0.0,0.0,"17,639.0"
5,Alabama,Hoover,3.0,0,0.0,0.0,0.0,0.0,"85,601.0"
6,Alaska,Hoover,11.0,0,0.0,0.0,0.0,0.0,"85,601.0"

In [288]:
#df = df.dropna(thresh=5)

x[['state', 'agency_type']] = x[['state','agency_type']].fillna(method='ffill')

df[['state','agency_type']].fillna(method='ffill')

get rid of rows with NAN

x = x.dropna()

g = x[x['agency_type'] == "Cities"]

#df[pd.notnull(df['c'])]
h = g[pd.notnull(g['agency_name'])]

t = h

t['population'] = t['population'].str.replace(',', '')

In [289]:
#t.iloc[:, :].apply(pd.to_numeric)  #all rows, column 1-6
#df = df.apply(pd.to_numeric, errors='ignore')

In [290]:

df.dtypes

state                           object
city                            object
Race/\nEthnicity/\nAncestry    float64
Religion                        object
Sexual\norientation            float64
Disability                     float64
Gender                         float64
Gender\nIdentity               float64
population                     float64
dtype: object

In [291]:
np.sum([df.state.isnull()])

0

In [292]:
df.dtypes

state                           object
city                            object
Race/\nEthnicity/\nAncestry    float64
Religion                        object
Sexual\norientation            float64
Disability                     float64
Gender                         float64
Gender\nIdentity               float64
population                     float64
dtype: object

In [293]:
print(df.columns)

Index(['state', 'city', 'Race/\nEthnicity/\nAncestry', 'Religion',
       'Sexual\norientation', 'Disability', 'Gender', 'Gender\nIdentity',
       'population'],
      dtype='object')

In [294]:
df.columns.values[2] = 'race'
df.columns.values[4] = 'so'
df.columns.values[7] = 'genderID'

In [295]:
# Lower-case all DataFrame column names
df.columns = map(str.lower, df.columns)

In [296]:
#Treat the missing or invalid values in your dataframe
####### 

#df = df[df.city.notnull()]

In [297]:
df.columns

Index(['state', 'city', 'race', 'religion', 'so', 'disability', 'gender',
       'genderid', 'population'],
      dtype='object')

In [298]:
df.head()

,state,city,race,religion,so,disability,gender,genderid,population
2,Alabama,Birmingham,7.0,1,1.0,0.0,0.0,0.0,"212,549.0"
3,Alabama,Florence,1.0,0,0.0,0.0,0.0,0.0,"40,160.0"
4,Alabama,Foley,1.0,0,0.0,0.0,0.0,0.0,"17,639.0"
5,Alabama,Hoover,3.0,0,0.0,0.0,0.0,0.0,"85,601.0"
6,Alaska,Hoover,11.0,0,0.0,0.0,0.0,0.0,"85,601.0"

In [299]:
df.dtypes

state          object
city           object
race          float64
religion       object
so            float64
disability    float64
gender        float64
genderid      float64
population    float64
dtype: object

In [300]:
#convert relition to a number since its a string 
#at this point keep all numbers as floats so calculations later go to decimal points
#change other numbers from floats to integers so no 0.0 action
df['religion'] = pd.to_numeric(df['religion'],errors='coerce').astype(float)

#df['race'] = pd.to_numeric(df['race'],errors='coerce')
#df['so'] = pd.to_numeric(df['so'],errors='coerce')
#df['disability'] = pd.to_numeric(df['disability'],errors='coerce')
#df['gender'] = pd.to_numeric(df['gender'],errors='coerce')
#df['genderid'] = pd.to_numeric(df['genderid'],errors='coerce')
#df['population'] = pd.to_numeric(df['population'],errors='coerce')
#pd.to_numeric(df, errors='coerce')
#valuelist = ['race', 'Religion', 'so', 'Disability', 'Gender',
     #  'genderID', 'population']
#df = df[df.column.isin(valuelist)]
#pd.to_numeric(df[df.column.isin(valuelist)],errors='coerce')

In [301]:
df.dtypes

state          object
city           object
race          float64
religion      float64
so            float64
disability    float64
gender        float64
genderid      float64
population    float64
dtype: object

In [302]:
df.head()

,state,city,race,religion,so,disability,gender,genderid,population
2,Alabama,Birmingham,7.0,1.0,1.0,0.0,0.0,0.0,"212,549.0"
3,Alabama,Florence,1.0,0.0,0.0,0.0,0.0,0.0,"40,160.0"
4,Alabama,Foley,1.0,0.0,0.0,0.0,0.0,0.0,"17,639.0"
5,Alabama,Hoover,3.0,0.0,0.0,0.0,0.0,0.0,"85,601.0"
6,Alaska,Hoover,11.0,0.0,0.0,0.0,0.0,0.0,"85,601.0"

In [303]:
print(np.sum(df.race.isnull()))

0

dupes = df[df.duplicated(['city'], keep=False)]
#dupes1 = df[df.duplicated(['city'], keep=False)]
print(dupes)

In [304]:
#df.round()

In [305]:
df.head()

,state,city,race,religion,so,disability,gender,genderid,population
2,Alabama,Birmingham,7.0,1.0,1.0,0.0,0.0,0.0,"212,549.0"
3,Alabama,Florence,1.0,0.0,0.0,0.0,0.0,0.0,"40,160.0"
4,Alabama,Foley,1.0,0.0,0.0,0.0,0.0,0.0,"17,639.0"
5,Alabama,Hoover,3.0,0.0,0.0,0.0,0.0,0.0,"85,601.0"
6,Alaska,Hoover,11.0,0.0,0.0,0.0,0.0,0.0,"85,601.0"

In [306]:
#df = t

df["race_per_100000"] = (df['race']/df['population']).astype('float64') * 100000
df["religion_per_100000"] = (df['religion']/df['population']).astype('float64') * 100000
df["SO_per_100000"] = (df['so']/df['population']).astype('float64') * 100000
df["disability_per_100000"] = (df['disability']/df['population']).astype('float64') * 100000
df["gender_per_100000"] = (df['gender']/df['population']).astype('float64') * 100000
df["genderID_per_100000"] = (df['genderid']/df['population']).astype('float64') * 100000

In [307]:
#df = df.round(decimals=2)

In [308]:
df.head() #whare are there no numbers with decimals

,state,city,race,religion,so,disability,gender,genderid,population,race_per_100000,religion_per_100000,SO_per_100000,disability_per_100000,gender_per_100000,genderID_per_100000
2,Alabama,Birmingham,7.0,1.0,1.0,0.0,0.0,0.0,"212,549.0",3.3,0.5,0.5,0.0,0.0,0.0
3,Alabama,Florence,1.0,0.0,0.0,0.0,0.0,0.0,"40,160.0",2.5,0.0,0.0,0.0,0.0,0.0
4,Alabama,Foley,1.0,0.0,0.0,0.0,0.0,0.0,"17,639.0",5.7,0.0,0.0,0.0,0.0,0.0
5,Alabama,Hoover,3.0,0.0,0.0,0.0,0.0,0.0,"85,601.0",3.5,0.0,0.0,0.0,0.0,0.0
6,Alaska,Hoover,11.0,0.0,0.0,0.0,0.0,0.0,"85,601.0",12.9,0.0,0.0,0.0,0.0,0.0

# city population size

In [309]:
df = df.loc[df['population'] > 50000]

In [310]:
#fixes
df = df.replace("Boston3", "Boston")
df = df.replace("Greensboro3", "Greensboro")
df = df.replace("Toledo3", "Toledo")
df = df.replace("Phoenix2", "Phoenix")

In [311]:
df = df.replace("Las Vegas Metropolitan Police Department3", "Las Vegas")
df = df.replace("Hartford3", "Hartford")
df = df.replace("Overland Park3", "Overland Park")
df = df.replace("Nedfton3", "Nedfton")
df = df.replace("Quincy3", "Quincy")
df = df.replace("dfarren3", "dfarren")
df = df.replace("Spokane3", "Spokane")
df = df.replace("Bloomington3", "Bloomington")
df = df.replace("Eugene3", "Eugene")
df = df.replace("Somerville3", "Somerville")

In [312]:
df = df.replace("Nashville Metropolitan", "Nashville")
df = df.replace("Louisville Metro", "Louisville")

In [313]:
df['city'].unique()

array(['Birmingham', 'Hoover', 'Anchorage', 'Chandler', 'Gilbert',
       'Glendale', 'Mesa', 'Phoenix', 'Scottsdale', 'Tempe', 'Tucson',
       'Yuma', 'Arizona State University, Main Campus', 'Fort Smith',
       'Little Rock', 'Sebastian', 'Sevier', 'Alameda', 'Alhambra',
       'Anaheim', 'Antioch', 'Azusa', 'Bakersfield', 'Baldwin Park',
       'Bellflower', 'Berkeley', 'Buena Park', 'Burbank', 'Camarillo',
       'Cerritos', 'Chico', 'Chino', 'Chino Hills', 'Chula Vista',
       'Citrus Heights', 'Clovis', 'Compton', 'Concord', 'Cupertino',
       'Davis', 'Downey', 'Eastvale', 'Elk Grove', 'Encinitas',
       'Escondido', 'Fairfield', 'Folsom', 'Fremont', 'Fresno',
       'Fullerton', 'Garden Grove', 'Hanford', 'Hawthorne', 'Hayward',
       'Highland', 'Huntington Beach', 'Huntington Park', 'Irvine',
       'Jurupa Valley', 'La Habra', 'Lake Elsinore', 'Lakewood', 'La Mesa',
       'Lancaster', 'Long Beach', 'Los Angeles', 'Manteca', 'Merced',
       'Modesto', 'Mountain View', 'Murrieta', 'Napa', 'National City',
       'Norwalk', 'Novato', 'Oakland', 'Oceanside', 'Orange', 'Oxnard',
       'Palmdale', 'Palo Alto', 'Pasadena', 'Perris', 'Petaluma',
       'Placentia', 'Pomona', 'Poway', 'Rancho Cucamonga', 'Redding',
       'Redlands', 'Redwood City', 'Rialto', 'Richmond', 'Riverside',
       'Roseville', 'Sacramento', 'Salinas', 'San Bernardino2',
       'San Diego', 'San Francisco2', 'San Jose', 'San Leandro',
       'San Marcos', 'San Mateo', 'San Rafael', 'San Ramon', 'Santa Ana',
       'Santa Clarita', 'Santa Cruz', 'Santa Monica', 'Santa Rosa',
       'Santee', 'Simi Valley', 'South Gate', 'South San Francisco',
       'Stockton', 'Sunnyvale', 'Thousand Oaks', 'Torrance', 'Turlock',
       'Union City', 'Vacaville', 'Vallejo', 'Ventura', 'Victorville',
       'Walnut Creek', 'Watsonville', 'West Covina', 'Westminster',
       'Aurora', 'Boulder', 'Centennial', 'Colorado Springs', 'Denver',
       'Fort Collins', 'Grand Junction', 'Longmont', 'Loveland', 'Pueblo',
       'Bridgeport', 'Bristol', 'Danbury', 'Greenwich', 'Hartford',
       'Manchester', 'New Haven', 'Stamford', 'Stratford', 'Waterbury',
       'West Hartford', 'Washington', 'Metro Transit Police', 'Cape Coral',
       'Coral Gables', 'Davie', 'Fort Myers', 'Gainesville', 'Homestead',
       'Largo', 'Miami Beach', 'North Miami', 'Orlando', 'Palm Bay',
       'Pinellas Park', 'Sunrise', 'Tamarac', 'Tampa', 'West Palm Beach',
       'University of Florida', 'Brevard', 'Charlotte', 'Clay', 'Escambia',
       'Hillsborough', 'Lake', 'Lee', 'Miami-Dade', 'Osceola',
       'Palm Beach', 'Pasco', 'Pinellas', 'Seminole', 'St. Johns',
       'St. Lucie', 'Volusia', 'Atlanta', 'Boise', "Coeur d'Alene",
       'Meridian', 'Nampa', 'Pocatello', 'Berwyn', 'Champaign', 'Chicago',
       'Joliet', 'Normal', 'Oak Lawn', 'Peoria', 'Rockford', 'Springfield',
       'Anderson', 'Bloomington', 'Fort Wayne', 'Indianapolis', 'Muncie',
       'South Bend', 'Des Moines', 'Dubuque', 'Iowa City',
       'West Des Moines', 'Lenexa', 'Overland Park', 'Wichita',
       'University of Kansas, Medical Center3', 'Bowling Green',
       'Lexington', 'Louisville', 'Owensboro', 'Baton Rouge',
       'New Orleans2', 'Portland', 'Baltimore', 'Boston2', 'Cambridge2',
       'Chicopee', 'Framingham', 'Haverhill2', 'Lawrence', 'Lowell',
       'Lynn2', 'Malden', 'Medford', 'Newton2', 'Quincy', 'Somerville',
       'Taunton', 'Waltham', 'Worcester', 'Ann Arbor', 'Battle Creek',
       'Clinton Township', 'Dearborn', 'Dearborn Heights', 'Detroit',
       'Flint', 'Grand Rapids', 'Kalamazoo', 'Lansing', 'Livonia',
       'Pontiac', 'Rochester Hills', 'Royal Oak', 'Shelby Township',
       'Southfield', 'Taylor', 'Troy', 'Warren', 'Waterford Township',
       'West Bloomfield Township', 'Wyoming', 'Michigan State University',
       'Blaine', 'Brooklyn Park', 'Eagan', 'Minneapolis', 'Minnetonka',
       'Plymouth', 'St. Cloud', 'St. Paul',
       'University of Minnesota, Twin Cities', 'Carver', 'Mille Lacs',
       'Ramsey', 'Wright', 'Crow Wing',
       'Minneapolis-St. Paul International Airport', 'Blue Springs',
       'Columbia', 'Independence', 'Kansas City', "Lee's Summit",
       'St. Charles', 'St. Joseph', 'St. Louis', 'St. Peters2', 'Billings',
       'Grand Island', 'Lincoln', 'Omaha', 'Henderson',
       'Las Vegas Metropolitan Police Department2', 'North Las Vegas',
       'Reno', 'Brick Township', 'East Orange', 'Edison Township',
       'Hamilton Township, Mercer County', 'Hoboken', 'Howell Township',
       'Jackson Township', 'Jersey City', 'Lakewood Township',
       'Middletown Township', 'Newark', 'New Brunswick', 'Passaic',
       'Piscataway Township', 'Toms River Township', 'Trenton',
       'Union Township', 'Vineland', 'Woodbridge Township', 'Albuquerque',
       'Albany', 'Amherst Town', 'Buffalo', 'Cheektowaga Town',
       'Clarkstown Town', 'Colonie Town', 'New Rochelle', 'New York',
       'Ramapo Town', 'Rochester', 'Schenectady', 'Southampton Town',
       'Utica', 'Yonkers', 'Asheville', 'Charlotte-Mecklenburg', 'Durham',
       'Fayetteville', 'Gastonia', 'Greensboro', 'Greenville',
       'High Point', 'Huntersville', 'Jacksonville', 'Raleigh',
       'Rocky Mount', 'Wilmington', 'Bismarck', 'Grand Forks', 'Akron',
       'Canton', 'Cincinnati', 'Cleveland', 'Colerain Township',
       'Columbus2', 'Dayton', 'Elyria', 'Green Township', 'Hamilton',
       'Parma', 'Toledo', 'West Chester Township', 'Youngstown',
       'Ohio State University, Columbus', 'Norman', 'Oklahoma City',
       'Tulsa', 'Beaverton', 'Corvallis', 'Eugene', 'Gresham', 'Salem',
       'Tigard', 'Abington Township, Montgomery County', 'Philadelphia',
       'Pittsburgh', 'Reading', 'Scranton', 'State College', 'Cranston',
       'Pawtucket', 'Providence', 'Rapid City', 'Sioux Falls', 'Meade',
       'Minnehaha', 'Union', 'Hamlin', 'Jerauld', 'Chattanooga',
       'Clarksville', 'Franklin', 'Hendersonville', 'Jackson',
       'Johnson City', 'Kingsport', 'Knoxville', 'Memphis',
       'Murfreesboro2', 'Nashville', 'Arlington', 'Austin', 'Beaumont',
       'Cedar Park', 'College Station', 'Dallas', 'Denton', 'El Paso',
       'Fort Worth', 'Galveston', 'Grand Prairie', 'Houston',
       'League City', 'Lewisville', 'Longview', 'McKinney', 'Odessa',
       'Plano', 'Round Rock', 'San Angelo', 'San Antonio', 'Sugar Land',
       'Temple', 'Tyler', 'Wichita Falls', 'Layton', 'Ogden2',
       'Salt Lake City', 'South Jordan', 'St. George', 'West Jordan',
       'West Valley', 'Alexandria', 'Chesapeake', 'Hampton',
       'Harrisonburg', 'Newport News', 'Norfolk', 'Portsmouth',
       'Virginia Beach', 'Auburn', 'Bellevue', 'Bellingham', 'Everett',
       'Federal Way', 'Kent', 'Kirkland', 'Marysville', 'Olympia',
       'Redmond2', 'Renton', 'Richland', 'Sammamish', 'Seattle', 'Spokane',
       'Spokane Valley', 'Tacoma', 'Vancouver', 'Yakima', 'Appleton',
       'Green Bay', 'Janesville', 'La Crosse', 'Madison', 'Milwaukee'], dtype=object)

In [314]:
df.columns

Index(['state', 'city', 'race', 'religion', 'so', 'disability', 'gender',
       'genderid', 'population', 'race_per_100000', 'religion_per_100000',
       'SO_per_100000', 'disability_per_100000', 'gender_per_100000',
       'genderID_per_100000'],
      dtype='object')

formatting below to get rid of decimals for whole number things, like the crimes, but leave decimals for per_100000 numbers

In [315]:
pd.options.display.float_format = '{:,.1f}'.format #no 0.0's

In [316]:
cols=[i for i in df.columns if i not in ['state', 'city', 
        'race_per_100000', 'religion_per_100000',
       'SO_per_100000', 'disability_per_100000', 'gender_per_100000',
       'genderID_per_100000']  ]
for col in cols:
    df[col]=pd.to_numeric(df[col]).astype(int)

In [317]:
df.head()

,state,city,race,religion,so,disability,gender,genderid,population,race_per_100000,religion_per_100000,SO_per_100000,disability_per_100000,gender_per_100000,genderID_per_100000
2,Alabama,Birmingham,7,1,1,0,0,0,212549,3.3,0.5,0.5,0.0,0.0,0.0
5,Alabama,Hoover,3,0,0,0,0,0,85601,3.5,0.0,0.0,0.0,0.0,0.0
6,Alaska,Hoover,11,0,0,0,0,0,85601,12.9,0.0,0.0,0.0,0.0,0.0
7,Alaska,Hoover,11,0,0,0,0,0,85601,12.9,0.0,0.0,0.0,0.0,0.0
8,Alaska,Anchorage,4,0,0,0,0,0,299097,1.3,0.0,0.0,0.0,0.0,0.0

In [318]:
df['city'] = df['city'].str.replace('Township','')
df['city'] = df['city'].str.replace('Town','')
df['city'] = df['city'].str.strip(' ')
df['city'] = df['city'].str.replace('Charlotte-Mecklenburg','Charlotte')
df['city'] = df['city'].str.replace('Athens-Clarke County','Athens')
df['city'] = df['city'].str.replace('Parsippany Troy Hills','Parsippany-Troy Hills')
df['city'] = df['city'].str.replace('Mount Vernon','Mt Vernon')
df['city'] = df['city'].str.replace('Hamilton , Mercer County','Hamilton')
df['city'] = df['city'].str.replace('Port St. Lucie' , 'Port St Lucie')
df['city'] = df['city'].str.replace('Shelby', 'Shelby ')
df['city'] = df['city'].str.replace('Bloomfield' , 'Bloomfield ')
df['city'] = df['city'].str.replace('Franklin , Somerset County' , 'Franklin')
df['city'] = df['city'].str.replace('Piscataway' , 'Piscataway ')  
df['city'] = df['city'].str.replace('Woodbridge' , 'Woodbridge ')
df['city'] = df['city'].str.replace('West Chester' , 'West Chester ')
df['city'] = df['city'].str.replace('San Francisco2' , 'San Francisco')
df['city'] = df['city'].str.replace('San Bernardino2' , 'San Bernardino')

df['city'] = df['city'].str.replace('New Orleans2' , 'New Orleans ')
df['city'] = df['city'].str.replace('West Chester' , 'West Chester ')
df['city'] = df['city'].str.replace('Boston2' , 'Boston')
df['city'] = df['city'].str.replace('Cambridge2' , 'Cambridge')
df['city'] = df['city'].str.replace('Haverhill2' , 'Haverhill')
df['city'] = df['city'].str.replace('Cambridge2' , 'Cambridge')
df['city'] = df['city'].str.replace('University of Kansas, Medical Center3' , 'University of Kansas, Medical Center')


df['city'] = df['city'].str.replace('Lynn2', 'Lynn')
df['city'] = df['city'].str.replace('Newton2' , 'Newton')
df['city'] = df['city'].str.replace('St. Peters2' , 'St. Peters')
df['city'] = df['city'].str.replace('Las Vegas Metropolitan Police Department2' , 'Las Vegas')
df['city'] = df['city'].str.replace('Columbus2' , 'Columbus')
df['city'] = df['city'].str.replace('Murfreesboro2' , 'Murfreesboro')
df['city'] = df['city'].str.replace('Ogden2', 'Ogden')
df['city'] = df['city'].str.replace('Redmond2', 'Redmond')

In [319]:
df = df.drop_duplicates(subset='city', keep="last")

In [480]:
df.head(100)
df[df['state'] == "New York"]

,state,city,race,religion,so,disability,gender,genderid,population,race_per_100000,religion_per_100000,SO_per_100000,disability_per_100000,gender_per_100000,genderID_per_100000,"city, state"
1230,New York,Albany,1,0,0,0,0,0,98617,1.0,0.0,0.0,0.0,0.0,0.0,"Albany, New York"
1231,New York,Amherst,2,0,0,0,0,0,120436,1.7,0.0,0.0,0.0,0.0,0.0,"Amherst, New York"
1236,New York,Buffalo,5,0,1,0,0,1,257446,1.9,0.0,0.4,0.0,0.0,0.4,"Buffalo, New York"
1237,New York,Cheektowaga,1,0,0,0,0,0,78100,1.3,0.0,0.0,0.0,0.0,0.0,"Cheektowaga, New York"
1238,New York,Clarkstown,1,2,0,0,0,0,82171,1.2,2.4,0.0,0.0,0.0,0.0,"Clarkstown, New York"
1239,New York,Colonie,0,1,0,0,0,0,80075,0.0,1.2,0.0,0.0,0.0,0.0,"Colonie, New York"
1250,New York,New Rochelle,1,4,0,0,0,0,80389,1.2,5.0,0.0,0.0,0.0,0.0,"New Rochelle, New York"
1251,New York,New York,74,183,79,1,5,19,8566917,0.9,2.1,0.9,0.0,0.1,0.2,"New York, New York"
1256,New York,Ramapo,1,1,1,0,0,0,92620,1.1,1.1,1.1,0.0,0.0,0.0,"Ramapo, New York"
1257,New York,Rochester,1,0,1,0,0,0,209643,0.5,0.0,0.5,0.0,0.0,0.0,"Rochester, New York"
1259,New York,Schenectady,0,1,0,0,0,0,65138,0.0,1.5,0.0,0.0,0.0,0.0,"Schenectady, New York"
1260,New York,Southampton,1,0,0,0,0,0,51191,2.0,0.0,0.0,0.0,0.0,0.0,"Southampton, New York"
1262,New York,Utica,0,0,1,0,0,0,60879,0.0,0.0,1.6,0.0,0.0,0.0,"Utica, New York"
1265,New York,Yonkers,15,10,4,0,0,3,202075,7.4,4.9,2.0,0.0,0.0,1.5,"Yonkers, New York"

In [321]:

##df.population = df.population.astype(int) #no commas in population

# THIS DF IS EXPORTED TO STEP 3 SHEET

## getting the lat lon coordiantes

#cut and paste this file into atom where.js
#go to terminal and switch to python2
#run geoload.py to connect with google map API
#the  file with the lat and lon is where.js

then go to
hate_crimes_CITIES --formatting google returned data to match pd of cities
and format that where.js

In [322]:

df.to_csv("df_ready_for_step3", index=False)

(453, 15)

this sheet to use google search on long/lat ...google return will mess up formatting of words though ie st louis not st. louis

In [323]:
df["search"] = df["city"].map(str) + " " + df["state"]
search = df["search"]

search.to_csv("city_longitude_search2016", index=False)