## Boston Gender with Python!!!

In [2]:
import pandas as pd
import numpy as np
import csv

In [3]:
#import the csv i downloaded from the website with the names -- could robotize this later..
# they have an API https://data.cityofboston.gov/Finance/Employee-Earnings-Report-2015/ah28-sywy
pay_2017 = pd.read_csv("employee-earnings-report-2017.csv")

pay_2017.head()

,NAME,DEPARTMENT NAME,TITLE,REGULAR,RETRO,OTHER,OVERTIME,INJURED,DETAIL,QUINN/EDUCATION INCENTIVE,TOTAL EARNINGS,POSTAL
0,"Miller,Francis T",Boston Police Department,Police Lieutenant (Det),"$129,530.83",NaN,"$13,694.50","$8,150.41",NaN,NaN,"$24,286.86","$175,662.60",2043
1,"Sullivan,Patrice Murphy",Boston Police Department,Office Manager,"$56,921.80",NaN,"$3,594.65","$1,548.16",NaN,NaN,NaN,"$62,064.61",2132
2,"O'Hara,Michael C",Boston Police Department,Police Lieutenant,"$124,056.64",NaN,"$6,432.23","$29,043.67",NaN,"$22,385.00","$23,260.69","$205,178.23",2021
3,"Whalen,Richard L",Boston Police Department,Police Detective,"$94,956.25","$4,985.32","$13,591.93","$85,419.22",$58.03,"$16,330.00","$19,971.01","$235,311.76",2062
4,"Kelly,Ann Marie",Boston Police Department,Tape Librarian I (BPD),"$69,995.34",NaN,$300.00,"$7,961.08",NaN,NaN,NaN,"$78,256.42",2190

In [4]:
pay_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22245 entries, 0 to 22244
Data columns (total 12 columns):
NAME                         22245 non-null object
DEPARTMENT NAME              22245 non-null object
TITLE                        22245 non-null object
REGULAR                      21640 non-null object
RETRO                        3258 non-null object
OTHER                        13083 non-null object
OVERTIME                     6783 non-null object
INJURED                      1283 non-null object
DETAIL                       2423 non-null object
QUINN/EDUCATION INCENTIVE    1259 non-null object
TOTAL EARNINGS               22245 non-null object
POSTAL                       22242 non-null object
dtypes: object(12)
memory usage: 2.0+ MB

what would I like to do now? for the graphic, I need to genderize, and then pick the top 100 people by pay.
the genderizer uses first name,so I need to make a column of first names..

In [5]:
d_2017 = pay_2017 #copying the dataset to avoid changes
d_2017.head()

,NAME,DEPARTMENT NAME,TITLE,REGULAR,RETRO,OTHER,OVERTIME,INJURED,DETAIL,QUINN/EDUCATION INCENTIVE,TOTAL EARNINGS,POSTAL
0,"Miller,Francis T",Boston Police Department,Police Lieutenant (Det),"$129,530.83",NaN,"$13,694.50","$8,150.41",NaN,NaN,"$24,286.86","$175,662.60",2043
1,"Sullivan,Patrice Murphy",Boston Police Department,Office Manager,"$56,921.80",NaN,"$3,594.65","$1,548.16",NaN,NaN,NaN,"$62,064.61",2132
2,"O'Hara,Michael C",Boston Police Department,Police Lieutenant,"$124,056.64",NaN,"$6,432.23","$29,043.67",NaN,"$22,385.00","$23,260.69","$205,178.23",2021
3,"Whalen,Richard L",Boston Police Department,Police Detective,"$94,956.25","$4,985.32","$13,591.93","$85,419.22",$58.03,"$16,330.00","$19,971.01","$235,311.76",2062
4,"Kelly,Ann Marie",Boston Police Department,Tape Librarian I (BPD),"$69,995.34",NaN,$300.00,"$7,961.08",NaN,NaN,NaN,"$78,256.42",2190

in 2017, unlike other years, they had some extra ( in the csv, so had to add .replace( '[\(]','', regex=True ) i addition to earlier versionsthat removing the $ -- not sure this is the best way but it works :)

In [6]:
d_2017['REGULAR'] = (d_2017['REGULAR'].replace( '[\$,)]','', regex=True ).replace( '[\(]','', regex=True ).astype(float)).round()
d_2017['RETRO'] = (d_2017['RETRO'].replace( '[\$,)]','', regex=True ).replace( '[\(]','', regex=True ).astype(float)).round()
d_2017['OTHER'] = (d_2017['OTHER'].replace( '[\$,)]','', regex=True ).replace( '[\(]','', regex=True ).astype(float)).round()
d_2017['OVERTIME'] = (d_2017['OVERTIME'].replace( '[\$,)]','', regex=True ).replace( '[\(]','', regex=True ).astype(float)).round()
d_2017['INJURED'] = (d_2017['INJURED'].replace( '[\$,)]','', regex=True ).replace( '[\(]','', regex=True ).astype(float)).round()
d_2017['DETAIL'] = (d_2017['DETAIL'].replace( '[\$,)]','', regex=True ).replace( '[\(]','', regex=True ).astype(float)).round()
d_2017['QUINN/EDUCATION INCENTIVE'] = (d_2017['QUINN/EDUCATION INCENTIVE'].replace( '[\$,)]','', regex=True ).replace( '[\(]','', regex=True ).astype(float)).round()
d_2017['TOTAL EARNINGS'] = (d_2017['TOTAL EARNINGS'].replace( '[\$,)]','', regex=True ).replace( '[\(]','', regex=True ).astype(float)).round()

In [7]:
d_2017.head()

d_2017 = d_2017.rename(columns = {
'REGULAR':"salary",
'RETRO':"retroactive",
'OTHER':'other',
'OVERTIME':'overtime',
'DETAIL':'detail',
'INJURED':'injured',
'QUINN/EDUCATION INCENTIVE':'quinn_education_incentive',
'TOTAL EARNINGS':'totalSalary',
'NAME':'name',
#"DEPARTMENT_NAME" : "dept", 2017 took out the _
"DEPARTMENT NAME" : "dept",
"TITLE" : "title",
"POSTAL" : "zip_code",
    
    
})
d_2017.head()


#the csv used for d3 I want to update has this: columns are name, 
#firstName, dept, salary, totalSalary(still has $), gender -- is just F or M

,name,dept,title,salary,retroactive,other,overtime,injured,detail,quinn_education_incentive,totalSalary,zip_code
0,"Miller,Francis T",Boston Police Department,Police Lieutenant (Det),129531.0,NaN,13694.0,8150.0,NaN,NaN,24287.0,175663.0,2043
1,"Sullivan,Patrice Murphy",Boston Police Department,Office Manager,56922.0,NaN,3595.0,1548.0,NaN,NaN,NaN,62065.0,2132
2,"O'Hara,Michael C",Boston Police Department,Police Lieutenant,124057.0,NaN,6432.0,29044.0,NaN,22385.0,23261.0,205178.0,2021
3,"Whalen,Richard L",Boston Police Department,Police Detective,94956.0,4985.0,13592.0,85419.0,58.0,16330.0,19971.0,235312.0,2062
4,"Kelly,Ann Marie",Boston Police Department,Tape Librarian I (BPD),69995.0,NaN,300.0,7961.0,NaN,NaN,NaN,78256.0,2190

In [8]:
#Round salaries to nearest dollar in the future...
import math
h = int(round(4.2))
h

4

In [9]:
# here i want to sort on the salary and then cut off at the first 200 to not use too much of teh API right now..$9 dolalrs!!!!

In [10]:
#sort on salaries 
d_2017 = d_2017.sort_values('salary', ascending=False)

### I ll split on the names
and now can see that there are some middle names 
so I'm going to use Regex to clean a bit..
if there is a Capitalized letter with nothing after, or a capitalized letter with a period, I want to split it, but otherwise Ill keep the two names, don't know how genderizer will handle them but well see..


had to do the splitting off of first name in two steps that probably should be one so can review later..below might help

#see this
#https://stackoverflow.com/questions/29585106/pandas-how-to-split-twice-a-given-field
 #try this:
trimmed_list = [i.replace('.', ',').split(',') for i in sbj[0].tolist() if i != ""]
item_list = [item.strip(whitespace) for item in itertools.chain(*trimmed_list)]
item_count = Counter(item_list)

In [11]:
d_2017['firstName'] = d_2017.name.apply(lambda x: x.split(',')[1])
d_2017.head(5)

,name,dept,title,salary,retroactive,other,overtime,injured,detail,quinn_education_incentive,totalSalary,zip_code,firstName
17977,"Chang,Tommy",Superintendent,Superintendent,264661.0,NaN,6000.0,NaN,NaN,NaN,NaN,270661.0,2131,Tommy
36,"Evans,William B",Boston Police Department,Commissioner (Bpd),230000.0,NaN,8846.0,NaN,NaN,NaN,NaN,238846.0,2127,William B
6209,"Fontana,Gerard T.",Boston Fire Department,Chief of Field Services,220489.0,NaN,20092.0,4896.0,NaN,NaN,NaN,245477.0,2169,Gerard T.
5368,"Walsh,John Francis",Boston Fire Department,Chief of Support Services,217823.0,NaN,23605.0,NaN,NaN,NaN,NaN,241428.0,2184,John Francis
5561,"Granara,David Richard",Boston Fire Department,DepFireChiefAdmn-AdvTechnician,206172.0,NaN,12375.0,4889.0,NaN,NaN,NaN,223437.0,2128,David Richard

In [12]:
d_2017['firstName'] = d_2017.firstName.apply(lambda x: x.split(' ')[0])
d_2017.head(5)

,name,dept,title,salary,retroactive,other,overtime,injured,detail,quinn_education_incentive,totalSalary,zip_code,firstName
17977,"Chang,Tommy",Superintendent,Superintendent,264661.0,NaN,6000.0,NaN,NaN,NaN,NaN,270661.0,2131,Tommy
36,"Evans,William B",Boston Police Department,Commissioner (Bpd),230000.0,NaN,8846.0,NaN,NaN,NaN,NaN,238846.0,2127,William
6209,"Fontana,Gerard T.",Boston Fire Department,Chief of Field Services,220489.0,NaN,20092.0,4896.0,NaN,NaN,NaN,245477.0,2169,Gerard
5368,"Walsh,John Francis",Boston Fire Department,Chief of Support Services,217823.0,NaN,23605.0,NaN,NaN,NaN,NaN,241428.0,2184,John
5561,"Granara,David Richard",Boston Fire Department,DepFireChiefAdmn-AdvTechnician,206172.0,NaN,12375.0,4889.0,NaN,NaN,NaN,223437.0,2128,David

create a column called gender

https://media.readthedocs.org/pdf/genderize/latest/genderize.pdf
a = ["June","Maurice","Merika"]
genderize = Genderize(
    user_agent='GenderizeDocs/0.0',
    api_key='08402238f4c2af82034ed0a16e4d36cb')
print(genderize.get(a,country_id='US',retheader=True)) #retheader true keeps  the connection headers like ajax request headers

In [13]:

d_2017.head()

,name,dept,title,salary,retroactive,other,overtime,injured,detail,quinn_education_incentive,totalSalary,zip_code,firstName
17977,"Chang,Tommy",Superintendent,Superintendent,264661.0,NaN,6000.0,NaN,NaN,NaN,NaN,270661.0,2131,Tommy
36,"Evans,William B",Boston Police Department,Commissioner (Bpd),230000.0,NaN,8846.0,NaN,NaN,NaN,NaN,238846.0,2127,William
6209,"Fontana,Gerard T.",Boston Fire Department,Chief of Field Services,220489.0,NaN,20092.0,4896.0,NaN,NaN,NaN,245477.0,2169,Gerard
5368,"Walsh,John Francis",Boston Fire Department,Chief of Support Services,217823.0,NaN,23605.0,NaN,NaN,NaN,NaN,241428.0,2184,John
5561,"Granara,David Richard",Boston Fire Department,DepFireChiefAdmn-AdvTechnician,206172.0,NaN,12375.0,4889.0,NaN,NaN,NaN,223437.0,2128,David

In [14]:
#make a shorter df so as to not genderize so many -- ill do 500
d_2017_top_500 = d_2017.head(500)

In [15]:
d_2017_top_500.tail()

,name,dept,title,salary,retroactive,other,overtime,injured,detail,quinn_education_incentive,totalSalary,zip_code,firstName
2032,"Stranberg,Karyn M",BPS Mather Elementary,Asst Principal Elementary,127237.0,NaN,NaN,NaN,NaN,NaN,NaN,127237.0,2132,Karyn
3525,"Holly,John H.",Tobin K-8,Director Of Instruction,127212.0,NaN,717.0,NaN,NaN,NaN,NaN,127929.0,2150,John
12508,"Pellam,Michele Marie",BPS Another Course To Colleg,Headmaster,127196.0,NaN,NaN,NaN,NaN,NaN,NaN,127196.0,2135,Michele
141,"Cooper,D. Mark",Boston Police Department,Police Lieutenant,127143.0,NaN,11203.0,21377.0,NaN,80630.0,23839.0,264191.0,2081,D.
120,"Gannon,Richard J",Boston Police Department,Police Lieutenant,127143.0,NaN,800.0,36567.0,NaN,20735.0,19071.0,204316.0,1969,Richard

In [16]:
#genderize using my API key , $9!!!!!
from genderize import Genderize
genderize = Genderize(
    user_agent='GenderizeDocs/0.0',
    api_key='08402238f4c2af82034ed0a16e4d36cb')

In [17]:
#df2['gender_try2'] = genderize.get(df2['name'],country_id='US')
d_2017_top_500['genderize_results'] = genderize.get(d_2017_top_500['firstName'],country_id='US')

/Users/hw/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [18]:
d_2017_top_500.head(5)

,name,dept,title,salary,retroactive,other,overtime,injured,detail,quinn_education_incentive,totalSalary,zip_code,firstName,genderize_results
17977,"Chang,Tommy",Superintendent,Superintendent,264661.0,NaN,6000.0,NaN,NaN,NaN,NaN,270661.0,2131,Tommy,"{'name': 'Tommy', 'gender': 'male', 'probabili..."
36,"Evans,William B",Boston Police Department,Commissioner (Bpd),230000.0,NaN,8846.0,NaN,NaN,NaN,NaN,238846.0,2127,William,"{'name': 'William', 'gender': 'male', 'probabi..."
6209,"Fontana,Gerard T.",Boston Fire Department,Chief of Field Services,220489.0,NaN,20092.0,4896.0,NaN,NaN,NaN,245477.0,2169,Gerard,"{'name': 'Gerard', 'gender': 'male', 'probabil..."
5368,"Walsh,John Francis",Boston Fire Department,Chief of Support Services,217823.0,NaN,23605.0,NaN,NaN,NaN,NaN,241428.0,2184,John,"{'name': 'John', 'gender': 'male', 'probabilit..."
5561,"Granara,David Richard",Boston Fire Department,DepFireChiefAdmn-AdvTechnician,206172.0,NaN,12375.0,4889.0,NaN,NaN,NaN,223437.0,2128,David,"{'name': 'David', 'gender': 'male', 'probabili..."

In [19]:
#grab the gender only from the genderize column and add it as a column

In [20]:
gender1 = []

for item in d_2017_top_500['genderize_results']:
    gender_id = item['gender']
    gender1.append(gender_id)
    
d_2017_top_500["gender"] = gender1
d_2017_top_500.head(4)

/Users/hw/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

,name,dept,title,salary,retroactive,other,overtime,injured,detail,quinn_education_incentive,totalSalary,zip_code,firstName,genderize_results,gender
17977,"Chang,Tommy",Superintendent,Superintendent,264661.0,NaN,6000.0,NaN,NaN,NaN,NaN,270661.0,2131,Tommy,"{'name': 'Tommy', 'gender': 'male', 'probabili...",male
36,"Evans,William B",Boston Police Department,Commissioner (Bpd),230000.0,NaN,8846.0,NaN,NaN,NaN,NaN,238846.0,2127,William,"{'name': 'William', 'gender': 'male', 'probabi...",male
6209,"Fontana,Gerard T.",Boston Fire Department,Chief of Field Services,220489.0,NaN,20092.0,4896.0,NaN,NaN,NaN,245477.0,2169,Gerard,"{'name': 'Gerard', 'gender': 'male', 'probabil...",male
5368,"Walsh,John Francis",Boston Fire Department,Chief of Support Services,217823.0,NaN,23605.0,NaN,NaN,NaN,NaN,241428.0,2184,John,"{'name': 'John', 'gender': 'male', 'probabilit...",male

change the order of the columns

In [21]:
cols = list(d_2017_top_500.columns.values)
cols

['name',
 'dept',
 'title',
 'salary',
 'retroactive',
 'other',
 'overtime',
 'injured',
 'detail',
 'quinn_education_incentive',
 'totalSalary',
 'zip_code',
 'firstName',
 'genderize_results',
 'gender']

In [22]:
d_2017_top_500 = d_2017_top_500[[
 'name',
'firstName',
 'gender',
 'salary',
'totalSalary',
'dept',
 'title',
'genderize_results',
 'retroactive',
 'other',
 'overtime',
 'injured',
 'detail',
 'quinn_education_incentive',
 'zip_code', 
 ]]
d_2017_top_500.head()

,name,firstName,gender,salary,totalSalary,dept,title,genderize_results,retroactive,other,overtime,injured,detail,quinn_education_incentive,zip_code
17977,"Chang,Tommy",Tommy,male,264661.0,270661.0,Superintendent,Superintendent,"{'name': 'Tommy', 'gender': 'male', 'probabili...",NaN,6000.0,NaN,NaN,NaN,NaN,2131
36,"Evans,William B",William,male,230000.0,238846.0,Boston Police Department,Commissioner (Bpd),"{'name': 'William', 'gender': 'male', 'probabi...",NaN,8846.0,NaN,NaN,NaN,NaN,2127
6209,"Fontana,Gerard T.",Gerard,male,220489.0,245477.0,Boston Fire Department,Chief of Field Services,"{'name': 'Gerard', 'gender': 'male', 'probabil...",NaN,20092.0,4896.0,NaN,NaN,NaN,2169
5368,"Walsh,John Francis",John,male,217823.0,241428.0,Boston Fire Department,Chief of Support Services,"{'name': 'John', 'gender': 'male', 'probabilit...",NaN,23605.0,NaN,NaN,NaN,NaN,2184
5561,"Granara,David Richard",David,male,206172.0,223437.0,Boston Fire Department,DepFireChiefAdmn-AdvTechnician,"{'name': 'David', 'gender': 'male', 'probabili...",NaN,12375.0,4889.0,NaN,NaN,NaN,2128

shortdf = d_2016[["NAME","first_names","gender","REGULAR"]] #I can add stuff here later and rerun for my csv, ie department
print(shortdf.sort_values(by=['gender'],ascending=True))

now I'd like to see how many there are of each type in the new gender column...

In [23]:
d_2017_top_500['gender'].value_counts()

male      364
female    118
Name: gender, dtype: int64

im going to sort by top 100 earners to see how many of those have different value counts since
that's what I use in my chart

In [24]:
d_2017_top_500['gender'].head(100).value_counts()

male      90
female    10
Name: gender, dtype: int64

In [25]:
d_2017_top_500.head(100)

,name,firstName,gender,salary,totalSalary,dept,title,genderize_results,retroactive,other,overtime,injured,detail,quinn_education_incentive,zip_code
17977,"Chang,Tommy",Tommy,male,264661.0,270661.0,Superintendent,Superintendent,"{'name': 'Tommy', 'gender': 'male', 'probabili...",NaN,6000.0,NaN,NaN,NaN,NaN,2131
36,"Evans,William B",William,male,230000.0,238846.0,Boston Police Department,Commissioner (Bpd),"{'name': 'William', 'gender': 'male', 'probabi...",NaN,8846.0,NaN,NaN,NaN,NaN,2127
6209,"Fontana,Gerard T.",Gerard,male,220489.0,245477.0,Boston Fire Department,Chief of Field Services,"{'name': 'Gerard', 'gender': 'male', 'probabil...",NaN,20092.0,4896.0,NaN,NaN,NaN,2169
5368,"Walsh,John Francis",John,male,217823.0,241428.0,Boston Fire Department,Chief of Support Services,"{'name': 'John', 'gender': 'male', 'probabilit...",NaN,23605.0,NaN,NaN,NaN,NaN,2184
5561,"Granara,David Richard",David,male,206172.0,223437.0,Boston Fire Department,DepFireChiefAdmn-AdvTechnician,"{'name': 'David', 'gender': 'male', 'probabili...",NaN,12375.0,4889.0,NaN,NaN,NaN,2128
6016,"Finn,Joseph E.",Joseph,male,205208.0,221615.0,Boston Fire Department,FCommissioner/Chief of theDept,"{'name': 'Joseph', 'gender': 'male', 'probabil...",NaN,15615.0,NaN,792.0,NaN,NaN,2122
5383,"Maughn,Reynold",Reynold,male,202996.0,226466.0,Boston Fire Department,Dep Fire Chief Administration,"{'name': 'Reynold', 'gender': 'male', 'probabi...",NaN,14488.0,8982.0,NaN,NaN,NaN,2048
5657,"Dempsey,John",John,male,202861.0,245161.0,Boston Fire Department,Dep Fire Chief Administration,"{'name': 'John', 'gender': 'male', 'probabilit...",NaN,13814.0,28485.0,NaN,NaN,NaN,2152
6303,"McMahon,Joseph G",Joseph,male,202727.0,245570.0,Boston Fire Department,Dep Fire Chief Administration,"{'name': 'Joseph', 'gender': 'male', 'probabil...",NaN,12130.0,30713.0,NaN,NaN,NaN,2492
6131,"Walsh,David John",David,male,202246.0,211915.0,Boston Fire Department,Dep Fire Chief Administration,"{'name': 'David', 'gender': 'male', 'probabili...",NaN,8752.0,916.0,NaN,NaN,NaN,1867
6191,"Malone,Scott J",Scott,male,201364.0,254949.0,Boston Fire Department,Dep Fire Chief Administration,"{'name': 'Scott', 'gender': 'male', 'probabili...",NaN,5387.0,48198.0,NaN,NaN,NaN,2132
185,"Gross,William G.",William,male,199244.0,225338.0,Boston Police Department,Supn-In Chief,"{'name': 'William', 'gender': 'male', 'probabi...",NaN,26094.0,NaN,NaN,NaN,NaN,2186
13196,"Leonard,David J",David,male,190000.0,210654.0,Boston Public Library,President,"{'name': 'David', 'gender': 'male', 'probabili...",NaN,20654.0,NaN,NaN,NaN,NaN,2118
6516,"Stallworth,Andre R",Andre,male,187325.0,238724.0,Boston Fire Department,Dep Fire Chief,"{'name': 'Andre', 'gender': 'male', 'probabili...",NaN,6834.0,44552.0,14.0,NaN,NaN,2019
5874,"Ruggere,Michael J",Michael,male,186929.0,244362.0,Boston Fire Department,Dep Fire Chief,"{'name': 'Michael', 'gender': 'male', 'probabi...",NaN,8762.0,48671.0,NaN,NaN,NaN,2188
6316,"Fleming,Joseph Michael",Joseph,male,186929.0,224814.0,Boston Fire Department,Dep Fire Chief,"{'name': 'Joseph', 'gender': 'male', 'probabil...",NaN,550.0,37335.0,NaN,NaN,NaN,2061
5840,"Calobrisi,Robert J.",Robert,male,186929.0,233349.0,Boston Fire Department,Dep Fire Chief,"{'name': 'Robert', 'gender': 'male', 'probabil...",NaN,4912.0,41507.0,NaN,NaN,NaN,2090
5454,"Tully,Bernard J.",Bernard,male,186105.0,220720.0,Boston Fire Department,Dep Fire Chief,"{'name': 'Bernard', 'gender': 'male', 'probabi...",NaN,7287.0,27328.0,NaN,NaN,NaN,2186
790,"Mancini,Frank A",Frank,male,181983.0,239961.0,Boston Police Department,Supn Bpd,"{'name': 'Frank', 'gender': 'male', 'probabili...",NaN,23857.0,NaN,NaN,NaN,34122.0,1949
166,"Holmes,Lisa R.",Lisa,female,181983.0,229069.0,Boston Police Department,Supn Bpd,"{'name': 'Lisa', 'gender': 'female', 'probabil...",NaN,19789.0,NaN,NaN,NaN,27297.0,2121
240,"Buckley,Kevin J",Kevin,male,181983.0,239961.0,Boston Police Department,Supn Bpd,"{'name': 'Kevin', 'gender': 'male', 'probabili...",NaN,23857.0,NaN,NaN,NaN,34122.0,2124
6160,"Jones,Francis G",Francis,male,181241.0,199607.0,Boston Fire Department,District FireChiefAdmn-AdvTech,"{'name': 'Francis', 'gender': 'male', 'probabi...",NaN,9554.0,8811.0,NaN,NaN,NaN,2043
6054,"Costin,Dennis B",Dennis,male,180416.0,277784.0,Boston Fire Department,District FireChiefAdmn-AdvTech,"{'name': 'Dennis', 'gender': 'male', 'probabil...",NaN,13905.0,83464.0,NaN,NaN,NaN,2127
328,"Ridge,William G.",William,male,180369.0,238094.0,Boston Police Department,Supn Bpd,"{'name': 'William', 'gender': 'male', 'probabi...",NaN,23907.0,NaN,NaN,NaN,33819.0,2066
5658,"Doherty,Michael J.",Michael,male,180130.0,240484.0,Boston Fire Department,Dep Fire Chief,"{'name': 'Michael', 'gender': 'male', 'probabi...",NaN,8762.0,44793.0,6799.0,NaN,NaN,1867
113,"Daley,John J",John,male,179864.0,202469.0,Boston Police Department,Supn Bpd,"{'name': 'John', 'gender': 'male', 'probabilit...",NaN,22605.0,NaN,NaN,NaN,NaN,2050
5565,"McNulty,Joseph G.",Joseph,male,179272.0,230128.0,Boston Fire Department,Dist Fire Chief-Adm Asst Dvmtr,"{'name': 'Joseph', 'gender': 'male', 'probabil...",NaN,7688.0,43169.0,NaN,NaN,NaN,2169
6543,"Paschal,Stephen P",Stephen,male,178906.0,214966.0,Boston Fire Department,District Fire Chief Admin,"{'name': 'Stephen', 'gender': 'male', 'probabi...",NaN,8139.0,27921.0,NaN,NaN,NaN,2056
5487,"Keeley,Dennis L",Dennis,male,178722.0,218338.0,Boston Fire Department,District Fire Chief Admin,"{'name': 'Dennis', 'gender': 'male', 'probabil...",NaN,9461.0,30155.0,NaN,NaN,NaN,2132
1316,"Long,Gregory P",Gregory,male,178601.0,235517.0,Boston Police Department,Supn Bpd,"{'name': 'Gregory', 'gender': 'male', 'probabi...",NaN,23428.0,NaN,NaN,NaN,33488.0,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3300,"Edouard-Vincent,Marice M",Marice,male,163661.0,163661.0,Asst Superintendent-Network A,Instructional Superintendent,"{'name': 'Marice', 'gender': 'male', 'probabil...",NaN,NaN,NaN,NaN,NaN,NaN,2136
1262,"Donovan,Beth E",Beth,female,163517.0,197721.0,Boston Police Department,Dep Supn (Bpd),"{'name': 'Beth', 'gender': 'female', 'probabil...",NaN,27098.0,7107.0,NaN,NaN,NaN,2122
6180,"Raymond,Mark J.",Mark,male,163455.0,206791.0,Boston Fire Department,Dist Fire Chief,"{'name': 'Mark', 'gender': 'male', 'probabilit...",NaN,7719.0,35616.0,NaN,NaN,NaN,1960
7510,"Burke,Christopher",Christopher,male,163435.0,186055.0,Boston Fire Department,Dist Fire Chief,"{'name': 'Christopher', 'gender': 'male', 'pro...",NaN,3116.0,19503.0,NaN,NaN,NaN,2124
5587,"Whitman,Jeffrey M",Jeffrey,male,163312.0,209921.0,Boston Fire Department,Dist Fire Chief,"{'name': 'Jeffrey', 'gender': 'male', 'probabi...",NaN,3909.0,29018.0,NaN,13682.0,NaN,2048
5652,"Stapleton,John",John,male,163210.0,198315.0,Boston Fire Department,Dist Fire Chief,"{'name': 'John', 'gender': 'male', 'probabilit...",NaN,3520.0,24677.0,NaN,6908.0,NaN,2090
813,"Whitman,Steven M",Steven,male,163209.0,209168.0,Boston Police Department,Dep Supn (Bpd),"{'name': 'Steven', 'gender': 'male', 'probabil...",NaN,21478.0,NaN,NaN,NaN,24481.0,2048
822,"Bailey,Gerard W",Gerard,male,163209.0,217839.0,Boston Police Department,Dep Supn (Bpd),"{'name': 'Gerard', 'gender': 'male', 'probabil...",NaN,24028.0,NaN,NaN,NaN,30602.0,2171
634,"Walcott,Jeffrey I",Jeffrey,male,163209.0,209218.0,Boston Police Department,Dep Supn (Bpd),"{'name': 'Jeffrey', 'gender': 'male', 'probabi...",NaN,21528.0,NaN,NaN,NaN,24481.0,2118
768,"Cox,Michael A",Michael,male,163209.0,215339.0,Boston Police Department,Dep Supn (Bpd),"{'name': 'Michael', 'gender': 'male', 'probabi...",NaN,21528.0,NaN,NaN,NaN,30602.0,2124
812,"White,Dennis A",Dennis,male,163209.0,209168.0,Boston Police Department,Dep Supn (Bpd),"{'name': 'Dennis', 'gender': 'male', 'probabil...",NaN,21478.0,NaN,NaN,NaN,24481.0,2368
6095,"Rodriguez,Jonathan",Jonathan,male,163131.0,198760.0,Boston Fire Department,Dist Fire Chief,"{'name': 'Jonathan', 'gender': 'male', 'probab...",NaN,7714.0,27915.0,NaN,NaN,NaN,2026
7520,"Sloane,Christopher",Christopher,male,163032.0,199726.0,Boston Fire Department,Dist Fire Chief,"{'name': 'Christopher', 'gender': 'male', 'pro...",NaN,7669.0,29025.0,NaN,NaN,NaN,2127
5817,"McNeil,Stephen D",Stephen,male,162647.0,223266.0,Boston Fire Department,Dep Fire Chief,"{'name': 'Stephen', 'gender': 'male', 'probabi...",NaN,10205.0,26131.0,24283.0,NaN,NaN,2190
6369,"Cuddahy,Don F.",Don,male,162647.0,207863.0,Boston Fire Department,F Captain Admin Dvmstr,"{'name': 'Don', 'gender': 'male', 'probability...",NaN,9395.0,35822.0,NaN,NaN,NaN,2188
6405,"Pettaway,Erik C",Erik,male,162631.0,190533.0,Boston Fire Department,Dist Fire Chief,"{'name': 'Erik', 'gender': 'male', 'probabilit...",NaN,6008.0,21895.0,NaN,NaN,NaN,2368
6256,"Heelen,Brian P",Brian,male,162385.0,208777.0,Boston Fire Department,Dist Fire Chief,"{'name': 'Brian', 'gender': 'male', 'probabili...",NaN,6008.0,33345.0,NaN,7038.0,NaN,2186
6511,"Smith,Timothy",Timothy,male,162352.0,213614.0,Boston Fire Department,Dist Fire Chief,"{'name': 'Timothy', 'gender': 'male', 'probabi...",NaN,7679.0,28584.0,NaN,14999.0,NaN,2368
5329,"Hoar,James J",James,male,162153.0,219462.0,Boston Fire Department,Dist Fire Chief,"{'name': 'James', 'gender': 'male', 'probabili...",NaN,6452.0,24523.0,25350.0,984.0,NaN,2339
5913,"Harrington,Ronald A",Ronald,male,162023.0,233784.0,Boston Fire Department,District Fire Chief Admin,"{'name': 'Ronald', 'gender': 'male', 'probabil...",NaN,7801.0,50404.0,3771.0,9785.0,NaN,2081
11765,"Viola,Gerard",Gerard,male,161366.0,202197.0,Boston Fire Department,Dist Fire Chief,"{'name': 'Gerard', 'gender': 'male', 'probabil...",NaN,4206.0,25955.0,NaN,10669.0,NaN,2128
18039,"Landman,Jonathan",Jonathan,male,161311.0,161311.0,Asst Superintendent-Network A,Instructional Superintendent,"{'name': 'Jonathan', 'gender': 'male', 'probab...",NaN,NaN,NaN,NaN,NaN,NaN,2459
10334,"McGovern,Ryan J.",Ryan,male,160937.0,176558.0,Boston Fire Department,FCaptAdminScubaDivAdvTech,"{'name': 'Ryan', 'gender': 'male', 'probabilit...",NaN,6199.0,9423.0,NaN,NaN,NaN,2766
5578,"O'Brien,Mark J",Mark,male,160808.0,203096.0,Boston Fire Department,Fire Captain Administration,"{'name': 'Mark', 'gender': 'male', 'probabilit...",NaN,9363.0,32925.0,NaN,NaN,NaN,2360
3096,"McNeil,Alexandra M",Alexandra,female,159961.0,159961.0,Asst Superintendent-Network A,Instructional Superintendent,"{'name': 'Alexandra', 'gender': 'female', 'pro...",NaN,NaN,NaN,NaN,NaN,NaN,2135
2603,"Driscoll,Mary E",Mary,female,159917.0,159917.0,Asst Superintendent-Network A,Instructional Superintendent,"{'name': 'Mary', 'gender': 'female', 'probabil...",NaN,NaN,NaN,NaN,NaN,NaN,2131
1346,"Baston,Nora L",Nora,female,159104.0,209986.0,Boston Police Department,Dep Supn (Bpd),"{'name': 'Nora', 'gender': 'female', 'probabil...",NaN,21050.0,NaN,NaN,NaN,29832.0,2131
487,"Cotter,Winifred",Winifred,female,158908.0,215802.0,Boston Police Department,Dep Supn (Bpd),"{'name': 'Winifred', 'gender': 'female', 'prob...",NaN,21478.0,5621.0,NaN,NaN,29795.0,2127
6120,"Forristall,John J.",John,male,158861.0,197496.0,Boston Fire Department,Fire Captain Admn-Advance Tech,"{'name': 'John', 'gender': 'male', 'probabilit...",NaN,4311.0,32634.0,1689.0,NaN,NaN,1970
2357,"Taylor,Albert L",Albert,male,158250.0,158250.0,Chief Operating Officer,Operational Superintendent,"{'name': 'Albert', 'gender': 'male', 'probabil...",NaN,NaN,NaN,NaN,NaN,NaN,2148

In [26]:
d_2017_top_500[d_2017_top_500['name'].str.contains(r"\bMakeeba\b", case = False)]

,name,firstName,gender,salary,totalSalary,dept,title,genderize_results,retroactive,other,overtime,injured,detail,quinn_education_incentive,zip_code
17981,"McCreary,Makeeba",Makeeba,female,177890.0,177890.0,Advancement & Ext. Affairs,Managing Partner,"{'name': 'Makeeba', 'gender': 'female', 'proba...",NaN,NaN,NaN,NaN,NaN,NaN,2130

In [27]:
d_2017_top_500[d_2017_top_500['name'].str.contains(r"\bMarice\b", case = False)]

,name,firstName,gender,salary,totalSalary,dept,title,genderize_results,retroactive,other,overtime,injured,detail,quinn_education_incentive,zip_code
3300,"Edouard-Vincent,Marice M",Marice,male,163661.0,163661.0,Asst Superintendent-Network A,Instructional Superintendent,"{'name': 'Marice', 'gender': 'male', 'probabil...",NaN,NaN,NaN,NaN,NaN,NaN,2136

Marice should be a woman, since I looked her and makeeba up im going to fix in the data set..
13129          McCreary,Makeeba   Makeeba                 Communications   
6050   Edouard-Vincent,Marice M    Marice  Asst Superintendent-Network A

In [28]:
d_2017_top_500.loc[d_2017_top_500['name'] == "Edouard-Vincent,Marice M", "gender"] = "female"
d_2017_top_500['gender'].value_counts()
#more than 3 to 1 me

male      363
female    119
Name: gender, dtype: int64

In [29]:
#this is a repeat from earlier but can't hurt 
salarySorted = d_2017_top_500.sort_values(by='salary', ascending=False)
salarySorted.head()

,name,firstName,gender,salary,totalSalary,dept,title,genderize_results,retroactive,other,overtime,injured,detail,quinn_education_incentive,zip_code
17977,"Chang,Tommy",Tommy,male,264661.0,270661.0,Superintendent,Superintendent,"{'name': 'Tommy', 'gender': 'male', 'probabili...",NaN,6000.0,NaN,NaN,NaN,NaN,2131
36,"Evans,William B",William,male,230000.0,238846.0,Boston Police Department,Commissioner (Bpd),"{'name': 'William', 'gender': 'male', 'probabi...",NaN,8846.0,NaN,NaN,NaN,NaN,2127
6209,"Fontana,Gerard T.",Gerard,male,220489.0,245477.0,Boston Fire Department,Chief of Field Services,"{'name': 'Gerard', 'gender': 'male', 'probabil...",NaN,20092.0,4896.0,NaN,NaN,NaN,2169
5368,"Walsh,John Francis",John,male,217823.0,241428.0,Boston Fire Department,Chief of Support Services,"{'name': 'John', 'gender': 'male', 'probabilit...",NaN,23605.0,NaN,NaN,NaN,NaN,2184
5561,"Granara,David Richard",David,male,206172.0,223437.0,Boston Fire Department,DepFireChiefAdmn-AdvTechnician,"{'name': 'David', 'gender': 'male', 'probabili...",NaN,12375.0,4889.0,NaN,NaN,NaN,2128

the csv used for d3(v3) jsI want to update has this: columns are name, firstName, dept, salary, totalSalary(still has $), gender -- is just F or M 
so make a truncated version of the csv
name in this style to be like existing csv:
a_data_boston_2014_employee_top_100

In [30]:
#gender count for top 100 is 100 -- not true with top 500 etc

In [31]:
#make csv with just the earlier data columns ie 6 of them newdf = df[(df['column_one']>2004) & (df['column_two']==9)]
#AND JUST PICK THE TOP 100 
shortForCsv = salarySorted[["name", "firstName","dept", "salary", "totalSalary","gender"]].head(100)
#df1 = df[['a','b']]
#df1 = df.ix[:,0:2]
shortForCsv['gender'].value_counts()

male      89
female    11
Name: gender, dtype: int64

McCreary - F
https://www.bostonpublicschools.org/site/default.aspx?PageType=3&ModuleInstanceID=9715&ViewID=7b97f7ed-8e5e-4120-848f-a8b4987d588f&RenderLoc=0&FlexDataID=7541&PageID=4853

 Edouard-Vincent,Marice - F
https://twitter.com/netsuptb?lang=en

McGovern,Ryan J -- M
http://www.firehouse.com/news/11252963/after-falling-through-floor-boston-firefighter-thankful-for-minor-injuries

Franklin-Hodge,Jascha -- M
https://www.boston.gov/departments/innovation-and-technology/jascha-franklin-hodge

  Nee,Kelly A  -- F
https://www.youtube.com/watch?v=2x7OrSKi_04

 Driscoll,Mary E      Mary  Asst Superintendent-Network A - F
 https://www.bc.edu/schools/csom/lynchacademy/alumni/2012/Driscoll.html
 
  Hung,Kelly M     Kelly  Asst Superintendent-Network A  153503.93 -- F
  
  https://www.bc.edu/schools/csom/lynchacademy/alumni/2014/KHung.html

it seems like tommy chang is top earner but comes up as superintendent, rather than school system. going to take a look at how they label departments in the larger data set..

In [32]:

shortForCsv["dept"].value_counts()

Boston Fire Department           68
Boston Police Department         19
Asst Superintendent-Network A     5
Chief Academic Officer            1
Boston Public Library             1
Mayor's Office                    1
Chief Operating Officer           1
Superintendent                    1
Kennedy, EM Health Academy        1
Advancement & Ext. Affairs        1
Strategy Department               1
Name: dept, dtype: int64

I'm going to group the schools for the top 100 under Boston Public Schools

In [33]:
test = shortForCsv[(shortForCsv['dept']== "Fam & Student Engagemt")]
test1 = shortForCsv[(shortForCsv['dept']== "Achievement Gap")]
test2 = shortForCsv[(shortForCsv['dept']== "Kennedy, EM Health Academy")]

test2

,name,firstName,dept,salary,totalSalary,gender
2693,"Walker Gregory,Caren S",Caren,"Kennedy, EM Health Academy",163720.0,163720.0,female

In [34]:
#are law and innovation technically part of mayors office? check for next time

In [35]:
shortForCsv.loc[shortForCsv['dept'] == "Asst Superintendent-Network A", "dept"] = "Boston Public Schools"
shortForCsv.loc[shortForCsv['dept'] == "BPS Special Education", "dept"] = "Boston Public Schools"
shortForCsv.loc[shortForCsv['dept'] == "Fam & Student Engagemt", "dept"] = "Boston Public Schools"
shortForCsv.loc[shortForCsv['dept'] == "Achievement Gap", "dept"] = "Boston Public Schools"
shortForCsv.loc[shortForCsv['dept'] == "Kennedy, EM Health Academy", "dept"] = "Boston Public Schools"
shortForCsv.loc[shortForCsv['dept'] == "BPS Human Resource Team", "dept"] = "Boston Public Schools"
shortForCsv.loc[shortForCsv['dept'] == "Superintendent", "dept"] = "Boston Public Schools"
shortForCsv.loc[shortForCsv['dept'] == "Law Department", "dept"] = "Law"
shortForCsv.loc[shortForCsv['dept'] == "Dpt of Innovation & Technology", "dept"] = "Innovation & Technology"
shortForCsv.loc[shortForCsv['dept'] == "Strategy Department", "dept"] = "Boston Public Schools"
shortForCsv.loc[shortForCsv['dept'] == "Chief Operating Officer", "dept"] = "Mayor's Office"
shortForCsv.loc[shortForCsv['dept'] == "Chief Academic Officer", "dept"] = "Boston Public Schools"
shortForCsv.loc[shortForCsv['dept'] == "Advancement & Ext. Affairs", "dept"] = "Boston Public Schools"

as of 2017 adding Advancement & Ext. Affairs  to mayors office, Chief Operating Officer to mayor's office, Chief Academic Officer to schools, and Strategy Department to schools ... they make money in that strat dept!

In [36]:
shortForCsv["dept"].value_counts()

Boston Fire Department      68
Boston Police Department    19
Boston Public Schools       10
Mayor's Office               2
Boston Public Library        1
Name: dept, dtype: int64

In [37]:
d_2017_top_500["dept"].value_counts()

Boston Fire Department            218
Boston Police Department           76
Chief Operating Officer             8
Asst Superintendent-Network A       8
Teaching & Learning                 6
Dpt of Innovation & Technology      5
BPS Madison Park High               4
Info & Instr Technology             4
Mayor's Office                      4
BPS Facility Mgmt/A & R             4
BPS Special Education               3
Tech Boston Academy                 3
Law Department                      3
Jackson/Mann K-8                    3
Public Facilities Department        3
Chief Financial Officer             3
BPS Human Resource Team             3
Tobin K-8                           2
BPS Hennigan Elementary             2
Early Learning Services             2
Assessing Department                2
Boston Public Library               2
Treasury-Treasury Division          2
Superintendent                      2
Unified Student Svc                 2
BPS Mather Elementary               2
WREC: Urban Science Academy         2
Traffic Division                    2
Public Works Department             2
BPS High School Renewal             2
                                 ...
BPS Business Service                1
BPS Ellis Elementary                1
BPS Counseling & Intervtn Ct        1
BPS Guild Elementary                1
BPS Mendell Elementary              1
BPS Mason Elementary                1
Career & Technical Ed               1
Umana Middle                        1
BPS Boston International HS         1
Lyon Pilot High 9-12                1
Greater Egleston High               1
BPS Latin Academy                   1
BPS Burke High                      1
Parks Department                    1
Mattapan Early Elementary           1
Eliot K-8                           1
Higginson/Lewis K-8                 1
BPS Quincy Elementary               1
English Language Learn              1
BPS Equity                          1
BPS Adams Elementary                1
Food & Nutrition Svc                1
BPS Higginson Elementary            1
BPS Manning Elementary              1
BPS Kenny Elementary                1
Mildred Avenue K-8                  1
BPS Tynan Elementary                1
Warren/Prescott K-8                 1
BPS Sumner Elementary               1
Baldwin ELC                         1
Name: dept, Length: 142, dtype: int64

In [38]:
d_2017_top_500['gender'].value_counts() 
# men outnumer women more than 3 to 1 in top 500
# WHY DOESNT THIS ADD UP TO 500??

male      363
female    119
Name: gender, dtype: int64

In [39]:
d_2017_top_500.count()

name                         500
firstName                    500
gender                       482
salary                       500
totalSalary                  500
dept                         500
title                        500
genderize_results            500
retroactive                    0
other                        360
overtime                     277
injured                       39
detail                       105
quinn_education_incentive     68
zip_code                     500
dtype: int64

In [40]:
print(shortForCsv)

                           name    firstName                      dept  \
17977               Chang,Tommy        Tommy     Boston Public Schools
36              Evans,William B      William  Boston Police Department
6209          Fontana,Gerard T.       Gerard    Boston Fire Department
5368         Walsh,John Francis         John    Boston Fire Department
5561      Granara,David Richard        David    Boston Fire Department
6016             Finn,Joseph E.       Joseph    Boston Fire Department
5383             Maughn,Reynold      Reynold    Boston Fire Department
5657               Dempsey,John         John    Boston Fire Department
6303           McMahon,Joseph G       Joseph    Boston Fire Department
6131           Walsh,David John        David    Boston Fire Department
6191             Malone,Scott J        Scott    Boston Fire Department
185            Gross,William G.      William  Boston Police Department
13196           Leonard,David J        David     Boston Public Library
6516         Stallworth,Andre R        Andre    Boston Fire Department
5840        Calobrisi,Robert J.       Robert    Boston Fire Department
6316     Fleming,Joseph Michael       Joseph    Boston Fire Department
5874          Ruggere,Michael J      Michael    Boston Fire Department
5454           Tully,Bernard J.      Bernard    Boston Fire Department
790             Mancini,Frank A        Frank  Boston Police Department
166              Holmes,Lisa R.         Lisa  Boston Police Department
240             Buckley,Kevin J        Kevin  Boston Police Department
6160            Jones,Francis G      Francis    Boston Fire Department
6054            Costin,Dennis B       Dennis    Boston Fire Department
328            Ridge,William G.      William  Boston Police Department
5658         Doherty,Michael J.      Michael    Boston Fire Department
113                Daley,John J         John  Boston Police Department
5565          McNulty,Joseph G.       Joseph    Boston Fire Department
6543          Paschal,Stephen P      Stephen    Boston Fire Department
5487            Keeley,Dennis L       Dennis    Boston Fire Department
1316             Long,Gregory P      Gregory  Boston Police Department
...                         ...          ...                       ...
3300   Edouard-Vincent,Marice M       Marice     Boston Public Schools
1262             Donovan,Beth E         Beth  Boston Police Department
6180            Raymond,Mark J.         Mark    Boston Fire Department
7510          Burke,Christopher  Christopher    Boston Fire Department
5587          Whitman,Jeffrey M      Jeffrey    Boston Fire Department
5652             Stapleton,John         John    Boston Fire Department
812              White,Dennis A       Dennis  Boston Police Department
768               Cox,Michael A      Michael  Boston Police Department
634           Walcott,Jeffrey I      Jeffrey  Boston Police Department
822             Bailey,Gerard W       Gerard  Boston Police Department
813            Whitman,Steven M       Steven  Boston Police Department
6095         Rodriguez,Jonathan     Jonathan    Boston Fire Department
7520         Sloane,Christopher  Christopher    Boston Fire Department
5817           McNeil,Stephen D      Stephen    Boston Fire Department
6369             Cuddahy,Don F.          Don    Boston Fire Department
6405            Pettaway,Erik C         Erik    Boston Fire Department
6256             Heelen,Brian P        Brian    Boston Fire Department
6511              Smith,Timothy      Timothy    Boston Fire Department
5329               Hoar,James J        James    Boston Fire Department
5913        Harrington,Ronald A       Ronald    Boston Fire Department
11765              Viola,Gerard       Gerard    Boston Fire Department
18039          Landman,Jonathan     Jonathan     Boston Public Schools
10334          McGovern,Ryan J.         Ryan    Boston Fire Department
5578             O'Brien,Mark J         Mark    Boston Fire Department
3096         McNeil,Alexandra M    Alexandra     Boston Public Schools
2603            Driscoll,Mary E         Mary     Boston Public Schools
1346              Baston,Nora L         Nora  Boston Police Department
487             Cotter,Winifred     Winifred  Boston Police Department
6120         Forristall,John J.         John    Boston Fire Department
2357            Taylor,Albert L       Albert            Mayor's Office

         salary  totalSalary  gender
17977  264661.0     270661.0    male
36     230000.0     238846.0    male
6209   220489.0     245477.0    male
5368   217823.0     241428.0    male
5561   206172.0     223437.0    male
6016   205208.0     221615.0    male
5383   202996.0     226466.0    male
5657   202861.0     245161.0    male
6303   202727.0     245570.0    male
6131   202246.0     211915.0    male
6191   201364.0     254949.0    male
185    199244.0     225338.0    male
13196  190000.0     210654.0    male
6516   187325.0     238724.0    male
5840   186929.0     233349.0    male
6316   186929.0     224814.0    male
5874   186929.0     244362.0    male
5454   186105.0     220720.0    male
790    181983.0     239961.0    male
166    181983.0     229069.0  female
240    181983.0     239961.0    male
6160   181241.0     199607.0    male
6054   180416.0     277784.0    male
328    180369.0     238094.0    male
5658   180130.0     240484.0    male
113    179864.0     202469.0    male
5565   179272.0     230128.0    male
6543   178906.0     214966.0    male
5487   178722.0     218338.0    male
1316   178601.0     235517.0    male
...         ...          ...     ...
3300   163661.0     163661.0  female
1262   163517.0     197721.0  female
6180   163455.0     206791.0    male
7510   163435.0     186055.0    male
5587   163312.0     209921.0    male
5652   163210.0     198315.0    male
812    163209.0     209168.0    male
768    163209.0     215339.0    male
634    163209.0     209218.0    male
822    163209.0     217839.0    male
813    163209.0     209168.0    male
6095   163131.0     198760.0    male
7520   163032.0     199726.0    male
5817   162647.0     223266.0    male
6369   162647.0     207863.0    male
6405   162631.0     190533.0    male
6256   162385.0     208777.0    male
6511   162352.0     213614.0    male
5329   162153.0     219462.0    male
5913   162023.0     233784.0    male
11765  161366.0     202197.0    male
18039  161311.0     161311.0    male
10334  160937.0     176558.0    male
5578   160808.0     203096.0    male
3096   159961.0     159961.0  female
2603   159917.0     159917.0  female
1346   159104.0     209986.0  female
487    158908.0     215802.0  female
6120   158861.0     197496.0    male
2357   158250.0     158250.0    male

[100 rows x 6 columns]

In [41]:
shortForCsv.to_csv("top100_2017", index=False)

In [42]:
b = d_2017[(d_2017['dept']== "Superintendent")]
b
#could check to see if all these people are in BPS to change the category overall..

,name,dept,title,salary,retroactive,other,overtime,injured,detail,quinn_education_incentive,totalSalary,zip_code,firstName
17977,"Chang,Tommy",Superintendent,Superintendent,264661.0,NaN,6000.0,NaN,NaN,NaN,NaN,270661.0,2131,Tommy
18041,"Welch Jr.,Thomas M.",Superintendent,Senior Advisor (E),157922.0,NaN,NaN,NaN,NaN,NaN,NaN,157922.0,2128,Thomas
1509,"Feeney,Patricia A.",Superintendent,Special Assistant (D),106519.0,NaN,NaN,NaN,NaN,NaN,NaN,106519.0,2124,Patricia
19492,"Ramos,Lydia L",Superintendent,Senior Advisor (E),96202.0,NaN,NaN,NaN,NaN,NaN,NaN,96202.0,90813,Lydia
1791,"Holland,Albert D",Superintendent,Employment Agreement,69020.0,NaN,NaN,NaN,NaN,NaN,NaN,69020.0,2122,Albert
1918,"Connolly,Barbara F",Superintendent,Special Assistant (D),61542.0,NaN,25766.0,NaN,NaN,NaN,NaN,87308.0,2127,Barbara
21267,"Fraenkel,Gabrielle",Superintendent,Manager (C) (non-ac),27098.0,NaN,NaN,NaN,NaN,NaN,NaN,27098.0,2111,Gabrielle
7353,"Jackson,Queon N.",Superintendent,Asst Director (Basas 10B),NaN,NaN,29730.0,NaN,NaN,NaN,NaN,29730.0,2186,Queon

In [43]:
c = d_2017[(d_2017['dept']== "Advancement & Ext. Affairs")]
c

,name,dept,title,salary,retroactive,other,overtime,injured,detail,quinn_education_incentive,totalSalary,zip_code,firstName
17981,"McCreary,Makeeba",Advancement & Ext. Affairs,Managing Partner,177890.0,NaN,NaN,NaN,NaN,NaN,NaN,177890.0,2130,Makeeba
17078,"Atkinson,Teresa",Advancement & Ext. Affairs,Deputy Chief of Staff,81263.0,NaN,NaN,NaN,NaN,NaN,NaN,81263.0,2129,Teresa
19368,"Wilson,Hannah O",Advancement & Ext. Affairs,Manager (C) (non-ac),72535.0,NaN,NaN,NaN,NaN,NaN,NaN,72535.0,2130,Hannah
15270,"Onuoha,Stanley I",Advancement & Ext. Affairs,Director (E) (non-ac),64615.0,NaN,NaN,NaN,NaN,NaN,NaN,64615.0,2120,Stanley
16629,"Crystal,Danielle",Advancement & Ext. Affairs,Deputy Chief of Staff,56563.0,NaN,6355.0,NaN,NaN,NaN,NaN,62918.0,98121,Danielle
21707,"Harden,Nadia Kelley",Advancement & Ext. Affairs,Manager (C) (non-ac),20211.0,NaN,NaN,NaN,NaN,NaN,NaN,20211.0,2125,Nadia
14955,"Crudele,Lindsay Louise",Advancement & Ext. Affairs,Employment Agreement,11400.0,NaN,NaN,NaN,NaN,NaN,NaN,11400.0,2130,Lindsay

In [44]:
max(shortForCsv.salary)

264661.0

In [45]:
min(shortForCsv.salary)

158250.0